<div id="indexPage" data-ng-controller="footerController">
  <section id="aboutUsPage" class="hero">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="logo"><a data-ng-click="homePage()"><img src="images/logo-white.png" alt="Commun.ity logo" id="indexPagelogo" class="indexPagelogo"></a></div>
                 
                    <div class="navicon">
                        <a class="nav-toggle" href="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="hero-content">
                     <h2>About Commun.ity</h2>
                        <p class="introduction">Commun.ity is all about open collaboration with no ifs, ands, buts or secrets about it.
</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
       <section class="about-us-footer-section section-padding">
        <div class="container">
        <div class="row">
        <div class="col-md-9 about-us-content">
       <div class="col-md-12">
                <div class="aboutusdiv">
                <div class="aboutusheadings">What we do</div>
                <p class="whatwedo">
                We are the facilitators of community-building in your neighborhood, an app that extends far beyond the digital realm. As we energize and engage you and members of your locale to work together, close-knit relationships, honest conversation and a chain reaction of support will occur in your physical world.<br>
                Commun.ity is much more than its given features. The startup aims to rebuild a culture of open, nonjudgmental discussions. This is all while creating a sustainable community that breaks down communication barriers.
                </p>
            </div>
              </div>
              <div class="col-md-12">
                <div class="aboutusdiv">
                <div class="aboutusheadings">Meet the founder</div>
                <div class="founder-image">
      <img src="images/AditiMadane.jpg">
      </div>
       <div class="founder-content">
      "The impact of Commun.ity really is reducing the isolation people feel sometimes, to be able to easily connect with the people near you or to form new friendships, to be really engaged," said Commun.ity founder Aditi Madane.

Madane is an innovative entrepreneur who formed Commun.ity with her passion helping others and her desire to create welcoming neighborhoods for all. She has over a decade of experience in developing software programs. Now she is very excited to build create technology that builds human connections.
      
      </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>
    </div>