<div id="apartmentPage" data-ng-controller="apartmentCtrl">
<div class="loader" data-ng-if="loading"></div>
 <!-- =========================
     START ABOUT US SECTION
============================== -->
    <section class="header parallax home-parallax page" id="churchHeader">
        <div class="section_overlay">
            <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="apartmentNavbar">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="images/logo-color.png" alt="Logo">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!-- NAV -->
                            <li><a href="#ABOUT">ADVANTAGES FOR THE CHURCH </a> </li>
                            <li><a href="#AdvantagesForResidents">ADVANTAGES FOR THE MEMBERS</a></li>
                            <li><a href="#FeaturesInApartment">FEATURES</a> </li>
                            <li><a href="#SCREENS">SCREENSHOTS</a> </li>

                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container- -->
            </nav>

            <div class="container home-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo text-center">
                                <!-- LOGO -->
                            <a data-ng-click="homePage();"><img  src="images/logo-white.png" alt="Commun.ity"></a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="home_text">
                            <!-- TITLE AND DESC -->
                            <h1>Engage with your members and build your own connected community</h1>

                            <div class="download-btn">
                            <!-- BUTTON -->
                                <a href="#ABOUT" class="btn btn-fill btn-small">Take a tour <i class="fa fa-angle-down"></i></a>
                            </div>
                        </div>
                    </div>
             
                </div>
            </div>
        </div>
    </section>

    <!-- END HEADER SECTION -->




 <!-- =========================
     START Advantages for you SECTION
============================== -->
<section class="about page" id="ABOUT">
        <div class="inner_about_area">
            <div class="container">
                <div class="row">
                    <div class="col-md-6" style="padding-left: 0;padding-right:0">
                        <div class="about_phone wow fadeInLeft">
                        <!-- PHONE -->
                            <img src="images/church1.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-6 wow fadeInRight">
                        <!-- TITLE -->
                        <div class="inner_about_title" id="advantagesforchurchheading">
                            <h2>Advantages for the church</h2>
                        </div>
                        <div class="inner_about_desc">
                            <div class="single_about_area fadeInUp wow">
                                <div class="advantages-icon"><img src="images/advantages1.png" ></div>
                                <p>Easy tool to engage and energize your church community</p>
                            </div>
                            <div class="single_about_area fadeInUp wow">
                                <div class="advantages-icon"><img src="images/advantages2.png" class=""></div>
                                <p style="padding-top:8px;">Increased engagement of members lead to better attendance rates and more giving</p>
                            </div>
                
                            <div class="single_about_area fadeInUp wow">
                                <div class="advantages-icon"><img src="images/advantages3.png" class="pe-7s-stopwatch"></div>
                                <p>Patrons feel more connected with their church</p>
                            </div>
                                        <div class="single_about_area fadeInUp wow" style="padding-bottom:25px">
                               
                                <div class="advantages-icon"><img src="images/churchAvdantage4.png" class="pe-7s-stopwatch"></div>
                                     <p style="padding-top: 8px">Bring the younger generation back to the church by connecting with them through technology</p>
                            </div>
                            <div class="single_about_area fadeInUp wow">
                                 <div class="advantages-icon"><img src="images/advantages4.png" class="pe-7s-stopwatch"></div>
                                     <p>Be a Beta user for no initial cost as similar programs cost over $25K</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
<!-- =========================
     Start Advantages for residents SECTION
============================== -->
 <section class="AdvantagesForResidents" id="AdvantagesForResidents">
            <div class="container">
                <div class="row">
                  <div class="apartment_title">
                            <h2>Advantages for the members</h2>
                        </div>
                 <div class="col-md-11 col-md-offset-1" id="advForResidentsMain">
                 <div class="col-md-3 advForResidentsSubDivs">
                   <div class="feature-icon">
                                  <img src="images/church.png"/>
                                </div>
                                <div class="feature-content">
                                    <p>Stay connected to the church between Sunday prayers<br></p>
                                </div>
                 </div>
                    <div class="col-md-3 advForResidentsSubDivs">
                 <div class="feature-icon">
                             <img src="images/advResidents1.png"/>
                                </div>
                                <div class="feature-content">
                                    <p>Build relationships with others in your church community</p>
                                </div>
                 </div>
                    <div class="col-md-3 advForResidentsSubDivs">
                      <div class="feature-icon">
                               <img src="images/advResidents2.png"/>
                                </div>
                                <div class="feature-content">
                                    <p>Create your support network with your community helpers</p>
                                </div>
                 </div>
                 <div class="col-md-3">
                   <div class="feature-icon">
                               <img src="images/advResidents3.png"/>
                                </div>
                                <div class="feature-content">
                                    <p>Grow your business with the support of your church members
</p>
                                </div>
                 </div>
                 </div>
                </div>
            </div>
    </section>
<!-- =========================
     Start video SECTION
============================== -->
<!--<section class="communityVideo" id="communityVideo">
            <div class="container">
                <div class="row">
                  <div class="apartment_title">
                            <h2>Watch our Video</h2>
                        </div>
<div class="video_area">
            <div class="container">
                <div class="row">
                <!--     <div class="col-md-6 wow fadeInLeftBig">
                        <div class="video_title">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip</p>
                        </div>
                    </div> --> 
               <!--      <div class="col-md-10 col-md-offset-2 wow fadeInRightBig">
                         <!-- VIDEO -->
                    <!--    <div class="video">
                           			<video width="760" height="480" controls="controls">
  <source src="{{communityPaths+'Community-FinalPromo.mp4'}}"/>
</video>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</div>
</section>
-->
<!-- =========================
     Start Fearures SECTION
============================== -->
 <section class="FeaturesInApartment" id="FeaturesInApartment">
            <div class="container">
                <div class="row">
                  <div class="apartment_title">
                            <h2>Features</h2>
                        </div>
             
                <div class="col-md-6" style="padding-left:0">
                    <div class="feature-list-apartment">
                        <ul class="features-stack-apartment">
                            <li class="feature-item">
                                <div class="feature-content">
                                    <h4>Engage with your members</h4>
                                    <p>With Commun.ity, you can keep in touch with your members through social media style updates, easily organize events and much more.
</p>
                                </div>
                            </li>
                            <li class="feature-item">     
                                <div class="feature-content">
                                    <h4>Support your members</h4>
                                    <p>Our website allows members to support each other by offering services like babysitting, petsitting or running errands in a safe & friendly way.</p>
                                </div>
                            </li>
                            <li class="feature-item"> 
                                <div class="feature-content">
                                    <h4>Build Trusted & Friendly community</h4>
                                    <p>Always stay connected with the members. Interact with your community, help each other, and build friendships and trust.</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                   <div class="col-md-6" style="padding-right:15px;padding-left: 0">
                <img src="images/laptopApartment.png">
                </div>
                </div>
            </div>
    </section>
<!-- =========================
     Start APPS SCREEN SECTION
============================== -->
    <section class="apps_screen page" id="SCREENS">
            <div class="container">
                <div class="row">
                  <div class="apartment_title">
                            <h2>Screenshots</h2>
                        </div>
                </div>
            </div>

        <div class="screen_slider">
            <div id="demo">
                <div id="owl-demo" class="owl-carousel">
                    <!-- APPS SCREEN IMAGES -->
                    <div class="item">
                    <a href="images/laptopApartment.png" rel="prettyPhoto[pp_gal]"><img src="images/laptopApartment.png" alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="images/laptopApartment1.png" rel="prettyPhoto[pp_gal]"><img src="images/laptopApartment1.png"  alt="APPS SCREEN" /></a>
                    </div>
                    <div class="item">
                        <a href="images/laptopApartment2.png" rel="prettyPhoto[pp_gal]"><img src="images/laptopApartment2.png" alt="APPS SCREEN" /></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- =========================
     Start Contact us SECTION
============================== -->
    <section class="contactUsSection">
            <div class="container">
                <div class="row">
                  <div class="apartment_title" id="contact-title">
                            <h2>Contact Us</h2>
                        </div>
                </div>
            </div>
 <div class="row">
   <div class="col-md-7 contactTextDiv">
 <div class="contactimage">
 <img alt="" src="images/envelope.png">
 </div>
        <div class="contactText">
        Have a question? Want to give us feedback? Contact us on <span id="contactemail">info@communityforus.com</span>.</div>
                <div class="joinLargeBtn">  <a data-toggle="modal" data-target="#popup-sing-up" class="btn btn-fill btn-large">Join Commun.ity</a></div>
        </div>
        </div>
    </section>
      <div class="modal fade" id="popup-sing-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="popup-box">
       	<div class="container">
		<div class="row">
    		<div class="form-page">
          <div class="box-sing-up">
          <h2>Contact Us</h2>
              <form name="signUpForm">
                  <p>
              	  		<div class="alert alert-danger" id="error" style="display:none">
  							<strong>Danger!</strong>
			      		</div>
              	  </p>  
                   <p class="name"> 
                     <label>First Name<span>*</span></label>
                     <input type="text"  title="First Name" placeholder="Firstnamefilledout" data-ng-model="contactForm.firstName" required/>
                   </p>
                   <p class="name"> 
                     <label>Last Name<span>*</span></label>
                     <input type="text"  title="Last Name" placeholder="Lastnamefilledout" data-ng-model="contactForm.lastName" required/>
                   </p>  
                   <p> 
                    <label>Email Address<span>*</span></label>
                    <input type="text"  title="Email Address" placeholder="emailaddress@filledout.com" data-ng-model="contactForm.emailAddress" required/>
                  </p>
                    <p> 
                     <label>Community Type<span>*</span></label>
                   <select data-ng-model="contactForm.communityType" style="margin-top: 5px;margin-left: 2px" required>
											<option data-ng-repeat="communityTypes in communityTypes"
												value="{{communityTypes}}">{{communityTypes}}</option>
										</select>
                   </p>
                   <p> 
                     <label>Tell us a lil more</label>
<textarea rows="4" cols="4" data-ng-model="contactForm.ssn"></textarea>
                   </p>
               <!--      <p><em>Please create a password that has < password parameters required> </em></p>   -->
                  
                  <p class="text-right"><a href="" title="Sign Up" class="btn" data-ng-click="contactFormSubmit();" data-ng-disabled="signUpForm.$invalid">Submit</a></p>
                  </form>    
            </div>
         </div> 
    </div>
</div>   
       </div>
    	</div>   
		</div>
</div>
    </div>