<div data-ng-controller="eventsCalendar">
<div class="loader" data-ng-if="loading1"></div>
	<div class="content-area step-container">
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h2>Commun.ity Events</h2>
				
				<div class="frow eventCalendarFrow">
				<div class="frow-box">
				        <div class="row">
				        <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
				        <div class="rsvpinCalendar">Going</div><div class="colorBoxes goingBox"></div>
				        </div>
				        <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
				        <div class="rsvpinCalendar">Not Going</div><div class="colorBoxes notgoingBox"></div>
				        </div>
				        <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
				        <div class="rsvpinCalendar">Maybe</div><div class="colorBoxes maybeBox"></div>
				        </div>
				        <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2">
				        <div class="rsvpinCalendar">No RSVP</div><div class="colorBoxes norsvpBox"></div>
				        </div>
				        </div>
						<div id="eventcalendar"></div>
					</div>
				</div>
				</div>
		</div>
	</div>
	<div class="push"></div>
	<div class="modal fade" id="popup-calendarevent" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="box-sing-up">
								<h5>Event Details</h5>
						<div class="frow-box">
								<div>
									<div>
										<p>
										 <strong class="titles">{{eventDetails[selectIndex].title}}</strong><br/>
										</p>
										<p>
											<b class="eventTimings">When:</b>&nbsp{{eventDetails[selectIndex].eventDate |
											date:"MM/dd/y"}}<br> <b class="eventTimings">Time:</b>&nbsp{{eventDetails[selectIndex].startTime
											| date:"hh:mm a"}}&nbsp&nbspto&nbsp{{eventDetails[selectIndex].endTime |
											date:"hh:mm a"}}<br> <b class="eventTimings">Location:</b>&nbsp{{eventDetails[selectIndex].location}}
										</p>
										<p id="newsBoardDescr">
											<span data-ng-bind-html="eventDetails[selectIndex].description | linky:'_blank'"></span>
										<p data-ng-show="eventDetails[selectIndex].eventImg">
											<img src="{{communityPaths+'events/'+eventDetails[selectIndex].eventImg}}"
												title="Event" class="img-responsive newsImage"/>
										</p>
									</div>
									<div class="news-btn">
										<ul class="list-news-btn" >
											<li
												data-ng-class="{selectedRsvp:eventDetails[selectIndex].eventsrsvp.rsvp=='Going'}"
												class="going"><a title="Going"
												data-ng-click="rsvpEvents(eventDetails[selectIndex].eventID,'Going');">Going</a>
											</li>
											<li
												data-ng-class="{selectedRsvp:eventDetails[selectIndex].eventsrsvp.rsvp=='Not Going'}"
												class="not-going"><a title="Not Going"
												data-ng-click="rsvpEvents(eventDetails[selectIndex].eventID,'Not Going');">Not
													Going</a></li>
											<li
												data-ng-class="{selectedRsvp:eventDetails[selectIndex].eventsrsvp.rsvp=='Maybe'}"
												class="maybe"><a title="Maybe"
												data-ng-click="rsvpEvents(eventDetails[selectIndex].eventID,'Maybe');">Maybe</a>
											</li>
										</ul>
									</div>

								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

