<div data-ng-controller="communityMembersCtrl">
	<div class="content-area step-container">
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h2>Commun.ity Members</h2>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 memberImgDiv" data-ng-repeat="member in members">
<img class="img-responsive commMemberImg" data-ng-if="!member.profilePic" src="images/Commun-ity_03.png"/> 
<img class="img-responsive commMemberImg" data-ng-if="member.profilePic" src="{{communityPaths+'profile_pics/'+member.profilePic}}">
				<div class="overlay">
    <div class="memberInfo"><h4>{{member.firstName +" "+member.lastName}}</h4></div>
  </div>
				</div>
				
				
			</div>
		<!-- 	<br><br>
			<h4>Flipper</h4>
			<div class="flip-container">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 flip-cards" data-ng-repeat="members in members">
            <span class="front-card">
            <img class="img-responsive commMemberImg1" data-ng-if="!members.profilePic" src="images/Commun-ity_03.png"/> 
<img class="img-responsive commMemberImg1" data-ng-if="members.profilePic" src="{{communityPaths+'profile_pics/'+members.profilePic}}">
            </span>
            <span class="reverse-card" id="card1">
             <h4>{{members.firstName +" "+members.lastName}}</h4> 
        
            </span>
        </div>
       
</div> -->

			</div>
		</div>
	</div>
	<div class="push"></div>
</div>