<div id="indexPage" data-ng-controller="communityHomepageCtrl">
	<div class="loader" data-ng-if="loading"></div>
	<section class="hero" id="communityLandingHero">
		<section class="navigation">
			<header>
				<div class="header-content">
					<div class="logo">
						<a href="" data-ng-click="homePage()"><img
							src="images/logo-white.png" alt="Commun.ity logo"
							id="indexPagelogo" class="indexPagelogo"></a>
					</div>
					<div class="header-nav">
						<nav>
							<ul class="primary-nav">
								<li><a href="#howitworks">HOW IT WORKS</a></li>
								<li><a href="#communities">COMMUNITIES</a></li>
								<li><a href="#sponsors">SPONSORS</a></li>
								<li><a href="#ContactUs">CONTACT US</a></li>
							</ul>
							<ul class="member-actions">
								<li><a data-toggle="modal" data-target="#popup-login"
									class="landingSignUpBtn login">Log in</a></li>
								<li><a data-toggle="modal" data-target="#popup-sing-up"
									class="landingSignUpBtn">Sign up</a></li>
							</ul>
						</nav>
					</div>
					<div class="navicon">
						<a class="nav-toggle" data-target="#"><span></span></a>
					</div>
				</div>
			</header>
		</section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="hero-content">
						<div class="flexslider" data-ng-non-bindable>
							<ul class="slides">
								<li id="slider1">
									<h1>Connect with your Commun.ity</h1>
									<p class="introduction">Get to know the people in your
										local neighborhood or church community.</p> <!-- <a data-toggle="modal" data-target="#popup-joinnow" class="landingJoinNow">Join Now</a> -->
									<a data-toggle="modal" data-target="#popup-sing-up"
									class="landingJoinNow">Join Now</a>
								</li>
								<li id="slider2">
									<h1>Bring virtual connections to life</h1>
									<p class="introduction">With the touch of a button, receive
										community updates and let meaningful, real-life friendships
										begin</p> <!-- <a data-toggle="modal" data-target="#popup-joinnow" class="landingJoinNow">Join Now</a> -->
									<a data-toggle="modal" data-target="#popup-sing-up"
									class="landingJoinNow">Join Now</a>
								</li>
								<li id="slider3">
									<h1>See the transformation in your community</h1>
									<p class="introduction">Receive support and feel connected
										to your community</p> <!-- <a data-toggle="modal" data-target="#popup-joinnow" class="landingJoinNow">Join Now</a> -->
									<a data-toggle="modal" data-target="#popup-sing-up"
									class="landingJoinNow">Join Now</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="down-arrow floating-arrow">
			<i class="fa fa-angle-down"></i>
		</div>
	</section>
	<section class="intro section-padding" id="howitworks">
		<div class="container">
			<div class="headings">How it works</div>
			<div class="howItWorks">
				<div class="col-xs-12 col-md-11 col-md-offset-1 howitworksdiv"
					id="howitworksdiv1">
					<div class="col-md-6 intro-feature howitworksleft">
						<div class="intro-icon">
							<img src="images/commLandingHowItWorks1.png">
						</div>
						<div class="intro-content">
							<h6>1. Sign up</h6>
							<p>Sign up with Commun.ity and join your local church,
								neighborhood or apartment community.</p>
						</div>
					</div>
					<div class="col-md-6 intro-feature">
						<div class="intro-icon">
							<img src="images/commLandingHowItWorks2.png">
						</div>
						<div class="intro-content">
							<h6>2. Connect with community members</h6>
							<p>Stay up-to-date by receiving your community news or join
								the local events. Meet the members of the community.</p>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-11 col-md-offset-1 howitworksdiv">
					<div class="col-md-6 intro-feature howitworksleft">
						<div class="intro-icon">
							<img src="images/commLandingHowItWorks3.png">
						</div>
						<div class="intro-content">
							<h6>3. Support your community</h6>
							<p>Check of your to-do list faster with help from your
								community, or offer your services to get extra cash.</p>
						</div>
					</div>
					<div class="col-md-6 intro-feature">
						<div class="intro-icon lastIcon">
							<img src="images/commLandingHowItWorks4.png">
						</div>
						<div class="intro-content last">
							<h6>4. Build relationships in your community</h6>
							<p>Be part of Strong, local & friendly communities.</p>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section>
	<!--  <section class="featured-helpers-section section-padding" id="featuredhelpers">
        <div class="container">
        <div class="headings">Featured Helpers</div>
            <div class="row">
                <div class="col-md-11 col-md-offset-1" >
                                   <div class="col-md-5 featured-helpers" data-ng-repeat="subCommunities1 in subCommunities">
                                   <div class="featured-helpers-icon">
                                <img class="img-responsive"
							src="{{communityPaths}}profile_pics/Community{{subCommunities1.id+'/community1'}}"
							data-ng-if="subCommunities1.communityImages!=''"> <img
							class="img-responsive" src="images/dashboard-header-img-4.jpg"
							data-ng-if="subCommunities1.communityImages==''">
                                   </div>
                                   <div class="featured-helpers-content">
                                   <h5>{{subCommunities1.communityName}}</h5>
                                   <p><a data-toggle="modal" data-target="#popup-sing-up"
							class="btn-join"
							data-ng-click="joinCommunity(subCommunities1.referralCode)">Join</a></p>
                                   </div>
                                   </div>
                </div>  
         </div>
        </div>
        
    </section> -->
	<section class="section-padding" id="communities">
	 <div class="container">
        <div class="headings">Communities</div>
            <div class="row">
                <div class="col-md-11 col-md-offset-1" >
                                   <div class="col-md-5 featured-helpers" data-ng-repeat="subCommunities1 in subCommunities">
                                   <div class="featured-helpers-icon">
                                <img class="img-responsive"
							src="{{communityPaths}}profile_pics/Community{{subCommunities1.id+'/community1'}}"
							data-ng-if="subCommunities1.communityImages!=''"> <img
							class="img-responsive" src="images/dashboard-header-img-4.jpg"
							data-ng-if="subCommunities1.communityImages==''">
                                   </div>
                                   <div class="featured-helpers-content">
                                   <h5>{{subCommunities1.communityName}}</h5>
                                   <p><a data-toggle="modal" data-target="#popup-sing-up"
							class="btn-join"
							data-ng-click="joinCommunity(subCommunities1.referralCode)">Join</a></p>
                                   </div>
                                   </div>
                </div>  
         </div>
        </div>
		<!--  <div class="container">
			<div class="headings">Communities</div>
			<div class="col-md-1 col-lg-1"></div>
			<div class="col-xs-12 col-sm-12 col-md-11 col-lg-11">
				<div data-ng-repeat="subCommunities1 in subCommunities"
					class="col-xs-12 col-sm-5 col-md-3 col-lg-3 allCommunititesJoin">
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
						<img class="img-responsive"
							src="{{communityPaths}}profile_pics/Community{{subCommunities1.id+'/community1'}}"
							data-ng-if="subCommunities1.communityImages!=''"> <img
							class="img-responsive" src="images/dashboard-header-img-4.jpg"
							data-ng-if="subCommunities1.communityImages==''">
					</div>
					<div
						class="col-xs-6 col-sm-6 col-md-6 col-lg-6 landingCommunityName">
						{{subCommunities1.communityName}}</div>
					<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 landingJoinBtn">
						<a data-toggle="modal" data-target="#popup-sing-up"
							class="btn-join"
							data-ng-click="joinCommunity(subCommunities1.referralCode)">Join</a>
					</div>
				</div>
			</div>
		</div> -->
	</section>
	<section class="intro section-padding" id="sponsors">
		<div class="container">
			<div class="headings">Brought to you by</div>
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="frow" id="sponsorImgsDash">
					<div class="frow-box">
						<ul class="sponsorsUl">
							<li><img class="img-responsive" alt="CommunitySponsors"
								src="{{communityPaths}}/profile_pics/CommunitySponsors1/sponsorlogo_1496238589020">
							</li>
							<li><img class="img-responsive" alt="CommunitySponsors"
								src="{{communityPaths}}/profile_pics/CommunitySponsors1/sponsorlogo_1496238602338">
							</li>
							<li><img class="img-responsive" alt="CommunitySponsors"
								src="{{communityPaths}}/profile_pics/CommunitySponsors1/sponsorlogo_1496238609994">
							</li>
							<li><img class="img-responsive" alt="CommunitySponsors"
								src="{{communityPaths}}/profile_pics/CommunitySponsors1/sponsorlogo_1496238609994">
							</li>
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="ContactUs-section section-padding" id="ContactUs">
		<div class="container">
			<div class="headings">Contact Us</div>
			<div class="row">
				<div class="col-md-5 col-md-offset-1">
					<div class="feature-list">
						<ul class="features-stack">
							<li class="feature-item">
								<div class="feature-icon">
									<img src="images/commLandingContact1.png" />
								</div>
								<div class="feature-content">
									<h5>Share Your Thoughts</h5>
									<p>Have a question? Want to give us feedback? Fill out our
										contact form and we'll get back to you soon.</p>
									<hr>
								</div>
							</li>
							<li class="feature-item">
								<div class="feature-icon">
									<img src="images/commLandingContact2.png" />
								</div>
								<div class="feature-content">
									<h5>Stay Updated</h5>
									<p>Follow on Facebook, Instagram and Twitter for updates
										about Commun.ity.</p>
									<hr>
								</div>
							</li>
							<li class="feature-item">
								<div class="feature-icon">
									<img src="images/commLandingContact3.png" />
								</div>
								<div class="feature-content">
									<h5>Connect With Us</h5>
									<p>Engage with us on social media from anywhere in the
										world. We love chatting with our user community and seeing how
										our app helps you connect!</p>
									<hr>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-md-5" id="ContactUsForm">

					<form>
						<h4 class="contactusemail">info@communityforus.com</h4>
						<p>
							<input type="email" title="Email Address" placeholder="Email"
								data-ng-model="email" required />
						</p>
						<p>
							<textarea placeholder="Message" rows="5" data-ng-model="message"></textarea>
						</p>
						<p class="contactUsFormBtn">
							<a href="" class="landingContactusBtn"
								data-ng-click="contactUsEmail();">Submit</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="to-top">
		<div class="container">
			<div class="row">
				<div class="to-top-wrap">
					<a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
				</div>
			</div>
		</div>
	</section>
	<div class="modal fade" id="popup-joinnow" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="form-page">
								<div class="box-sing-up">
									<h2>Join Commun.ity</h2>
									<form name="joinNowForm">
										<p class="joinCommunityNote">We are an invite-only
											platform. Please give us your information and we will contact
											you. Thank you for your interest in Commun.ity</p>
										<p class="name">
											<label>First Name<span>*</span></label> <input type="text"
												title="First Name" placeholder="First name"
												data-ng-model="contactForm.firstName" maxlength="100"
												required />
										</p>
										<p class="name">
											<label>Last Name<span>*</span></label> <input type="text"
												title="Last Name" placeholder="Last name"
												data-ng-model="contactForm.lastName" maxlength="100"
												required />
										</p>
										<p>
											<label>Email Address<span>*</span></label> <input
												type="email" title="Email Address"
												placeholder="Email address"
												data-ng-model="contactForm.emailAddress" maxlength="100"
												required />
										</p>

										<p>
											<label>Community Type<span>*</span></label> <select
												data-ng-model="contactForm.communityType"
												style="margin-top: 5px; margin-left: 2px" required>
												<option data-ng-repeat="communityTypes in communityTypes"
													value="{{communityTypes}}">{{communityTypes}}</option>
											</select>
										</p>
										<p>
											<label>Tell us a lil more</label>
											<textarea rows="4" cols="4" data-ng-model="contactForm.ssn"></textarea>
										</p>
										<!--      <p><em>Please create a password that has < password parameters required> </em></p>   -->

										<p class="text-right">
											<a href="" title="Sign Up" class="btn btn-fill btn-small"
												data-ng-click="contactFormSubmit();"
												data-ng-disabled="joinNowForm.$invalid">Join</a>
										</p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popup-sing-up" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="form-page">
								<div class="box-sing-up">
									<h2>Sign Up</h2>
									<form name="signUpForm">
										<p class="joinCommunityNote">We are an invite-only
											platform. Please give us your information and we will contact
											you. Thank you for your interest in Commun.ity</p>
										<p class="name">
											<label>First Name<span>*</span></label> <input type="text"
												title="First Name" placeholder="First name"
												data-ng-model="signup.firstName" maxlength="100" required />
										</p>

										<p class="name">
											<label>Last Name<span>*</span></label> <input type="text"
												title="Last Name" placeholder="Last name"
												data-ng-model="signup.lastName" maxlength="100" required />
										</p>
										<p>
											<label>Email Address<span>*</span></label> <input
												type="email" title="Email Address"
												placeholder="Email address"
												data-ng-model="signup.emailAddress" maxlength="100" required />
										</p>


										<!--    <p> 
                     <label>Phone Number <span></span></label>
                     <input type="text"  title="Referral Code" ng-model="signup.phoneNumber"/>
                   </p> -->
										<p id="commList" data-ng-if="subCommunities!=''">
											<label>Select your Community<span>*</span></label> <select
												data-ng-model="subCommunities.referralCode"
												style="margin-top: 5px; margin-left: 2px" required>
												<option data-ng-repeat="subCommunities2 in subCommunities"
													value="{{subCommunities2.referralCode}}">{{subCommunities2.communityName}}</option>
											</select>
										</p>
										<p>
											<label>Password<span>*</span></label> <input type="password"
												title="Password" data-ng-model="signup.password"
												data-ng-enter="DoWorkCreateUser();" required />
										</p>


										<!--      <p><em>Please create a password that has < password parameters required> </em></p>   -->

										<p class="text-right">
											<a href="" title="Sign Up" class="btn btn-fill btn-small"
												data-ng-click="createUser();"
												data-ng-disabled="signUpForm.$invalid"
												data-ng-enter="DoWorkCreateUser();">Submit</a>
										</p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popup-login" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="form-page">
								<div class="box-sing-up">
									<h2>LOG IN</h2>
									<form name="loginForm">
										<p>
											<label>Email Address<span>*</span></label> <input
												type="email" title="Email Address"
												placeholder="Email address" data-ng-model="login.username"
												required />
										</p>
										<p>
											<label>Password<span>*</span></label> <input type="password"
												data-ng-model="login.password" data-ng-enter="DoWork();"
												required />
										</p>
										<p class="text-center">
											<a href="" title="Login" class="btn btn-fill btn-small"
												data-ng-click="validateLogin();"
												data-ng-disabled="loginForm.$invalid"
												data-ng-enter="DoWork();">Login</a>
										</p>
										<p class="text-center forgotPasswordLink">
											<b><a href="" data-ng-click="forgotPasswordModal()">Forgot
													password?</a></b>
										</p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popup-forgotPassword" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="form-page">
								<div class="box-sing-up">
									<h2>Forgot Password</h2>
									<form>
										<p>
											<label>Email Address<span>*</span></label> <input
												type="email" title="Email Address"
												placeholder="Email address"
												data-ng-model="forgotpasswordEmail" />
										</p>
										<p class="text-center">
											<a href="" title="Forgot Passowrd"
												class="btn btn-fill btn-small"
												data-ng-click="forgotPassword();">Submit</a>
										</p>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
