<div class="dashboard-page" data-ng-controller="DashboardCtrl">
	<div class="container">
		<div class="content-area area-orders">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 btnInviteMain">
					<ul class="btn-invite" style="padding-top: 5px">
						<!--  <li><a data-target="#inviteToCommunity"
							title="Invite to Commun.ity" data-toggle="modal"
							data-ng-show="communitiesActive.length > 0">Invite to
								Commun.ity</a></li>-->
						<li><a href="" data-ng-click="navigateToRegistration(0);"
							title="Get Some Help"
							data-ng-show="communitiesActive.length > 0 && hideSections.indexOf('Featured Helpers')== -1">Get
								Some Help</a></li>
						<li data-ng-show="isProvider == 0"><a href=""
							data-ng-click="navigateToProvider();" title="Become a Helper"
							data-ng-show="communitiesActive.length > 0 && hideSections.indexOf('Featured Helpers')== -1">Become
								a Helper</a></li>
						<!--    <li><a href="" data-ng-click="navigateToBusinesses();"
							title="community businesses" data-ng-show="communitiesActive.length > 0">Create business</a></li> -->
					</ul>
				</div>
				<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">

					<div class="box-upcoming" data-ng-if="orders.length != 0">
						<p data-ng-if="orders!=null && orders.length > 0">
							<strong>You have an upcoming order!</strong>
						</p>
						<div data-ng-repeat="order in orders">
							<p>
								{{order.activity.activityName}} on {{order.requestDate | date:
								'medium'}} <span class="pull-right chatCount"
									data-ng-if="order.chatCount>0"><em>{{order.chatCount}}</em></span>
							</p>
						</div>
						<div class="dropdown">
							<a href="" class="dropdown-toggle" title="Helpers"
								data-toggle="dropdown"
								data-ng-click="navigateToProviderOrders();">My Orders</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<div class="container">
		<div class="content-area">
			<div class="row">
				<div
					class="col-xs-12 col-sm-{{leftSection}} col-md-{{leftSection}} col-lg-{{leftSection}} box-news-event">
					<div class="contant-news" data-ng-cloak>
						<div
							data-ng-repeat="communitiesNonActives in communitiesNonActive">
							<em>You are no longer a member of <b>{{communitiesNonActives.communityID.communityName}}</b>
								community
							</em>
						</div>
						<div class="needsMainDivDash"
							data-ng-if="hideSections.indexOf('Needs')== -1 && communityNeedsList!=''">
							<h2>{{communitySectionTitles[3]}}</h2>
							<div class="frow">
								<div class="frow-box needslistfrow">
									<div class="row">
										<div class="needslistdash"
											data-ng-repeat="communityNeedsList in communityNeedsList">
											<div class="col-xs-7 col-sm-7 col-md-6 col-lg-6">
												<span data-ng-if="communityNeedsList.quantity">{{communityNeedsList.needName+"
													("+communityNeedsList.quantity+")"}}</span> <span
													data-ng-if="!communityNeedsList.quantity">{{communityNeedsList.needName}}</span>
											</div>
											<div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
												<span class="slotAvailable"
													data-ng-if="communityNeedsList.communityId && communityNeedsList.communityId<communityNeedsList.quantity && communityNeedsList.quantity >1 ">{{communityNeedsList.communityId+"
													of "+communityNeedsList.quantity+" slots filled"}}</span> <span
													class="slotAvailable"
													data-ng-if="communityNeedsList.communityId>=communityNeedsList.quantity && communityNeedsList.quantity >1">All
													slots filled</span> <span class="slotAvailable"
													data-ng-if="!communityNeedsList.communityId && communityNeedsList.quantity>1">All
													slots available</span> <span class="slotAvailable"
													data-ng-if="communityNeedsList.communityId!=1 && communityNeedsList.quantity<=1">Slot
													available</span> <span class="slotAvailable"
													data-ng-if="communityNeedsList.communityId==1 && communityNeedsList.quantity <=1">Slot
													filled</span>
											</div>
										</div>
										<div
											class="pull-right col-xs-7 col-sm-7 col-md-5 col-lg-5 viewCompList">
											<!-- <a href="" data-ng-click="NavigateToneedsList()">View complete list</a>  -->
											<ul class="list-news-btn">
												<li class="signUpNow"><a title="Book"
													data-ng-click="NavigateToneedsList()">Click to view more</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
					<div class="contant-news" data-ng-cloak>
						<h2 class="newsAndEventsHeading">{{communitySectionTitles[0]}}</h2>
						<div class="frow" data-ng-if="posts==''">
							<div class="frow-box">
								<i>There are no posts to show</i>
							</div>
						</div>
						<div class="frow">
							<div class="frow-box">
								<div data-ng-repeat="post in posts | orderBy:'-createDate' | startFrom:currentPage*pageSize | limitTo:pageSize">
									<span data-ng-if="posts==''"> There are no posts to show</span>
									<div class="frow-img">
										<img src="{{communityPaths+'profile_pics/'+post.profImg}}"
											title="Community Manager" />
									</div>
									<div class="frow-text">
										<p>
											<strong data-ng-if="post.postID" class="titles">{{post.managerFName+"
												"+post.managerLName}}</strong> <strong data-ng-if="post.eventID"
												class="titles">{{post.title}}</strong><br />
										<p data-ng-if="post.eventID">
											<b class="eventTimings">When:</b>&nbsp{{post.eventDate |
											date:"MM/dd/y"}}<br> <b class="eventTimings">Time:</b>&nbsp{{post.startTime
											| date:"hh:mm a"}}&nbsp&nbspto&nbsp{{post.endTime |
											date:"hh:mm a"}}<br> <b class="eventTimings">Location:</b>&nbsp{{post.location}}
										</p>
										</p>

										<p id="newsBoardDescr">
											<span data-ng-bind-html="post.description | linky:'_blank'"></span>
										<p data-ng-if="post.postID && post.image">
											<img src="{{communityPaths+'posts/'+post.image}}"
												title="Post" class="img-responsive newsImage"
												data-ng-if="images[posts.indexOf(post)]=='image'" />
											<video width="320" height="240" controls="controls"
												data-ng-if="images[posts.indexOf(post)]=='video'">
												<source src="{{communityPaths+'posts/'+post.image}}" />
											</video>
										</p>
										<p data-ng-if="post.eventID && post.eventImg">
											<img src="{{communityPaths+'events/'+post.eventImg}}"
												title="Event" class="img-responsive newsImage" />
										</p>
										<!--  	<iframe title="YouTube video player" class="youtube-player" type="text/html" 
style="height: inherit;width: inherit;" src="http://www.youtube.com/embed/W-Q7RMpINVo"
frameborder="0" allowFullScreen></iframe> -->


									</div>
									<div class="news-btn" data-ng-if="post.eventID">
										<ul class="list-news-btn" >
											<li
												data-ng-class="{selectedRsvp:post.eventsrsvp.rsvp=='Going'}"
												class="going"><a title="Going"
												data-ng-click="rsvpEvents(post.eventID,'Going',posts.indexOf(post));">Going</a>
											</li>
											<li
												data-ng-class="{selectedRsvp:post.eventsrsvp.rsvp=='Not Going'}"
												class="not-going"><a title="Not Going"
												data-ng-click="rsvpEvents(post.eventID,'Not Going',posts.indexOf(post));">Not
													Going</a></li>
											<li
												data-ng-class="{selectedRsvp:post.eventsrsvp.rsvp=='Maybe'}"
												class="maybe"><a title="Maybe"
												data-ng-click="rsvpEvents(post.eventID,'Maybe',posts.indexOf(post));">Maybe</a>
											</li>
										</ul>
									</div>

									<hr id="newsSeparator" data-ng-if="!$last">
								</div>
								<div id="paginationNums" data-ng-if="posts.length>3">
								<div class="pull-right">
										<a data-ng-click="prevArrow();" class="arrows"
											data-ng-class="{disabled:currentPage==0 || pages[0]<=1}">
											<i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i>
										</a> <span data-ng-repeat="page in pages"
											data-ng-class="{selectedPage: page==currentPage+1}"
											id="pageNumbers"><a
											data-ng-click="showPostsofCurrentPg(page);"
											data-ng-class="{disabled:page>numberOfPages()}">{{page}}&nbsp&nbsp&nbsp</a></span>
										<a
											data-ng-class="{disabled:currentPage >= numberOfPages()-1 || pages[2]>=numberOfPages()}"
											data-ng-click="nextArrow();" class="arrows"> <i
											class="fa fa-chevron-right fa-1x" aria-hidden="true"></i>
										</a>
										</div>
									</div>
							</div>


						</div>
					</div>
				</div>
				<div
					class="col-xs-12 col-sm-7 col-md-7 col-lg-7 box-featured-helpers">

					<div class="featuredBusinessesMainDiv"
						data-ng-if="hideSections.indexOf('Featured Businesses')== -1">
						<h2>{{communitySectionTitles[2]}}</h2>
						<div class="frow">
							<div class="frow-box box-news-event">
								<div data-ng-repeat="businesses in businesses">
									<div class="frow-img" style="margin: 5px 10px 10px 0px">
										<img data-ng-if="!businesses.communityImage"
											src="images/Commun-ity_03.png" /> <img
											data-ng-if="businesses.communityImage"
											src="{{communityPaths+'businesses/'+businesses.communityImage}}" />
									</div>
									<div class="frow-text">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div
													class="col-xs-12 col-sm-10 col-md-10 col-lg-10 removeDivPaddings"
													id="fearuredHelperTitle">
													<strong class="titles">{{businesses.businessName}}</strong>

												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<p class="providerDesr">{{businesses.description}}</p>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 businessEmailDiv">
													<div
														class="col-xs-2 col-sm-2 col-md-2 col-lg-2 removeDivPaddings">
														<span data-ng-if="businesses.emailAddress"
															class="contactIcons"><i class="fa fa-envelope"
															aria-hidden="true"></i></span>
													</div>
													<div
														class="col-xs-10 col-sm-10 col-md-10 col-lg-10 removeDivPaddings">
														<span data-ng-if="businesses.emailAddress"
															class="businessInfo">{{businesses.emailAddress}}</span>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
													<div
														class="col-xs-2 col-sm-2 col-md-2 col-lg-2 removeDivPaddings">
														<span data-ng-if="businesses.phoneNumber"
															class="contactIcons"><i class="fa fa-phone"
															aria-hidden="true"></i></span>
													</div>
													<div
														class="col-xs-10 col-sm-10 col-md-10 col-lg-10 removeDivPaddings">
														<span data-ng-if="businesses.phoneNumber"
															class="businessInfo">{{businesses.phoneNumber}}</span>
													</div>
												</div>
											</div>
										</div>
					
									</div>
									<hr id="featuredHelperSeparator" data-ng-if="!$last">
								</div>

							</div>
						</div>
					</div>
					<div class="helpersMainDiv"
						data-ng-if="hideSections.indexOf('Featured Helpers')== -1">
						<h2>{{communitySectionTitles[1]}}</h2>
						<!--  	<div class="frow">
						<div class="frow-box">
							<div class="frow-img">
								<img src="images/news-img2.jpg" title="#" />
							</div>
							<div class="frow-text">
								<p>
									<strong>Helper Name</strong>
								</p>
								<p>Helper description. Duis mollis, est non commodo luctus,
									nisi erat porttitor ligula, eget lacinia odio sem nec elit.
									Etiam porta sem malesuada magna mollis euismod. Donec
									ullamcorper nulla non metus auctor fringilla.</p>
							</div>
						</div>
						<div class="featured-btn">
							<ul class="list-news-btn">
								<li class="rating-star"><input id="input-21e" value="0"
									type="number" class="rating" min=0 max=5 step=0.5
									data-size="xs" data-ng-model="reviewsObj.ratings"></li>
									<li><textarea rows="2" data-ng-model="reviewsObj.reviews"></textarea></li>
							<!--  	<li class="reviews">112,345 reviews</li>  -->
						<!-- 		<li class="book"><a href="#" title="Book" ng-click="submitReviews();">Book</a></li>
							</ul>
						</div>
					</div> -->
						<div class="frow">
							<div class="frow-box box-news-event">
								<div data-ng-repeat="provider in providers">
									<div class="frow-img" style="margin: 5px 10px 10px 0px">
										<img data-ng-if="!provider.consumer.profilePic"
											src="images/Commun-ity_03.png" /> <img
											data-ng-if="provider.consumer.profilePic"
											src="{{communityPaths+'profile_pics/'+provider.consumer.profilePic}}" />
									</div>
									<div class="frow-text">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div
													class="col-xs-12 col-sm-9 col-md-9 col-lg-9 removeDivPaddings"
													id="fearuredHelperTitle">
													<strong class="titles">{{provider.consumer.firstName}}
														{{provider.consumer.lastName}}</strong>

												</div>
												<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3"
													id="bookBtn">
													<ul class="list-news-btn"
														data-ng-if="consumerId!=provider.consumer.id">
														<li class="book"><a title="Book"
															data-ng-click="navigateToRegistration(provider);">Book</a></li>
													</ul>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

												<ul data-ng-if="provider.ratingsAggregate"
													class="starRatingForHelpers">
													<li
														data-ng-repeat="n in [] | range:provider.ratingsAggregate">
														<img src="images/star.png">
													</li>
													<li
														data-ng-show="checkForFloatNumber(provider.ratingsAggregate)"><img
														src="images/half-star.png"></li>
												</ul>

												<p class="providerDesr">{{provider.description}}</p>
												<ul class="featuredHelpersActiviesDash">
													<li data-ng-repeat="activity in provider.activities">
														<label> <span data-ng-switch="{{activity.id}}">
																<span data-ng-switch-when="1"> <img
																	src="images/homelogo.png" id="1">
															</span> <span data-ng-switch-when="2"> <img
																	src="images/pets.png" id="2">
															</span> <span data-ng-switch-when="3"> <img
																	src="images/cart.png" id="3">
															</span> <span data-ng-switch-when="4"> <img
																	src="images/yardworklogo.png" id="4">
															</span> <span data-ng-switch-default></span>
														</span>
													</label>
													</li>

												</ul>
											</div>
										</div>
										<div></div>

									</div>
									<hr id="featuredHelperSeparator" data-ng-if="!$last">
								</div>
								<!--     <div class="featured-btn" >
							<ul class="list-news-btn" data-ng-if="consumerId!=provider.consumer.id">
								<!--<li class="rating-star">
								  <input id="input-21e" value="0"
									type="number" class="rating" min=0 max=5 step=0.5
									data-size="xs"></li>
								<li class="reviews">112,345 reviews</li>-->
								<!-- 		<li class="book"><a title="Book" data-ng-click="navigateToRegistration(provider);">Book</a></li>
							</ul>
						</div>  -->
							</div>
						</div>
					</div>
				</div>
				<div class="modal fade" id="inviteToCommunity" role="dialog">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times</span>
							</button>
							<div class="popup-box">
								<div class="container">
									<div class="row">
										<div class="box-sing-up">
											<h5>Invite To Community</h5>
											<form name="postForm" id="postForm"
												enctype="multipart/form-data">

												<input type="email" placeholder="Enter email addrress here"
													name="emailAddress" data-ng-model="emailAddr"> <br>

												<span class="pull-right" id="makePaymentBtn"><button
														type="submit" class="btn"
														data-ng-click="inviteToCommunity();">Submit</button></span>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="min-height: 200px;" data-ng-if="posts==''"></div>
	</div>
	<div class="container">
		<div class="content-area">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<h2>Brought to you by</h2>
					<div class="frow" id="sponsorImgsDash">
						<div class="frow-box">
							<ul class="sponsorsUl" data-ng-if="communitySponsor">
								<li
									data-ng-repeat="communitySponsor in communitySponsor | limitTo:5">
									<img class="img-responsive" alt="CommunitySponsors"
									src="{{communityPaths+'profile_pics/CommunitySponsors'+communityId+'/'+communitySponsor}}">
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>