<div class="navbar navbar-foot">
<div class="row">
	<div class="social-iconsMain col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="social-icons col-xs-9 col-sm-10 col-md-10 col-lg-10">
			<a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
            <div id="copyright"><p>Commun.ityCopyright2015</p></div>
        </div>
</div>
	<div class="footerCols col-xs-12 col-sm-9 col-md-9 col-lg-9">
	        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
    <div class="row"> <a href="#">Home</a></div>
        </div>
		 <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
                          <div><a href="#">Helpers</a></div>
			  <div class="row"> <a href="#">Subcategory</a></div>
			  <div class="row"> <a href="#">Subcategory</a></div>
		         <div class="row">  <a href="#">Subcategory</a></div>
        </div>
 <div class="col-xs-3 col-sm-2 col-md-2 col-lg-2">
    <a href="#">My Community</a>
	<div class="row"> <a href="#">Subcategory</a></div>
			  <div class="row"> <a href="#">Subcategory</a></div>
		         <div class="row">  <a href="#">Subcategory</a></div>
        </div>
 <div class="col-xs-3 col-sm-2 col-md-1 col-lg-2">
     <div class="row"> <a href="#" style="margin-right:0;">Contact</a></div>
	 <div class="row"> <a href="#">Phone</a></div>
	 <div class="row">  <a href="#">Address 1</a></div>
	  <div class="row">  <a href="#">Address 2</a></div>
        </div>
	</div>
    </div>
</div>