<div data-ng-controller="forumCtrl">
<div class="loader" data-ng-if="loading1"></div>
	<div class="content-area step-container">
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h2>Commun.ity Topics</h2>
						<button type="button" data-target="#createForumTopic"
										data-toggle="modal" class="btn btn-primary forumButtons">Create Topic</button>
				
				<div class="frow topicsListFrow">
				<div class="frow-box">
						<div data-ng-repeat="forumTopicList in forumTopicList | orderBy:'-id'">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="frow-img">
									<img class="img-responsive" data-ng-if="!forumTopicList.consumerId.profilePic" src="images/Commun-ity_03.png" title="Community Consumer"/> 
									<img class="img-responsive" data-ng-if="forumTopicList.consumerId.profilePic" src="{{communityPaths+'profile_pics/'+forumTopicList.consumerId.profilePic}}" title="Community Consumer" />
							    </div>
								<div class="frow-text">
									<p>
										<a href="" data-ng-click="openTopicPage(forumTopicList.id);"><strong class="titles">{{forumTopicList.topicTitle}}</strong></a>									
							
	</p>
									<p>Created by <strong>{{forumTopicList.consumerId.firstName+" "+forumTopicList.consumerId.lastName}}</strong>
									<b class="pull-right">{{forumTopicList.createDate+" ago"}}</b>									
									</p>
									<p data-ng-if="forumTopicList.topicReplies==1">
									1 reply
									</p>
									<p data-ng-if="forumTopicList.topicReplies==''|| !forumTopicList.topicReplies">
									0 reply
									</p>
                                     <p data-ng-if="forumTopicList.topicReplies>1">
									 {{forumTopicList.topicReplies+" replies"}}
									</p>									</div>
			<hr data-ng-if="!$last">
							</div> 
						</div>
					</div>
				</div>
				</div>
		</div>
	</div>
	<div class="push"></div>
		<div class="modal fade" id="createForumTopic" role="dialog">
		<div class="modal-dialog " role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="box-sing-up">
								<h5>Create Topic</h5>
								<form enctype="multipart/form-data">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="row">
											<input class="form-control" type="text"
												placeholder="Topic Title" data-ng-model="topic.topicTitle" maxlength="1000">
										</div>										
										<div class="row">
											<textarea class="form-control" rows="4" cols="15" placeholder="Topic Description"
												data-ng-model="topic.topicDescription" maxlength="3000"></textarea>
										</div>
										<div class="row">
											<span id="cameraicon"><i class="fa fa-camera fa-2x"
												aria-hidden="true"></i></span>&nbsp&nbsp<input type="file"
												name="file" id="proffile" class="imgFile"/><a
												data-target="" class="uploadpicture"
												data-ng-click="showBrowseDialog();">Attachment</a> <strong><span
												id="linkedForumImg"></span></strong>
										</div>
										<div class="row pull-right">
											<button type="submit" class="btn btn-info" id="requestBtn"
												data-ng-click="createForumTopic();">CREATE</button>
										</div>


									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

