<div data-ng-controller="forumTopicCtrl">
<div class="loader" data-ng-if="loading1"></div>
	<div class="content-area step-container">
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
			<div class="forumTopicHeading">{{forumTopic[0].topicTitle}}</div>
						<button type="button" data-target="#replyToForumTopic"
										data-toggle="modal" class="btn btn-primary forumButtons">Give Reply</button>
																<button type="button" class="btn btn-primary forumButtons" data-ng-click="deleteTopic();" data-ng-if="consumerId==forumTopic[0].consumerId.id">Delete Topic</button>
		<div class="frow">
								<div class="frow-box">
	<div class="frow-img">
	<img class="img-responsive" data-ng-if="!forumTopic[0].consumerId.profilePic" src="images/Commun-ity_03.png" title="Community Consumer"/> 
									<img data-ng-if="forumTopic[0].consumerId.profilePic" class="img-responsive" src="{{communityPaths+'profile_pics/'+forumTopic[0].consumerId.profilePic}}" title="Community Consumer"/>
							    </div>
								<div class="frow-text">
									<p>
										<strong class="titles">{{forumTopic[0].consumerId.firstName+" "+forumTopic[0].consumerId.lastName}}</strong>										
									</p>									
									<p id="newsBoardDescr"><span data-ng-bind-html="forumTopic[0].topicDescription | linky:'_blank'"></span></p>
									<p data-ng-if="forumTopic[0].topicAttachment">
											<img src="{{communityPaths+'forum_images/'+forumTopic[0].topicAttachment}}" title="Community Forum Attachments" class="img-responsive newsImage"/>
									</p>
										
								</div>
								</div>
								</div>
								<div data-ng-if="forumTopic[0].forumReplies.length>0">
								<p class="replyTitle">Replies</p>
			<div class="frow">
								<div class="frow-box">
									<div data-ng-repeat="forumTopicReply in forumTopic[0].forumReplies | orderBy:'-id'">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				
								<div class="frow-img">
									<img class="img-responsive" data-ng-if="!forumTopicReply.consumerId.profilePic" src="images/Commun-ity_03.png" title="Community Consumer"/> 
									<img class="img-responsive" data-ng-if="forumTopicReply.consumerId.profilePic" src="{{communityPaths+'profile_pics/'+forumTopicReply.consumerId.profilePic}}" title="Community Consumer"/>
							    </div>
								<div class="frow-text">
									<p>
										<strong class="titles">{{forumTopicReply.consumerId.firstName+" "+forumTopicReply.consumerId.lastName}}</strong>	
										<a data-ng-click="deleteReply(forumTopicReply.id,forumTopicReply.topicReplyAttachment);" class="pull-right" data-ng-if="consumerId==forumTopicReply.consumerId.id"><img
														src="images/close.png"  class="close-image-reply" title="Delete reply"></a>								
									</p>
									<p id="newsBoardDescr"><span data-ng-bind-html="forumTopicReply.topicReply | linky:'_blank'"></span>
									<b class="pull-right">{{forumTopicReply.createDate+" ago"}}</b>	
									</p>
									<p data-ng-if="forumTopicReply.topicReplyAttachment">
											<img src="{{communityPaths+'forum_images/'+forumTopicReply.topicReplyAttachment}}" title="Community Forum Attachments" class="img-responsive newsImage"/>
									</p></div>
			<hr data-ng-if="!$last">
							</div> 
						</div>
							</div>						
						</div>
				</div>
				
				
			

			</div>
		</div>
	</div>
	<div class="push"></div>
		<div class="modal fade" id="replyToForumTopic" role="dialog">
		<div class="modal-dialog " role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="box-sing-up">
								<h5>Give Reply</h5>
								<form enctype="multipart/form-data">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">													
										<div class="row">
											<textarea rows="4" cols="15" placeholder="Write your reply here"
												data-ng-model="reply.topicReply" maxlength="3000"></textarea>
										</div>
										<div class="row">
											<span id="cameraicon"><i class="fa fa-camera fa-2x"
												aria-hidden="true"></i></span>&nbsp&nbsp<input type="file"
												name="file" id="proffile" class="imgFile" /><a
												data-target="" class="uploadpicture"
												data-ng-click="showBrowseDialog();">Attachment</a> <strong><span
												id="linkedForumImg"></span></strong>
										</div>
										<div class="row pull-right">
											<button type="submit" class="btn btn-info" id="requestBtn"
												data-ng-click="giveReply();">CREATE</button>
										</div>
								     </div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

