<div class="topbar">
			<div class="container">
				<h1 id="logo">
					<a href="#" title="Commun.ity"><img
						src="../images/dashboard-logo.png" alt="Commun.ity"
						title="Commun.ity" /></a>
				</h1>
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-main-collapse">
						<span class="glyphicon glyphicon-align-justify"></span>Menu
					</button>
				</div>
				<div
					class="collapse navbar-collapse navbar-right navbar-main-collapse">
					<ul class="navigation">
						<li class="active"><a href="" title="Home" ng-click="home();">Homeeeeeee</a></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							title=" Helper" data-toggle="dropdown">Helpers <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" title="Become a Helper">Become
										a Helper</a></li>
								<li><a href="#" title="Ask For Help">Ask For
										Help</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							title="My Commun.ity" data-toggle="dropdown">My Commun.ity <span
								class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#" title="Become a Helper">Become
										a Helper</a></li>
								<li><a href="#" title="Ask For Help">Ask For
										Help</a></li>
							</ul></li>
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							title="My Profile" data-toggle="dropdown"><img
								class="user-img" src="../images/menu-user-img.png" alt="user"
								title="user"/>My Profile <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="" title="UserName">Become a Helper</a></li>
								<!-- <li><a href="vision.php" title="Ask For Help">Ask For Help</a></li> -->
							</ul></li>
						<li><a href="" title="Logout" ng-click="logout();">Logout</a></li>
					</ul>
				</div>
			</div>
		</div>
<div class="dashboard-header-img">
	<ul class="dashboard-header-img-list">
		<li><img src="../images/dashboard-header-img-9.jpg" title="" /></li>
		<li><img src="../images/dashboard-header-img-2.jpg" title="" /></li>
		<li><img src="../images/dashboard-header-img-3.jpg" title="" /></li>
		<li><img src="../images/dashboard-header-img-4.jpg" title="" /></li>
		<li><img src="../images/dashboard-header-img-10.jpg" title="" /></li>
		<li><img src="../images/dashboard-header-img-6.jpg" title="" /></li>
		<li><img src="../images/dashboard-header-img-7.jpg" title="" /></li>
		<li><img src="../images/dashboard-header-img-8.jpg" title="" /></li>
	</ul>
</div>