<div class="container" data-ng-controller="myCommunityCtrl">
	<div class="loader" data-ng-if="loading"></div>
	<div class="row">
		<div class="content-area step-container accepted-request">
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-md-offset-1">
				<span>Welcome, {{consumerName}} to your</span>
				<h2>Community</h2>
				<div class="community-box" id="myCommunityMainDiv">
				
					<div class="tabs-container">
						<div class="tab tab-title active" id="memberstab"
							data-ng-click="addActiveToTabs('members','508');">
							<h4>
								<strong>Members List</strong>
							</h4>
						</div>
						
						<div class="tab-content active" id="members">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div id="showPendingMembers" style="padding-right: 10px">
									<p class="commRefCodeVal"
										data-ng-repeat="referralCode in referralCode">{{referralCode}}</p>
									<p class="commRefCodeText">Community Referral Code</p>
									<button type="button" data-target="#inviteToCommunity"
										data-toggle="modal" class="btn btn-primary">Invite to
										Join</button>
									<p>
										<b>Members</b>
									</p>
									<div id="membersList">
										<div id="showMembersOfComm" class="row"
											data-ng-repeat="member in members"
											data-ng-if="member.id!=consumerID">
											<div class="membersListDiv1">
												<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
													<img data-ng-if="!member.profilePic"
														src="images/Commun-ity_03.png" class="member-img" /> <img
														data-ng-if="member.profilePic"
														src="{{communityPaths+'profile_pics/'+member.profilePic}}"
														class="member-img"> {{member.firstName +"
													"+member.lastName}}
												</div>
												<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
													<a data-ng-click="showConfirm(member.id);"><img
														src="images/close.png" class="close-img"></a>
												</div>
											</div>
											<hr>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab tab-title" id="newstab"
							data-ng-click="getPostsandEvents('news');">
							<h4>
								<strong>News</strong>
							</h4>
						</div>
						<div class="tab-content" id="news">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div id="showcommunityNews">
									<div class="row" id="newsTabButtons">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<button type="button" class="btn btn-primary"
												data-toggle="modal" data-target="#popup-post">Create
												Post</button>
										</div>
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<button type="button" class="btn btn-primary"
												data-toggle="modal" data-target="#popup-event">Create
												Event</button>
										</div>
									</div>
									<p>
										<b>News Board</b>
									</p>
									<div class="frowDivs">
										<div class="frow frowNewsFeed"
											data-ng-repeat="post in posts | orderBy:'-createDate' | startFrom:currentPage*pageSize | limitTo:pageSize">
											<div class="frow-box">
												<div class="frow-img">
													<img data-ng-if="!post.profImg"
														src="images/Commun-ity_03.png" title="Community Manager" />
													<img data-ng-if="post.profImg"
														src="{{communityPaths+'profile_pics/'+post.profImg}}"
														title="Community Manager" />

												</div>
												<div class="frow-text">
													<p>
														<strong data-ng-if="post.postID" class="titles">{{post.managerFName+"
															"+post.managerLName}}</strong> <strong data-ng-if="post.eventID"
															class="titles">{{post.title}}</strong> <span
															class="pull-right" id="closeImgSpan"> <a
															data-ng-if="post.postID" href=""
															data-ng-click="deletePost(post.postID,post.image)"><img
																src="images/close.png" class="closeImg"></a> <a
															data-ng-if="post.eventID" href=""
															data-ng-click="deleteEvent(post.eventID,post.eventImg)"><img
																src="images/close.png" class="closeImg"></a>
														</span>
													</p>
													<p data-ng-if="post.eventID">
														<b class="eventTimings">When:</b>&nbsp{{post.eventDate |
														date:"MM/dd/y"}}<br> <b class="eventTimings">Time:</b>&nbsp{{post.startTime
														| date:"hh:mm a"}}&nbsp&nbspto&nbsp{{post.endTime |
														date:"hh:mm a"}}<br> <b class="eventTimings">Location:</b>&nbsp{{post.location}}
													</p>
													<p id="newsBoardDescr">
														<span
															data-ng-bind-html="post.description | linky:'_blank'"></span>
													</p>
													<p>
														<span data-ng-if="post.postID && post.image"> <img
															data-ng-src="{{communityPaths+'posts/'+post.image}}"
															title="Post" class="newsImage"
															data-ng-if="images[posts.indexOf(post)]=='image'" /> <video
																width="320" height="240" controls="controls"
																data-ng-if="images[posts.indexOf(post)]=='video'">
																<source src="{{communityPaths+'posts/'+post.image}}" />
															</video>
														</span> <span data-ng-if="post.eventID && post.eventImg"><img
															src="{{communityPaths+'events/'+post.eventImg}}"
															title="Event" class="newsImage" /></span>
													</p>
												</div>
											</div>
											<div class="news-btn">
												<ul class="list-news-btn">
													<li class="pull-left">{{post.createDate |
														date:"MM/dd/y hh:mm a"}}</li>
													<!-- 	<li class="share" data-ng-if="post.postID"><a data-target="" title="Share Post" data-ng-click="sharePost(post.postID);">Share</a></li>
									<li class="share" data-ng-if="post.eventID"><a data-target="" title="Share Event" data-ng-click="shareEvent(post.eventID);">Share</a></li> -->
												</ul>
											</div>
										</div>
									</div>
									<div class="pull-right" id="paginationNums" data-ng-if="posts.length>3">
										<a data-ng-click="prevArrow();" class="arrows"
											data-ng-class="{disabled:currentPage==0 || pages[0]<=1}">
											<i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i>
										</a> <span data-ng-repeat="page in pages"
											data-ng-class="{selectedPage: page==currentPage+1}"
											id="pageNumbers"><a
											data-ng-click="showPostsofCurrentPg(page);"
											data-ng-class="{disabled:page>numberOfPages()}">{{page}}&nbsp&nbsp&nbsp</a></span>
										<a
											data-ng-class="{disabled:currentPage >= numberOfPages()-1 || pages[2]>=numberOfPages()}"
											data-ng-click="nextArrow();" class="arrows"> <i
											class="fa fa-chevron-right fa-1x" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="tab tab-title" id="settingstab"
							data-ng-click="showSettings('settings');">
							<h4>
								<strong>Settings</strong>
							</h4>
						</div>
						<div class="tab-content" id="settings">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
								data-ng-repeat="communityInfo in communityInfo">
								<div id="showCommunitySettings">
									<div class="row">
										<p class="commRefCodeVal"
											data-ng-repeat="referralCode in referralCode">{{referralCode}}</p>
										<p class="commRefCodeText">Community Referral Code</p>
										<button type="button" data-target="#inviteToCommunity"
											data-toggle="modal" class="btn btn-primary">Invite
											to Join</button>
									</div>
									<!--   <div class="row bill-headings">
													<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="padding-left: 0">
												<h4><strong>Billing Address</strong></h4>
													 <p>3333 E Brown St.</p>
                                                     <p>Palo Alto, CA 85225</p>
													</div>
													<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
												<a href="#" class="billInfoChange"><h4>(Change)</h4></a></div>
													
											</div> -->
									<div class="row bill-headings">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 removePaddingLeft">
											<h4>
												<strong>Type</strong>
											</h4>
											<p>{{communityInfo.communityType}}</p>
										</div>
									<!-- 	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<h4>
												<a class="billInfoChange"
													data-ng-click="showSettingsForm();">(Change)</a>
											</h4>
										</div> -->
									</div>

									<div class="row bill-headings">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 removePaddingLeft">
											<h4>
												<strong>Email Address</strong>
											</h4>
											<p>{{communityInfo.description}}</p>
										</div>
										<!-- <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<h4>
												<a class="billInfoChange"
													data-ng-click="showSettingsForm();">(Change)</a>
											</h4>
										</div> -->
									</div>
									<div class="row bill-headings">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 removePaddingLeft">
											<h4>
												<strong>Dashboard</strong>
											</h4>
											<ul class="dashSectionsUl">
											<li data-ng-repeat="communitySections in communitySections">
											 <span data-ng-if="communitySectionsHidden"><input type="checkbox" value="{{communitySections}}" data-ng-checked="communitySectionsHidden.indexOf(communitySections)== -1" disabled="disabled"/></span>
											 <span data-ng-if="!communitySectionsHidden"><input type="checkbox" value="{{communitySections}}" data-ng-checked="true" disabled="disabled"/></span>
											 <span>{{communitySections}}</span>				
											</li>
											</ul>
										</div>
									<!-- 	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
											<h4>
												<a class="billInfoChange"
													data-ng-click="showSettingsForm();">(Change)</a>
											</h4>
										</div> -->
									</div>
									<div class="row bill-headings">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 removePaddingLeft">
											<h4>
												<strong>Dashboard Titles</strong>
											</h4>
											<ul class="dashSectionsUl">
											<li data-ng-repeat="communitySectionsTitles in communitySections">
											 <span>{{communitySectionsTitles}}</span>				
											</li>
											</ul>
										</div>
									</div>
									<div class="row">
									<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right"
													id="saveSettingsBtn">
													<div id="saveGnrlInfoBtn">
														<button type="submit" class="btn btn-info" id="requestBtn"
															data-ng-click="showSettingsForm();">Edit</button>
													</div>
												</div>
												</div>
								</div>


								<div id="editCommunitySettings" style="display: none">
									<form enctype="multipart/form-data">
										<div class="row">
											<div class="myProfile editBillInfoDiv">
												<!--  	<div id="billidata-ng-headings-form">
												<h4><strong>Billing Address</strong></h4>
											</div>
	 <div class="form-group">
	 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <input class="form-control" id="firstname" type="text" placeholder="First Name"></div>
	  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <input class="form-control" id="lastname" type="text" placeholder="Last Name"></div>
  </div>
  <div class="form-group">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <input class="form-control" id="cardno" type="text" placeholder="Card Number">
	</div>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <input class="form-control" id="securitycode" type="text" placeholder="Security Code">
  </div>
 </div> -->
												<div
													class="col-xs-10 col-sm-10 col-md-10 col-lg-10 headings-form">
													<h4>
														<strong>Community Type</strong>
													</h4>
												</div>
												<div
													class="form-group col-xs-10 col-xs-10 col-sm-8 col-md-8 col-lg-8">
													<input class="form-control" id="commType" type="text"
														placeholder="Community Type"
														data-ng-model="communityInfo.communityType" maxlength="50">
												</div>
												<div
													class="col-xs-10 col-sm-10 col-md-10 col-lg-10 headings-form">
													<h4>
														<strong>Email Address</strong>
													</h4>
												</div>
												<div class="form-group col-xs-10 col-sm-8 col-md-8 col-lg-8">
													<input class="form-control" id="emailAddr" type="email"
														placeholder="Email Address"
														data-ng-model="communityInfo.description" maxlength="100" readonly>
												</div>
												<div
													class="col-xs-10 col-sm-10 col-md-10 col-lg-10 headings-form">
													<h4>
														<strong>Dashboard</strong>
													</h4>
												</div>
												<div class=" col-xs-10 col-sm-6 col-md-6 col-lg-6">
												<ul class="dashSectionsUl">
											<li data-ng-repeat="communitySections2 in communitySections1">
											 <span data-ng-if="communitySectionsHidden">
											 <input type="checkbox" value="{{communitySections2}}" data-ng-checked="communitySectionsHidden.indexOf(communitySections2)== -1" data-ng-click="notSelectedSection($index)" data-ng-disabled="$index==0"/></span>
											 <span data-ng-if="!communitySectionsHidden">
											 <input type="checkbox" value="{{communitySections2}}" data-ng-click="notSelectedSection($index)" data-ng-checked="true" data-ng-disabled="$index==0"/></span>
											 <span>{{communitySections[$index]}}</span>				
											</li>
											</ul>
												</div>
												<div
													class="col-xs-10 col-sm-10 col-md-10 col-lg-10 headings-form">
													<h4>
														<strong>Dashboard Titles</strong>
													</h4>
												</div>
												<div class=" col-xs-10 col-sm-8 col-md-8 col-lg-8">
											<!-- 	<ul class="dashSectionsUl">
											<li data-ng-repeat="communitySectionsTitles in communitySections"> -->
											<!--  <span><i class="fa fa-pencil" aria-hidden="true"></i></span>-->
											<div class="communityTitlesDiv" data-ng-repeat="communitySectionsTitles in communitySections track by $index">
											<input class="form-control"  type="text"
														data-ng-model="communitySections[$index]" maxlength="100">
											<!--  <span>{{communitySectionsTitles}}</span>	
											</div>
											</li>
											</ul>-->			
												</div>
												</div>
												<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
													id="saveSettingsBtn">
													<div id="saveGnrlInfoBtn">
														<button type="submit" class="btn btn-info" id="requestBtn"
															data-ng-click="submitSettingsInfo('settings');">Save</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>


							</div>
						</div>
						<div class="tab tab-title" id="eventstab"
							data-ng-click="showEvents('events');" style="padding-right: 25px">
							<h4>
								<strong>Events</strong>
							</h4>
						</div>
						<div class="tab-content" id="events">
							<p>
								<b>Members and RSVP</b>
							</p>
							<div id="rsvpList">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Member</th>
											<th>Event</th>
											<th>RSVP</th>
										</tr>
									</thead>
									<tbody>
										<tr
											data-ng-repeat="eventsRsvps1 in eventsRsvps|orderBy:[eventsRsvps[1],eventsRsvps[2]]">
											<td class="removePaddingLeft">{{eventsRsvps1[3]+"
												"+eventsRsvps1[4]}}</td>
											<td>{{eventsRsvps1[1]}}</td>
											<td>{{eventsRsvps1[2]}}</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab tab-title" id="communityImagestab"
							data-ng-click="getHeaderImagesByCommunity('communityImages');">
							<h4>
								<strong>Community Images</strong>
							</h4>
						</div>
						<div class="tab-content" id="communityImages">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row">
									<form name="communityImagesForm" enctype="multipart/form-data">
										<div
											class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bill-headings">
											<h4>
												<strong>Community Images</strong>
											</h4>
										</div>
										<div
											class="col-xs-12 col-sm-12 col-md-12 col-lg-12 communities-img">
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
												<center>
													<img class="img-responsive"
														src="images/dashboard-header-img-2.jpg">
												</center>
												<span></span>
											</div>
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
												data-ng-repeat="communityImage in communityImage">


												<!-- 	<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"> -->
												<center>
													<img class="img-responsive" data-ng-if="communityImageFlag"
														src="{{communityImage}}" id="communityImg{{$index+1}}">
													<img class="img-responsive"
														data-ng-if="!communityImageFlag"
														src="{{communityPaths+'profile_pics/Community'+communityId+'/'+communityImage}}"
														id="communityImg{{$index+1}}">
												</center>
												<span> <input type="file" name="commimages[]"
													id="proffile{{$index+1}}"
													onchange="angular.element(this).scope().showImageSelected(this)">
													<button type="button" class="uploadpic"
														data-ng-click="showBrowseDialogCommunity($index+1);">Upload</button>
												</span>
											</div>
										</div>
										<div class="row commImgsBtn" style="margin: 0">
											<button type="submit" class="btn"
												data-ng-click="submitCommunityImages();">Save</button>
											<!--  </div> -->
										</div>
									</form>


									<form name="communitySponsorImagesForm"
										enctype="multipart/form-data">
										<div
											class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bill-headings">
											<h4>
												<strong>Community Sponsor's Images</strong>
											</h4>
										</div>
									
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 browseImgDiv">
											<!--  <input type="file" name="commsponsorimages" id="commsponsorimages" onchange="angular.element(this).scope().submitCommunitySponsorImages(this)">  -->
											<input type="file" name="file" class="hide-file-input"
												id="file-fake"
												onchange="angular.element(this).scope().submitCommunitySponsorImages(this)" />
											<input type="text" class="fileinput-textbox"
												data-ng-model="selectedSponsorImage" readonly="readonly" />
											<span class="file-button-wrapper"
												data-ng-click="showBrowseDialogSponsors()">Browse</span>
											<!--  	<button type="button" class="uploadpic">Upload</button>  -->
										</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 logoNoteDiv">
										<h5><span class="noteSymbol">*</span>You can add up to five sponsors</h5></div>
										<div
											class="col-xs-12 col-sm-12 col-md-12 col-lg-12 communities-img"
											data-ng-if="communitySponsorImage">
											<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4"
												data-ng-repeat="communitySponsorImage in communitySponsorImage">
												<center>
													<img class="img-responsive"
														src="{{communityPaths+'profile_pics/CommunitySponsors'+communityId+'/'+communitySponsorImage}}">
												</center>
												<span>
													<button type="button" class="uploadpic"
														data-ng-click="deleteSponsorImage($index);">Delete</button>
												</span>
											</div>
										</div>

										<!--  	<div class="row pull-right" style="margin:0">
											<button type="submit" class="btn" data-ng-click="submitCommunityImages();" id="commImgsBtn1">Save</button>

										</div> -->
									</form>
								</div>
							</div>
						</div>

						<div class="tab tab-title" id="needstab"
							data-ng-click="getlistOfCommunityNeeds('needs');">
							<h4>
								<strong>Community Needs</strong>
							</h4>
						</div>
						<div class="tab-content" id="needs">
							<form enctype="multipart/form-data">
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<p>
									<b>Enter Community Needs</b>
								</p>
									<div class="form-group col-xs-10 col-sm-10 col-md-4 col-lg-4 removePaddings">
										<input class="form-control" type="text"
											placeholder="Item Name"
											data-ng-model="communityneedsdata.needName" maxlength="500">
									</div>
									<div class="form-group col-xs-10 col-sm-10 col-md-3 col-lg-3">
										<input class="form-control" type="number" min="1"
											placeholder="Wanted"
											data-ng-model="communityneedsdata.quantity">
									</div>
									<div class="form-group col-xs-10 col-sm-10 col-md-5 col-lg-5 removePaddings">
										<input class="form-control" type="text"
											placeholder="Help Comment"
											data-ng-model="communityneedsdata.needComment" maxlength="1000">
									</div>
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-right">
										<div class="list-news-btn">
											<button type="submit" class="btn btn-info"
												data-ng-click="submitNeedsData('needs');">Save</button>
										</div>
									</div>
								</div>
							</form>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<p>
									<b>Community Needs</b>
								</p>
								<div id="needsList">
									<div class="row"
										data-ng-repeat="commneedslist in commneedslist | orderBy:'-createDate'">
										<div class="membersListDiv1">
											<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
												<span data-ng-if="commneedslist.quantity">{{commneedslist.needName+"("+commneedslist.quantity+")"}}</span>
												<span data-ng-if="!commneedslist.quantity">{{commneedslist.needName}}</span>
												</div>
											<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
												<a data-ng-click="deleteNeed(commneedslist.id)"><img
													src="images/close.png" class="close-img"></a>
											</div>
										</div>
										<hr>
									</div>
								</div>
							</div>
						</div>
						
						
						<div class="tab tab-title" id="businesstab"
							data-ng-click="getBusinesses('business');">
							<h4>
								<strong>Businesses</strong>
							</h4>
						</div>
						<div class="tab-content" id="business">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div id="showcommunityNews">
									<div class="row" id="newsTabButtons">
										<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
											<button type="button" class="btn btn-primary" data-ng-click="createBusiness()">Create
												Business</button>
										</div>
									</div>
									<p>
										<b>Community Businesses</b>
									</p>
									<div class="frowDivs">
										<div class="frow frow-business-box"
											data-ng-repeat="businesses in businesses | orderBy:'-createDate' | startFrom:busicurrentPage*pageSize | limitTo:pageSize" data-ng-cloak>
											<div class="frow-box">
												<div class="frow-img" style="margin: 5px 10px 10px 0px">
										<img data-ng-if="!businesses.communityImage"
											data-ng-src="images/Commun-ity_03.png" /> <img
											data-ng-if="businesses.communityImage"
											data-ng-src="{{communityPaths+'businesses/'+businesses.communityImage}}" />
									</div>
												<div class="frow-text">
										<div class="row">
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div
													class="col-xs-10 col-sm-10 col-md-10 col-lg-10 removeDivPaddings"
													id="fearuredHelperTitle">
													<strong class="titles">{{businesses.businessName}}</strong>

												</div>
												<div class="col-xs-10 col-sm-1 col-md-1 col-lg-1 removeDivPaddings editBusiness">
												<a href="" data-ng-click="updateBusiness(businesses.id)">												
												<i class="fa fa-pencil" aria-hidden="true"></i>
                                                </a>
												</div>
												<div class="col-xs-10 col-sm-1 col-md-1 col-lg-1 removeDivPaddings">
												<a href="" data-ng-click="deleteBusiness(businesses.id,businesses.communityImage)"><img
																src="images/close.png" class="closeImg"></a>
												</div>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<p class="providerDesr">{{businesses.description}}</p>
											</div>
											<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 businessEmailDiv" data-ng-if="businesses.emailAddress">
													<div
														class="col-xs-2 col-sm-2 col-md-2 col-lg-2 removeDivPaddings">
														<span
															class="contactIcons"><i class="fa fa-envelope"
															aria-hidden="true"></i></span>
													</div>
													<div
														class="col-xs-10 col-sm-10 col-md-10 col-lg-10 removeDivPaddings">
														<span data-ng-if="businesses.emailAddress"
															class="businessInfo">{{businesses.emailAddress}}</span>
													</div>
												</div>
												<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6" data-ng-if="businesses.phoneNumber">
													<div
														class="col-xs-2 col-sm-2 col-md-2 col-lg-2 removeDivPaddings">
														<span 
															class="contactIcons"><i class="fa fa-phone"
															aria-hidden="true"></i></span>
													</div>
													<div
														class="col-xs-10 col-sm-10 col-md-10 col-lg-10 removeDivPaddings">
														<span data-ng-if="businesses.phoneNumber"
															class="businessInfo">{{businesses.phoneNumber}}</span>
													</div>
												</div>
											</div>
										</div>
					
									</div>
											</div>
											<div class="news-btn">
												<ul class="list-news-btn">
													<li class="pull-left">{{post.createDate |
														date:"MM/dd/y hh:mm a"}}</li>
													<!-- 	<li class="share" data-ng-if="post.postID"><a data-target="" title="Share Post" data-ng-click="sharePost(post.postID);">Share</a></li>
									<li class="share" data-ng-if="post.eventID"><a data-target="" title="Share Event" data-ng-click="shareEvent(post.eventID);">Share</a></li> -->
												</ul>
											</div>
										</div>
									</div>
									<div class="pull-right" id="paginationNums" >
										<a data-ng-click="prevArrowBusiness();" class="arrows"
											data-ng-class="{disabled:busicurrentPage==0 || busipages[0]<=1}">
											<i class="fa fa-chevron-left fa-1x" aria-hidden="true"></i>
										</a> <span data-ng-repeat="page in busipages"
											data-ng-class="{selectedPage: page==busicurrentPage+1}"
											id="pageNumbers"><a
											data-ng-click="showBusinessofCurrentPg(page);"
											data-ng-class="{disabled:page>numberOfPagesBusiness()}">{{page}}&nbsp&nbsp&nbsp</a></span>
										<a
											data-ng-class="{disabled:busicurrentPage >= numberOfPagesBusiness()-1 || busipages[2]>=numberOfPagesBusiness()}"
											data-ng-click="nextArrowBusiness();" class="arrows"> <i
											class="fa fa-chevron-right fa-1x" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
						</div>
						
						
						
						
  	<div class="tabHeightLeft" data-ng-style="getHeight()"></div>  
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="push"></div>
	<div class="modal fade" id="popup-event" role="dialog">
		<div class="modal-dialog " role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="box-sing-up">
								<h5>Create Event</h5>
								<form name="createEventForm" enctype="multipart/form-data">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="row">
											<input class="form-control" type="text"
												placeholder="Event title" data-ng-model="event.title" maxlength="250">
										</div>
										<div class="row">
											<input class="form-control" type="text"
												placeholder="Location" data-ng-model="event.location" maxlength="250">
										</div>
										<div class="row" id="dateDivs">
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 removePaddingLeft"
												id="eventDate">
												<input class="form-control" class="eventDateBox"
													id="eventDates" type="text" placeholder="Date"
													data-ng-model="event.eventDate" datetimepickerfromtoday>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 startTime">
												<input class="form-control clock" type="text" id="startTime"
													placeholder="Start Time" data-ng-model="event.startTime" readonly timepicker>
											</div>
											<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 endTime">
												<input class="form-control clock" type="text" id="endTime"
													placeholder="End Time" data-ng-model="event.endTime" readonly timepicker>
											</div>
										</div>
										<div class="row">
											<textarea rows="4" cols="15" placeholder="Description"
												data-ng-model="event.description" maxlength="5000"></textarea>
										</div>
										<div class="row">
											<span id="cameraicon"><i class="fa fa-camera fa-2x"
												aria-hidden="true"></i></span>&nbsp&nbsp<input type="file"
												name="file" id="proffile" class="imgFile" /><a
												data-target="" class="uploadpicture"
												data-ng-click="showBrowseDialog();">Link Photo</a> <strong><span
												id="linkedEventImg"></span></strong>
										</div>
										<div class="row pull-right">
											<button type="submit" class="btn btn-info" id="requestBtn"
												data-ng-click="createEvent(managerCommunity);">Post</button>
										</div>


									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popup-post" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="box-sing-up">
								<h5>Create Post</h5>
								<form name="postForm" id="postForm"
									enctype="multipart/form-data">
									<div class="frow">
										<div class="frow-box">
											<div class="frow-img">
												<img data-ng-if="!profileimg" src="images/Commun-ity_03.png"
													title="Community Manager" /> <img data-ng-if="profileimg"
													src="{{communityPaths+'profile_pics/'+profileimg}}"
													title="Community Manager" />
											</div>
											<div class="frow-text">
												<p class="postusername">
													<strong>{{firstname+" "+lastname}}</strong>
												</p>

												<p id="newsBoardDescr">
													<textarea placeholder="Type post here" name="description"
														rows="5" data-ng-model="post.description" maxlength="5000"></textarea>

												</p>
											</div>
										</div>
									</div>
									<br /> <span> <span id="cameraicon"><i
											class="fa fa-camera fa-2x" aria-hidden="true"></i></span>&nbsp&nbsp<input
										type="file" name="uploadfile" id="postImgfile" class="imgFile" /><a
										data-target="" class="uploadpicture"
										data-ng-click="showBrowseDialogForPost();">Link
											Photo/Video</a> <strong><span id="linkedPostImg"></span></strong>
									</span><br> <span class="pull-right" id="postBtnDiv"><button
											type="submit" title="Post" class="btn"
											data-ng-click="createPost(managerCommunity);">Post</button></span>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="inviteToCommunity" role="dialog">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="box-sing-up">
								<h5>Invite To Community</h5>
								<form name="postForm" id="postForm"
									enctype="multipart/form-data">

									<input type="text" class="form-control"
										placeholder="Enter email addrress here" name="emailAddress"
										data-ng-model="emailAddr" maxlength="100"> <br> <span
										class="pull-right" id="makePaymentBtn"><button
											type="submit" class="btn"
											data-ng-click="inviteToCommunity();">Submit</button></span>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="popup-business" role="dialog">
		<div class="modal-dialog " role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<div class="box-sing-up">
								<h5 data-ng-if="!update">Create Business</h5>
								<h5 data-ng-if="update">Update Business</h5>
								<form name="businessInfoForm" enctype="multipart/form-data">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="businessImageDiv">
								<div class="profile-image">
									<img data-ng-if="!businessInfo.communityImage" src="images/Commun-ity_03.png" id="businessImage">
								<img data-ng-if="businessInfo.communityImage" src="{{communityPaths+'businesses/'+businessInfo.communityImage}}" id="businessImage">
								</div>
								<div class="upload-btn-box">
                                      <input type="file" name="uploadfile" id="busifile"/>
									  <button type="button" class="business-btn" data-ng-click="showBrowseDialogBusiness();">Upload</button>
								</div>
                     
                         </div>
						<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								<div class="row-input">
								 <label><strong>Business Name</strong></label>  
								<input type="text" data-ng-model="businessInfo.businessName" maxlength="250" class="form-control">
								</div>
								<div class="row-input">
									<label><strong>Email Address</strong></label>  
									<input type="email" data-ng-model="businessInfo.emailAddress" maxlength="100" class="form-control">
								</div>
								<div class="row-input">
									<label><strong>Phone Number</strong></label> 
									<input type="text" data-ng-model="businessInfo.phoneNumber" maxlength="20" class="form-control">
								</div>
						
							</div>
						</div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="businessDescription">
								<div class="row-input">
									<label><strong>Business Description</strong></label> 
									<textarea class="pro-description" data-ng-model="businessInfo.description" maxlength="3000">
                           </textarea>
								</div>
						</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
								           <div id="createBusinessBtn">
										<button data-ng-if="!update" type="button" class="business-btn" data-ng-click="createCommunityBusiness();">Create</button>
										<button data-ng-if="update" type="button" class="business-btn" data-ng-click="updateCommunityBusiness();">Update</button>	
							</div>
						</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		
	</script>
</div>