<div class="container" data-ng-controller="myProfileCtrl">
<div class="loader" data-ng-if="loading"></div>
  <div class="row">
  	<div class="content-area step-container accepted-request">
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9 col-md-offset-1">
<h2>My Profile</h2>
<div class="community-box" id="myProfileMainDiv">
      <div class="tabs-container">
        <div class="tab tab-title active" id="GItab" data-ng-click="addActiveToTabs('GI','410');"><h4><strong>General Information</strong></h4></div>
        <div class="tab-content active" id="GI">			 
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0">
									<div id="editGeneralInformation" style="display:none">
									<form enctype="multipart/form-data" name="profileForm">
										<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 genInfoProfilePic">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<label><strong>Profile Picture</strong></label>
											</div>
									<p>
								<img data-ng-src="{{myProfileImage}}" id="profimg" class="profileImg">
									</p><br>
		<div id="profUploadBtn">
							<!-- 	<input type="file" name="file" id="proffile"/>
								<button type="button" class="btn btn-info" data-ng-click="showBrowseDialog();">
								Browse</button>  -->
								<button type="button" class="btn btn-info" data-ng-click="showBrowseDialog();">
								Change</button>
									</div>
								
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 mytry myprofileInputs">
										<div class="row">
												<div class="myProfile">
													<div class="row-input">
								 <label><strong>First Name</strong></label>  
					     <input id="proffname" type="text" placeholder="First Name" data-ng-model="consumersProfileInfo.firstName" maxlength="100">
								</div>
								<div class="row-input">
									<label><strong>Last Name</strong></label>  
	      <input id="proflname" type="text" placeholder="Last Name" data-ng-model="consumersProfileInfo.lastName" maxlength="100">
								</div>
							<!-- 	<div class="row-input">
									<label><strong>Date of Birth</strong></label> 
							    <input class="profdob" id="profdob" type="text" placeholder="Date of Birth" data-ng-model="consumersProfileInfo.dob" datetimepicker>
								</div>
								<div class="row-input">
									<label><strong>Social Security Number</strong></label> 
			    <input id="securitynum"  type="text" placeholder="Social Security Number" data-ng-model="consumersProfileInfo.ssn">
								</div> -->
								<div class="row-input">
									<label><strong>Email Address</strong></label> 
					    <input id="profemail" type="email" placeholder="Email Address" data-ng-model="consumersProfileInfo.emailAddress" readonly>
								</div>
								<div class="row-input">
									<label><strong>Password</strong></label> 
								    <input id="profpwd" type="password" placeholder="Password" name="profpwd" data-ng-model="consumersProfileInfo.password" data-ng-class="{profpwd:profileForm.profpwd.$touched}">
								</div>
 <div id="saveGnrlInfoBtn"><button type="button"  class="btn btn-info" id="saveGnrlBtn" data-ng-click="submitGenerealInfo()">Save</button></div>
  </div>          
											</div>
										</div>
											</form>	
									</div>
									</div>

					<div id="displayGeneralInformation">
						<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 genInfoProfilePic">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<label><strong>Profile Picture</strong></label>
											</div>
									<p>
								<img src="{{myProfileImage}}" id="profimg" class="profileImg">	</p>	
									</div>
									<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 mytry myprofileInputs">
										<div class="row">
												<div class="myProfile">
													<div class="row-input">
								 <label><strong>First Name</strong></label>  
					     <input id="proffname" type="text" placeholder="First Name" data-ng-model="consumersProfileInfo.firstName" readonly>
								</div>
								<div class="row-input">
									<label><strong>Last Name</strong></label>  
	      <input id="proflname" type="text" placeholder="Last Name" data-ng-model="consumersProfileInfo.lastName" readonly>
								</div>
							<!-- 	<div class="row-input">
									<label><strong>Date of Birth</strong></label> 
							    <input class="profdob" id="profdob" type="text" placeholder="Date of Birth" data-ng-model="consumersProfileInfo.dob" readonly>
								</div>
								<div class="row-input">
									<label><strong>Social Security Number</strong></label> 
			    <input id="securitynum"  type="text" placeholder="Social Security Number" data-ng-model="consumersProfileInfo.ssn" readonly>
								</div> -->
								<div class="row-input">
									<label><strong>Email Address</strong></label> 
					    <input id="profemail" type="email" placeholder="Email Address" data-ng-model="consumersProfileInfo.emailAddress" readonly>
								</div>
								<div class="row-input">
									<label><strong>Password</strong></label> 
								    <input id="profpwd" type="password" placeholder="Password" data-ng-model="consumersProfileInfo.password" readonly>
								</div>
 <div id="editGnrlInfoBtn"><button type="button"  class="btn btn-info"  data-ng-click="showGeneralInfoForm();">Edit</button></div>
  </div>          
											</div>
										</div>
					
					
					
					
				<!--  		<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 genInfoProfilePic">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
												<label><strong>Profile Picture</strong></label>
											</div>
									<p data-ng-cloak>
									<img data-ng-if="!consumersProfileInfo.profilePic" data-ng-src="images/Commun-ity_03.png" class="profileImg"/>
									<img data-ng-if="consumersProfileInfo.profilePic" data-ng-src="{{communityPaths+'profile_pics/'+consumersProfileInfo.profilePic}}"  class="profileImg"/>
									</p>
									<br>
								<!-- 	<p><button type="button" class="uploadpic">Upload</button></p>
									<div id="saveGnrlInfoBtn"><button type="button"  class="btn btn-info" id="editGeneralInfo">Edit</button></div>
								 	</div>
<!-- <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 displayGeneralInformationDiv">
										<div class="row">
									
												<div class="myProfile">
  <div>
  <label><strong>Name</strong></label> 
	<p>{{consumersProfileInfo.firstName+" "+consumersProfileInfo.lastName}}</p>
  </div>
 <div>
  	<label><strong>Date of Birth</strong></label> 
	<p>{{consumersProfileInfo.dob}}</p>
  </div>
 <div>
<label><strong>Social Security Number</strong></label> 
	<p>{{consumersProfileInfo.ssn}}</p>
  </div>
<div>
	<label><strong>Email Address</strong></label>  
	<p>{{consumersProfileInfo.emailAddress}}</p>
  </div>
 <div>
 <label><strong>Password</strong></label> 
 <p>***********</p>
 </div>
  <div id="editGnrlInfoBtn"><button type="button"  class="btn btn-info"  data-ng-click="showGeneralInfoForm();">Edit</button></div>
                                                </div>
											</div>
										</div> -->
					
					</div>	
        </div>
        
        
            <div data-ng-show="providerId" class="tab tab-title" id="helperProftab" data-ng-click="showhelperProfile('helperProf');"><h4><strong>Helper Profile</strong></h4></div>
        <div data-ng-show="providerId" class="tab-content" id="helperProf">			 
								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-left: 0">
									<div id="editHelperInformation" style="display:none">
									<form enctype="multipart/form-data">
<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 mytry myprofileInputs">
										<div class="row">
												<div class="myProfile">
								<div class="row-input" style="padding-bottom: 50px">
									<label class="offer-label-text"><strong>What type of help you offer</strong></label>
									<ul class="offer-list-type">
										<li data-ng-repeat="activity in displayActivities">
						<label class="activityLabel">
  <input type="checkbox" name="activityRadio" value="{{activity.id}}" data-ng-click="select(activity.id);" />				
<span data-ng-switch="{{activity.id}}">
							  <span data-ng-switch-when="1">
					 <img src="images/homelogo.png" id="1">
					 <span class="activityNames">{{activity.activityName}} </span>
					  </span>
					  <span data-ng-switch-when="2">
					    <img src="images/pets.png" id="2">
					     <span class="activityNames">{{activity.activityName}}</span>
					  </span>
					  <span data-ng-switch-when="3">
					 <img src="images/cart.png" id="3">
					  <span class="activityNames">{{activity.activityName}}</span>
					  </span>
					   <span data-ng-switch-when="4">
					   <img src="images/yardworklogo.png" id="4">
					    <span class="activityNames">{{activity.activityName}}</span>
					  </span>
					  <span data-ng-switch-default></span>
				</span>
				</label>
</li>
									
									</ul>
								</div>
								<div class="row-input">
								<!-- 	<label><strong>Profile Description</strong></label> -->
									<textarea class="pro-description" data-ng-model="helperProfileInfo.description" Placeholder="Profile Description" maxlength="5000">
                           </textarea>
								</div>

 <div id="saveGnrlInfoBtn"><button type="button"  class="btn btn-info" id="saveGnrlBtn" data-ng-click="submitHelperInfo()">Save</button></div>
  </div>          
											</div>
										</div>
											</form>	
									</div>
									</div>
					<div id="displayHelperInformation">
					<div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 myprofileInputs">
							<div class="row-input" style="padding-bottom: 50px">
									<label class="offer-label-text"><strong>Type of help you offer</strong></label>
									<ul class="offer-list-type">
										<li data-ng-repeat="activity in helperProfileInfo.activities">
						<label class="activityLabel">			
<span data-ng-switch="{{activity.id}}">
							  <span data-ng-switch-when="1">
					 <img src="images/homelogo.png">
					 <span class="activityNames">{{activity.activityName}} </span>
					  </span>
					  <span data-ng-switch-when="2">
					    <img src="images/pets.png">
					     <span class="activityNames">{{activity.activityName}}</span>
					  </span>
					  <span data-ng-switch-when="3">
					 <img src="images/cart.png">
					  <span class="activityNames">{{activity.activityName}}</span>
					  </span>
					   <span data-ng-switch-when="4">
					   <img src="images/yardworklogo.png">
					    <span class="activityNames">{{activity.activityName}}</span>
					  </span>
					  <span data-ng-switch-default></span>
				</span>
				</label>
</li>
</ul>
								</div>
								<div class="row-input">
									<textarea class="pro-description" data-ng-model="helperProfileInfo.description" Placeholder="Profile Description" readonly>
                           </textarea>
								</div>
 <div id="editGnrlInfoBtn"><button type="button"  class="btn btn-info"  data-ng-click="showHelperInfoForm();">Edit</button></div>
  </div>          
  </div>
  </div>
        
        
        <div class="tab tab-title" id="CItab" data-ng-click="communities('CI');"><h4><strong>Communities</strong></h4> </div>
        <div class="tab-content" id="CI">			 
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<div class="row">
										<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bill-headings">
												<h4><strong>My Communities</strong></h4>
										</div>
                                          	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 communities-img" data-ng-repeat="community in community">
                                         <strong data-ng-show="communityActiveStatus!=0">	{{community}}</strong> 		
                                         <em data-ng-show="communityActiveStatus==0">You are no longer a member of <b>{{community}}</b> community</em>
											    </div>
											</div> 
										</div> 
                                </div>
                                <div class="tabHeightLeft"></div>
						</div>
						
        </div>
     
       </div>
      </div>
      	<div class="modal fade" id="popup-cropImage" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
								<h5>Crop profile image</h5>
								 <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">

								   <image-crop
         data-width="300"
         data-height="300"
         data-shape="square"
         data-step="imageCropStep"
         data-result="myCroppedImage"
         ng-show="showImageCropper"
       ></image-crop>
  <!--    <div class="cropArea"><img-crop image="myImage" result-image="myCroppedImage" area-type="square" result-image-quality="1" area-min-size="250" result-image-size="resImgSize"></img-crop </div>  -->
 
  </div>
  	 <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
  
  <div data-ng-show="myCroppedImage">
  <h5>Cropped Image:</h5>
  <img data-ng-src="{{myCroppedImage}}" /></div>
  </div>				
						</div>
						 <div class="row cropImageBtn" data-ng-show="myCroppedImage">
						  <button type="button"  data-ng-show="myCroppedImage" class="btn btn-info"  data-ng-click="myCroppedImage=null;imageCropStep=1">Reset</button>
  <button type="button" class="btn btn-info"  data-ng-click="uploadCroppedImage();">Upload</button>
  </div>
					</div>
				</div>
			</div>
		</div>
	</div>
    </div>
 

      <div class="push"></div>
 </div>

