<div data-ng-controller="needsCtrl">
	<div class="content-area step-container">
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
			<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
				<h2>Needs</h2>
				<div class="frow needsFrow">
					<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7 needsMainDiv">
						<div class="needslistDiv"
							data-ng-repeat="communityNeedsList1 in communityNeedsList | orderBy:'-createDate'">
							<div class="col-xs-12 col-sm-5 col-md-6 col-lg-6">
								<span data-ng-if="communityNeedsList1.quantity">{{communityNeedsList1.needName+"
									("+communityNeedsList1.quantity+")"}}</span>
									<span data-ng-if="!communityNeedsList1.quantity">{{communityNeedsList1.needName}}</span>  
							</div>
							<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
								<span class="slotAvailable"
									data-ng-if="communityNeedsList1.communityId && communityNeedsList1.communityId<communityNeedsList1.quantity && communityNeedsList1.quantity >1">{{communityNeedsList1.communityId+"
									of "+communityNeedsList1.quantity+" slots filled"}}</span> <span
									class="slotAvailable"
									data-ng-if="communityNeedsList1.communityId>=communityNeedsList1.quantity && communityNeedsList1.quantity >1">All
									slots filled</span> <span class="slotAvailable"
									data-ng-if="communityNeedsList1.communityId==0 && communityNeedsList1.quantity >1">All slots
									available</span>
									<span class="slotAvailable" data-ng-if="communityNeedsList1.communityId!=1 && communityNeedsList1.quantity <=1">Slot available</span>
							        <span class="slotAvailable" data-ng-if="communityNeedsList1.communityId==1 && communityNeedsList1.quantity <=1">Slot filled</span>
							</div>
							<div class="col-xs-12 col-sm-3 col-md-2 col-lg-2 removePaddings">
								<ul class="list-news-btn">
									<li class="signUp"><a title="sign up" id="signUpanchor"
										data-ng-click="disableSignUp(communityNeedsList1.communityId,communityNeedsList1.quantity,communityNeedsList.indexOf(communityNeedsList1))"
										data-ng-class="{disabled: communityNeedsList1.communityId>communityNeedsList1.quantity}">Sign
											up</a></li>
								</ul>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 signUpListDiv removePaddings" >
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 needComment">
								{{communityNeedsList1.needComment}}
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 signUpsList" data-ng-if="communityNeedsList1.signups!=''">
									<div class="frow">
										<div data-ng-repeat="signups in communityNeedsList1.signups">
											<div class="memberImginNeeds">
												<img data-ng-if="!signups.consumerId.profilePic"
													src="images/Commun-ity_03.png" title="User profile"
													class="img-responsive member-img-needs" /> <img
													data-ng-if="signups.consumerId.profilePic"
													src="{{communityPaths+'profile_pics/'+signups.consumerId.profilePic}}"
													title="User profile"
													class="img-responsive member-img-needs" />
											</div>
											<div class="memberNameinNeeds"
												data-ng-if="signups.consumerId.id==consumerId">{{"You("+signups.consumerId.firstName+"
												"+signups.consumerId.lastName+")"}}</div>
											<div class="memberNameinNeeds" data-ng-if="signups.consumerId.id!=consumerId">{{signups.consumerId.firstName+"
												"+signups.consumerId.lastName}}</div>
											<div class="deleteinNeeds pull-right"
												data-ng-if="signups.consumerId.id==consumerId">
												<a data-ng-click="deleteSignup(communityNeedsList1.id,signups.consumerId.id);"><img
													src="images/close.png" class="close-img"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
						<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 removePaddings">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<strong>Description</strong>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<p>Description about Community needs</p>
				</div>
				</div>
				</div>
			

			</div>
		</div>
	</div>
	<div class="push"></div>
	<div class="modal fade" id="signUpNeedsModal" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times</span>
				</button>
				<div class="popup-box">
					<div class="container">
						<div class="row">
							<h5>Sign up for</h5>
							<hr>
							<form name="postForm" id="postForm" enctype="multipart/form-data">

								<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
										<span data-ng-if="communityNeedsList[needIndex].quantity">{{communityNeedsList[needIndex].needName+"
											("+communityNeedsList[needIndex].quantity+")"}}</span>
											<span data-ng-if="!communityNeedsList[needIndex].quantity">{{communityNeedsList[needIndex].needName}}</span>
											<br> <span
											class="slotAvailable"
											data-ng-if="communityNeedsList[needIndex].communityId && communityNeedsList[needIndex].communityId<communityNeedsList[needIndex].quantity && communityNeedsList[needIndex].quantity">{{communityNeedsList[needIndex].communityId+"
											of "+communityNeedsList[needIndex].quantity+" slots filled"}}</span>
										<span class="slotAvailable"
											data-ng-if="communityNeedsList[needIndex].communityId==0 && communityNeedsList[needIndex].quantity>1">All
											slots available</span>
											<span class="slotAvailable"
											data-ng-if="communityNeedsList[needIndex].communityId==0 && communityNeedsList[needIndex].quantity<=1">Slot available</span>
									</div>
									<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" data-ng-if="communityNeedsList[needIndex].quantity > 1">
										<input class="form-control" id="signupquantity" type="number" min="1"
											placeholder="Enter Quantity"
											data-ng-model="signUpQuantityInfo.signupQuantity">
									</div>
								</div>
								<div
									class="col-xs-12 col-sm-12 col-md-12 col-lg-12 signUpBtnModal">
									<span id="makePaymentBtn"><button type="submit"
											class="btn" data-ng-click="signUpfortheNeed();">Sign
											up</button></span>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

