<div id="indexPage" data-ng-controller="SignUpCtrl as ctrl">
<div class="loader" data-ng-if="loading"></div>
	   <section id="plansandpricingpage" class="hero">
        <section class="navigation">
            <header>
                <div class="header-content">
                    <div class="logo"><a href="#"><img src="images/logo-color.png" alt="Commun.ity logo" id="indexPagelogo" class="indexPagelogo" data-ng-click="homepage()"></a></div>
                    <div class="header-nav">
                        <nav>
                              
                            <ul class="member-actions">
                                <li><a data-toggle="modal" data-target="#popup-login" class="login">Log in</a></li>
                                <li><a data-toggle="modal" data-target="#popup-sing-up" class="btn-white btn-small">Sign up</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="navicon">
                        <a class="nav-toggle" data-target="#"><span></span></a>
                    </div>
                </div>
            </header>
        </section>
        
    </section>
 
   
    
     <section class="plansAndPricing section-padding" id="features">
        <div class="container">
        <div class="headings">Plans and Pricing</div>
            <div class="row">
                     <!--    <div class="col-xs-9 col-sm-7 col-md-5 col-lg-5 col-xs-offset-2 col-sm-offset-3 col-md-offset-4">
                        Andy is looking to save for college by doing chores around the neighborhood. Hire him to watch your dogs or run an errand.
                        </div>  -->
            <div class="col-xs-11 col-sm-12 col-md-10 col-lg-10 col-md-offset-2 col-lg-offset-2 pricingCards">
         <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3 priceBoxes">
         <div class="pricingInfo">
         <h5 class="planName">Basic</h5>
         <h3 class="price">Free</h3>
   <b>Get to know Commun.ity</b>
   </div>
                  <ul class="plansDiv">
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Member sign-up</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community news feed</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Schedule Events</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">List businesses</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community Branding</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Manager dashboard</span></li>
   
      </ul>
         <a href="" data-toggle="modal" data-target="#popup-joinnow" class="btn-select-plan" data-ng-click="selectedPlan('Basic');">Select Plan</a>
         </div>
         <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3 priceBoxes recommendedPlan">
            <div class="pricingInfo">
         <h5 class="planName">Premium</h5>
         <h2 class="price">$25</h2>
         <h5 class="price">/month</h5>
           <b>Build your community</b>
           </div>
                  <ul class="plansDiv">
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Member sign-up</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community news feed</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Schedule Events</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">List businesses</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community Branding</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Manager dashboard</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Allow members to offer services</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Member discussion boards</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Post/Sign-up for Community needs</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Sponsors banner for revenue generation</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Full customer Support</span></li>
           </ul>
                 <a href="" data-toggle="modal" data-target="#popup-joinnow" class="btn-select-plan" data-ng-click="selectedPlan('Premium');">Select Plan</a>
         </div>
          <div class="col-xs-10 col-sm-5 col-md-4 col-lg-3 priceBoxes">
             <div class="pricingInfoPremiumPlus">
         <h5 class="planName">Premium+</h5>
         <h3 class="price">Coming soon</h3>
         </div>
         <ul class="plansDiv">
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Member sign-up</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community news feed</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Schedule Events</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">List businesses</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community Branding</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Manager dashboard</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Allow members to offer services</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Member discussion boards</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Post/Sign-up for Community needs</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Sponsors banner for revenue generation</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Full customer Support</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community Metrics dashboard</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Artificial Intelligence powered community connections</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Event planning concierge</span></li>
         
             </ul>
          
         </div>
            </div>
            </div>
        </div>
    </section>
 
 
    
       
    <section class="to-top">
        <div class="container">
            <div class="row">
                <div class="to-top-wrap">
                    <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
                </div>
            </div>
        </div>
    </section>
   <div class="modal fade" id="popup-joinnow" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="popup-box">
       	<div class="container">
		<div class="row">
    		<div class="form-page">
          <div class="box-sing-up">
          <h2>Join Commun.ity</h2>
              <form name="contactForm">
                  <p class="joinCommunityNote">
              	  We are an invite-only platform. Please give us your information and we will contact you. Thank you for your interest in Commun.ity
              	  </p> 
                   <p class="name"> 
                     <label>First Name<span>*</span></label>
                     <input type="text"  title="First Name" placeholder="First name" data-ng-model="contactForm.firstName" required/>
                   </p>
                   <p class="name"> 
                     <label>Last Name<span>*</span></label>
                     <input type="text"  title="Last Name" placeholder="Last name" data-ng-model="contactForm.lastName" required/>
                   </p>  
                   <p> 
                    <label>Email Address<span>*</span></label>
                    <input type="text"  title="Email Address" placeholder="Email address" data-ng-model="contactForm.emailAddress" required/>
                  </p>
                    <p> 
                     <label>Community Type<span>*</span></label>
                   <select data-ng-model="contactForm.communityType" style="margin-top: 5px;margin-left: 2px" required>
											<option data-ng-repeat="communityTypes in communityTypes"
												value="{{communityTypes}}">{{communityTypes}}</option>
										</select>
                   </p>
                   <p> 
                     <label>Tell us a lil more</label>
<textarea rows="4" cols="4" data-ng-model="contactForm.ssn"></textarea>
                   </p>
               <!--      <p><em>Please create a password that has < password parameters required> </em></p>   -->
                  
                  <p class="text-right"><a href="" title="Sign Up" class="btn btn-fill btn-small" data-ng-click="contactFormSubmit();" data-ng-disabled="contactForm.$invalid">Join</a></p>
                  </form>    
            </div>
         </div> 
    </div>
</div>   
       </div>
    	</div>   
		</div>
</div>
<div class="modal fade" id="popup-sing-up" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="popup-box">
       	<div class="container">
		<div class="row">
    		<div class="form-page">
          <div class="box-sing-up">
          <h2>Sign Up</h2>
              <form name="signUpForm">
              	  	<p class="joinCommunityNote">
              	  We are an invite-only platform. Please give us your information and we will contact you. Thank you for your interest in Commun.ity
              	  </p>
                   <p class="name"> 
                     <label>First Name<span>*</span></label>
                     <input type="text"  title="First Name" placeholder="Firstnamefilledout" data-ng-model="signup.firstName" required/>
                   </p>
                     
                   <p class="name"> 
                     <label>Last Name<span>*</span></label>
                     <input type="text"  title="Last Name" placeholder="Lastnamefilledout" data-ng-model="signup.lastName" required/>
                   </p>  
                   <p> 
                    <label>Email Address<span>*</span></label>
                    <input type="email"  title="Email Address" placeholder="emailaddress@filledout.com" data-ng-model="signup.emailAddress" required/>
                  </p>
                    <p data-ng-if="referralCodes!=''"> 
                     <label>Select your Community<span>*</span></label>
                   <select data-ng-model="referralCodes.referralCode" style="margin-top: 5px;margin-left: 2px" required>
											<option data-ng-repeat="referralCode in referralCodes"
												value="{{referralCode.referralCode}}">{{referralCode.communityName}}</option>
										</select>
                   </p>
                 <!--    <p> 
                     <label>Phone Number <span></span></label>
                     <input type="text"  title="Referral Code" ng-model="signup.phoneNumber"/>
                   </p> -->
                   <p> 
                     <label>Password<span>*</span></label>
                     <input type="password"  title="Password"  data-ng-model="signup.password" data-ng-enter="DoWorkCreateUser();" required/>
                   </p>
                       
               <!--      <p><em>Please create a password that has < password parameters required> </em></p>   -->
                  
                  <p class="text-right"><a href="" title="Sign Up" class="btn btn-fill btn-small" data-ng-click="createUser();" data-ng-disabled="signUpForm.$invalid" data-ng-enter="DoWorkCreateUser();">Submit</a></p>
                  </form>    
            </div>
         </div> 
    </div>
</div>   
       </div>
    	</div>   
		</div>
</div>
<div class="modal fade" id="popup-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="popup-box">
       	<div class="container">
		<div class="row">
    		<div class="form-page">
          <div class="box-sing-up">
          <h2>LOG IN</h2>
           		<form name="loginForm">
               <p> 
                 <label>Email Address<span>*</span></label>
                 <input type="email" title="Email Address" placeholder="Email address" data-ng-model="login.username" required/>
               </p>
               <p> 
                 <label>Password<span>*</span></label>
                 <input type="password"  data-ng-model="login.password" data-ng-enter="DoWork();" required/>
               </p>  
              <p class="text-center"><a href="" title="Login" class="btn btn-fill btn-small" data-ng-click="validateLogin();" data-ng-disabled="loginForm.$invalid" data-ng-enter="DoWork();">Login</a></p>
              <p class="text-center forgotPasswordLink"><b><a href="" data-ng-click="forgotPasswordModal()">Forgot password?</a></b></p>
            </form>       
            </div>
         </div> 
    </div>
</div>   
       </div>
    	</div>   
		</div>
</div>
<div class="modal fade" id="popup-forgotPassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="popup-box">
       	<div class="container">
		<div class="row">
    		<div class="form-page">
          <div class="box-sing-up">
          <h2>Forgot Password</h2>
           	<form>
               <p> 
                 <label>Email Address<span>*</span></label>
                 <input type="email" title="Email Address" placeholder="Email address" data-ng-model="forgotpasswordEmail"/>
               </p>
              <p class="text-center"><a href="" title="Forgot Passowrd" class="btn btn-fill btn-small" data-ng-click="forgotPassword();">Submit</a></p>
            </form>     
            </div>
         </div> 
    </div>
</div>   
       </div>
    	</div>   
		</div>
</div>
 <div class="modal fade" id="popup-basicPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="popup-box">
       	<div class="container">
		<div class="row">
    		<div class="form-page">
          <div class="box-sing-up">
          <h2>Selected Pricing Plan</h2>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 priceBoxes">
         <div class="pricingInfo">
         <h5 class="planName">You have selected Basic plan</h5>
         <h3 class="price">Free</h3>
   <b>Get to know Commun.ity</b>
   </div>
                  <ul>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Member sign-up</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community news feed</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Schedule Events</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">List businesses</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community Branding</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Manager dashboard</span></li>
   
      </ul>
         </div> 
                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 okBtn">
                  <a href="" class="btn-select-plan" data-ng-click="closeCurrentModal();">Ok</a>
         </div>
            </div>
         </div> 
    </div>
</div>   
       </div>
    	</div>   
		</div>
</div>
<div class="modal fade" id="popup-premiumPlan" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<div class="popup-box">
       	<div class="container">
		<div class="row">
    		<div class="form-page">
          <div class="box-sing-up">
          <h2>Selected Pricing Plan</h2>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 priceBoxes">
         <div class="pricingInfo">
         <h5 class="planName">You have selected Premium plan</h5>
         <h3 class="price">$25/month</h3>
   <b>Build your community</b>
   </div>
                  <ul>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Member sign-up</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community news feed</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Schedule Events</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">List businesses</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Community Branding</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Manager dashboard</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Allow members to offer services</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Member discussion boards</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Post/Sign-up for Community needs</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Sponsors banner for revenue generation</span></li>
         <li class="plans"><i class="fa fa-check" aria-hidden="true"></i><span class="PlanCheckContent">Full customer Support</span></li>
   
      </ul>
         </div> 
                         <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 okBtn">
                  <a href="" class="btn-select-plan" data-ng-click="closeCurrentModal();">Ok</a>
         </div>
            </div>
         </div> 
    </div>
</div>   
       </div>
    	</div>   
		</div>
</div>
    </div>