	<div id="indexPage" data-ng-controller="SignUpCtrl as ctrl">
	<div class="container" >
		<div class="row">
    		<div class="form-page">
          <div class="box-sing-up">
          <h2>Join Commun.ity</h2>
              <form name="signUpForm">
              	  		<div class="alert alert-danger" id="error" style="display:none">
  							<strong>Danger!</strong>
			      		</div>              
                   <p class="name"> 
                     <label>First Name<span>*</span></label>
                     <input type="text"  title="First Name" placeholder="Firstnamefilledout" data-ng-model="signup.firstName" required/>
                   </p>
                     
                   <p class="name"> 
                     <label>Last Name<span>*</span></label>
                     <input type="text"  title="Last Name" placeholder="Lastnamefilledout" data-ng-model="signup.lastName" required/>
                   </p>  
                   <p> 
                    <label>Email Address<span>*</span></label>
                    <input type="text"  title="Email Address" placeholder="emailaddress@filledout.com" data-ng-model="signup.emailAddress" required/>
                  </p>
                    <p data-ng-if="referralCodes!=''"> 
                     <label>Select your Community<span>*</span></label>
                   <select data-ng-model="referralCodes.referralCode" style="margin-top: 5px;margin-left: 2px" required>
											<option data-ng-repeat="referralCode in referralCodes"
												value="{{referralCode.referralCode}}">{{referralCode.communityName}}</option>
										</select>
                   </p>
                 <!--    <p> 
                     <label>Phone Number <span></span></label>
                     <input type="text"  title="Referral Code" ng-model="signup.phoneNumber"/>
                   </p> -->
                   <p> 
                     <label>Password<span>*</span></label>
                     <input type="password"  title="Password"  data-ng-model="signup.password" data-ng-enter="DoWorkCreateUser();" required/>
                   </p>
                       
               <!--      <p><em>Please create a password that has < password parameters required> </em></p>   -->
                  
                  <p class="text-right"><a href="" title="Sign Up" class="btn btn-fill btn-small" data-ng-click="createUser();" data-ng-disabled="signUpForm.$invalid" data-ng-enter="DoWorkCreateUser();">Join</a></p>
                  </form>    
            </div>
         </div> 
    </div>
</div> 
</div>