
#apartmentPage {
    font-family: 'Raleway', sans-serif;
}
#apartmentPage p {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
/*---------------------------------------
   COMMON STYLES             
-----------------------------------------*/
#apartmentPage .section_title {
    padding-top: 90px;
    padding-bottom: 50px;
}
#apartmentPage .section_title h2 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    color: #333;
    font-size: 30px;
    font-weight: 400;
}
#apartmentPage .section_title h2:after {
    content: "";
    position: absolute;
    bottom: -20px;
    width: 60px;
    height: 1px;
    background-color: #f39c12;
    left: 50%;
    margin-left: -30px;
}
#apartmentPage .section_title p {
    text-align: center;
    margin-top: 45px;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
}
#apartmentPage .parallax {
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.apartment_title{
	text-align:center;
}
.apartment_title h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 37px;
    position: relative;
    color:#2181c8;
    padding-top: 60px;
    padding-bottom: 7px;
    margin-bottom:70px;
}
.apartment_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 29%;
    width: 42%;
    background: #f39c12;
    height: 4px;
}
/*---------------------------------------
   SECTION HOME              
-----------------------------------------*/
/*menu*/

#apartmentPage .header h2 {
    height: 0px;
    margin: 0px;
}
#apartmentPage .navbar {
    margin-top: -100px
}
#apartmentPage .navbar-brand {
    padding: 0;
}
@media(min-width:768px) {
    #apartmentPage .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    #apartmentPage .navbar-default .navbar-nav>li>a {
        font-family: 'Raleway', sans-serif;
    }
    #apartmentPage .navbar-default .navbar-nav>li>a:hover {
        color: #f39c12;
    }
   #apartmentPage .navbar-default .navbar-nav>li>a:focus {
        color: #B5B5B5;
    }
    #apartmentPage .navbar-default {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
        z-index: 110;
    }
    #apartmentPage .navbar-brand img {
        padding-top: 25px;
        height: 45px;
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    #apartmentPage .navbar-default .navbar-nav>li>a {
        -webkit-transition: all 1s;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        transition: all 1s;
    }
    #apartmentPage .navbar-nav>li>a {
        padding-top: 45px;
    }
}
@media (max-width: 768px) {
    #apartmentPage .navbar-brand img {} .navbar-default {
      /*  background-color: #fff !important; */
    }
}
#apartmentPage .navbar-default .navbar-nav>.active>a,
#apartmentPage .navbar-default .navbar-nav>.active>a:hover,
#apartmentPage .navbar-default .navbar-nav>.active>a:focus {
    background: transparent;
    color: #f39c12;
}
#apartmentPage .header {
    background: url(../images/1.png);
    background-size: cover;
	background-repeat: no-repeat;
}

#apartmentPage .logo{
    padding-bottom: 70px;
}
#apartmentPage .home_text{
    text-align: left;
}
#apartmentPage .home-iphone{
    text-align: right;
}
#apartmentPage .home-iphone img{
    width: 100%;
}
#apartmentPage .btn-fill {
  color: #fff;
  border: solid 2px #f28015;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #f28015; }

#apartmentPage .btn-fill:hover,#apartmentPage .btn-fill:focus {
  color: #fff;
  background-color: #f28015;
  border-color: #f28015; }

#apartmentPage .btn-small {
  padding: 10px 20px; 
  font-size: 13px
  }
  
  
  
@media (max-width: 768px){
   #apartmentPage .home-iphone{
        display: none;
    }
    #apartmentPage .home_text{
        text-align: center;
    }

}
#apartmentPage .home_text h1 {
    color: #fff;
    text-transform: none;
    font-size: 44px;
    font-weight: 300;
    line-height: 48px;
    padding-top: 30px;
    padding-left:40px;
    padding-right:40px;

}
#apartmentPage .home_text p {
    color: #fff;
    font-size: 17px;
    line-height: 28px;
    margin-top: 0px;
    font-weight: 300;
}
#apartmentPage .download-btn {
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 40px;
}
#apartmentPage .home-btn,
#apartmentPage.home-btn:focus,
#apartmentPage.home-btn:active,
#apartmentPage .home-btn:visited {
    background: transparent;
    border-color: #f39c12;
    color: #f39c12;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 19px;
    text-transform: uppercase;
    border-radius: 3px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
#apartmentPage .home-btn:hover {
    background-color: #f39c12;
    color: #fff;
}
.tuor,
.tuor:focus,
tuor:active,
tuor:visited {
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 19px;
    font-weight: 500;
    background: transparent;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tuor:hover {
    color: #fff;
}
.tuor i {
    font-size: 20px;
    padding-left: 5px;
    color: #f39c12;
}



/*---------------------------------------
   SECTION ABOUT              
-----------------------------------------*/
.inner_about_area .container{
	margin-left: 0;
}

.inner_about_title {
    padding-bottom: 50px;
}
.inner_about_title h2 {
    font-weight: 800;
    font-size: 40px;
    line-height: 37px;
    position: relative;
    color:#2181c8;
    padding-top: 40px;
    padding-bottom: 7px;
}
.inner_about_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 66%;
    background: #f39c12;
    height: 4px;
}
.inner_about_title p {
    font-size: 19px;
    line-height: 24px;
    margin-top: 40px;
}
.inner_about_desc {} .single_about_area {
    position: relative;
    padding-bottom: 30px;
    padding-left: 80px;
}
.single_about_area div {
    position: absolute;
    top: 0px;
    left: 0px;
}
.single_about_area div i {
    font-size: 55px;
    color: #BABABA;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.single_about_area h3 {
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}
#apartmentPage .single_about_area p {
    color: #464646;
    font-size: 20px;
    padding-top: 2.7%;
   
}
.single_about_area:hover div i {
    color: #f39c12;
}
 @media (min-width: 991px) and (max-width: 1200px) {
    .about_phone img {
        margin-top: 184px;
        width: 80%;
        margin-right: 20%
    }
}
.advantages-icon{
	display: inline-block;
	width:10%;
	vertical-align:top;
	margin-right:15px;
}
#apartmentPage .fadeInRight{
	padding-left: 30px;
}
@media(max-width:500px) {
	.advantages-icon{
	width:17%;
}
}
/* =========================
     Start Advantages for residents SECTION
============================== */
#AdvantagesForResidents{
	padding-bottom: 70px;
}
#AdvantagesForResidents .feature-icon {
  display: inline-block;
  vertical-align: top;
  padding: 6px 0 10px 0;
  margin-right: 8px;
 }
#AdvantagesForResidents .feature-icon img{
   height:70%;
   width:70%;
}
#AdvantagesForResidents .feature-content {
  display: inline-block;
  width: 80%; }

#apartmentPage #AdvantagesForResidents .feature-content p{
color:#3D4351;
font-size: 18px;
line-height: 20px;
font-weight: 400;
min-height: 75px;
}
#advForResidentsMain{
	margin-left: 70px;
	padding-left: 0;
	text-align: center;
}
.advForResidentsSubDivs{
 border-right: 2px solid #ddd;

}
@media(max-width:800px) {
#advForResidentsMain{
	margin-left: 20px;
}
.advForResidentsSubDivs{
	border-right:2px solid transparent;
}
}
/*---------------------------------------
  Features SECTION APPS SCREEN             
-----------------------------------------*/
#FeaturesInApartment{
	background:url('../images/pattern-small.png') no-repeat center center;
}
#FeaturesInApartment .apartment_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 43%;
    width: 14%;
    background: #f39c12;
    height: 4px;
}
.features-stack-apartment{
	list-style: none;
}
.features-stack-apartment h4{
	font-weight: 600;
	padding-bottom: 10px;
	}
	#apartmentPage .features-stack-apartment p{
	font-size: 18px;
	}
	.feature-list-apartment{
	padding-left: 30px;
	}
	.feature-list-apartment li{
	padding-top: 13px;
	}
/*---------------------------------------
   SECTION APPS SCREEN             
-----------------------------------------*/

#apartmentPage .apps_screen {
    padding-bottom: 96px;
}
#apartmentPage .owl-theme .owl-controls .owl-page span {
    display: block;
    width: 12px;
    height: 12px;
    margin: 5px 7px;
    filter: Alpha(Opacity=50);
    opacity: 0.5;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: transparent;
    border: 1px solid #f39c12;
}
#apartmentPage .owl-theme .owl-controls .owl-page.active span,
#apartmentPage .owl-theme .owl-controls.clickable .owl-page:hover span {
    opacity: 1;
    background: #f39c12;
}
#apartmentPage #demo{
	text-align: center;
}
#apartmentPage #SCREENS .apartment_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 40%;
    width: 20%;
    background: #f39c12;
    height: 4px;
}
#apartmentNavbar{
	border-bottom: 1px solid #ccc;
}

/*---------------------------------------
   SECTION VIDEO              
-----------------------------------------*/

.video_area {
    padding-bottom: 60px;
    padding-left:25px;
}

#apartmentPage #communityVideo .apartment_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 37%;
    width: 26.5%;
    background: #f39c12;
    height: 4px;
}
.video_title p {
    font-size: 18px;
    line-height: 28px;
    margin-top: 40px;
    color: #333;
    font-weight: 300;
}
.btn-video,
.btn-video:active,
.btn-video:focus,
.btn-video:visited {
    background: transparent;
    border: 1px solid #929292;
    color: #686868;
    border-radius: 3px;
    padding: 12px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.btn-video:hover {
    background: #f39c12;
    color: #fff;
    border: 1px solid #f39c12;
}
.video {} .video iframe {
    width: 100%;
    border: 1px solid #999999;
    padding: 5px;
}

#communityVideo{
 background: #f7f7f7;
}

/*************advantages for church section***************/
#apartmentPage #advantagesforchurchheading h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 85%;
    background: #f39c12;
    height: 4px;
}
/*********************** Church header **************************/

#apartmentPage #churchHeader{
    background: url(../images/church2.png);
    background-size: cover;
	background-repeat: no-repeat;
}

 /*********************   Contact Us section ************************************/
   .contactUsSection{
   min-height: 350px;
   }
   
   .contactUsSection .apartment_title h2 {
    margin-bottom: 50px;
}
.contactUsSection .apartment_title h2:after {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 41%;
    width: 18%;
    background: #f39c12;
    height: 4px;
}
#contactemail{
	color: #2181c8;
	font-weight: 800;
	font-size:25px;
}

.contactText{
	display: inline-block;
	width:70%;
	font-size: 25px;
	line-height: 30px;
	padding-top:10px;
	padding-bottom:30px;
}

.contactimage{
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
	padding-bottom:10px;
}
   .contactTextDiv{
   display: inline-block;
   margin-left: 270px;
   text-align: center;
   
   }
   
   
   #apartmentPage .btn-large {
  padding: 15px 30px; 
  font-size: 14px
  }
   @media(max-width:768px) {
      .contactTextDiv{
   display: inline-block;
   margin-left:10px;
   }
   
   }
   
   