@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
/* ==========================================================================
Typography
========================================================================== */
#apartmentPage p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px; }

#apartmentPage h1 {
  font-size: 60px; }

#apartmentPage h2 {
  font-size: 40px;
  font-weight: 300;
  color: #3D4351; }

#apartmentPage h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }

#apartmentPage h4 {
  font-size: 18px; }

#apartmentPage h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }

#apartmentPage .btn {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  background-color:transparent;
  text-transform: uppercase; }

#apartmentPage .btn:hover, .btn:focus {
  color: #fff;
  border-color: #FF5274;
  background-color: #FF5274; }

#apartmentPage .btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  border-color: #f28015; }

#apartmentPage .btn-white:hover, .btn-white:focus {
  color: #f28015;
  border-color: #f28015; }

#apartmentPage .btn-fill {
  color: #fff;
  border: solid 2px #f28015;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #f28015; }

#apartmentPage .btn-fill:hover,#apartmentPage .btn-fill:focus {
  color: #fff;
  background-color: #f28015;
  border-color: #f28015; }

#apartmentPage .btn-small {
  padding: 10px 20px; }

#apartmentPage .btn-large {
  padding: 12px 25px; }

#apartmentPage .btn-margin-right {
  margin-right: 20px; }
/* ==========================================================================
Global Styles
========================================================================== */
#apartmentPage .group:after {
  content: "";
  display: table;
  clear: both; }

#apartmentPage .no-padding {
  padding: 0; }

#apartmentPage .no-margin {
  margin: 0; }

#apartmentPage a {
  color: #FF5274;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

#apartmentPage a:hover,#apartmentPage a:focus {
  color: #D7405D;
  text-decoration: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgba(28, 54, 83, 0.6);
  -webkit-text-size-adjust: 100%; }

#apartmentPage ul,#apartmentPage ol {
  margin: 0;
  padding: 0; }

#apartmentPage ul li {
  list-style: none; }

#apartmentPage .section-padding {
  padding: 90px 0; }

/* ==========================================================================
Navigation
========================================================================== */
#apartmentPage .header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

#apartmentPage .nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer; }

#apartmentPage .nav-toggle:focus {
  outline: none; }

#apartmentPage .nav-toggle span,#apartmentPage .nav-toggle span:before,#apartmentPage .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer; }

#apartmentPage .nav-toggle span:before {
  top: -10px; }

#apartmentPage .nav-toggle span:after {
  bottom: -10px; }

#apartmentPage .nav-toggle span,#apartmentPage .nav-toggle span:before,#apartmentPage .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

#apartmentPage .nav-toggle.active span {
  background-color: transparent; }

#apartmentPage .nav-toggle.active span:before,#apartmentPage .nav-toggle.active span:after {
  top: 0; }

#apartmentPage .nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#apartmentPage .nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }
#slider1{
	margin-left:50px;
}
#slider2{
	margin-left:10px;
}
#slider3{
	margin-left:10px;
}
#apartmentPage .navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }
/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 750px;
  background: url("../images/hero-section.png") center center;
  background-size: cover;
  position: relative; }
  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #fff;
    text-transform:none;
    margin-bottom: 10px; }
  .hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .hero .hero-content {
    padding-top: 26%; }
#apartmentPage .introduction{
	font-size:32px;
	color:#fff;
	margin-bottom:20px;
}
#apartmentPage .navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

#apartmentPage .fixed {
  position: fixed;
  background-color: #fff;
  z-index: 999;
  width: 100%;
  height:90px; }

#apartmentPage header {
  padding: 20px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
#apartmentPage header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }
#apartmentPage header a.login {
      margin-right: 20px; }
#apartmentPage header .logo {
    display: inline-block;
     }
     #apartmentPage .logo img{
     height:45px;
     }
#apartmentPage header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0; }
#apartmentPage header ul.primary-nav li {
      display: inline; }
      #apartmentPage header ul.primary-nav li a {
        color: #fff;
        padding-right: 25px; }
        #apartmentPage header ul.primary-nav li a:hover {
          color: #f28105; }
      #apartmentPage header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  #apartmentPage header ul.member-actions li {
    display: inline; }
    #apartmentPage header ul.member-actions li a {
      color: #fff; }
      #apartmentPage header ul.member-actions li a:hover {
        color: #f28105; }
  #apartmentPage header .header-nav {
    display: inline-block; }
  #apartmentPage .member-actions {
    position: absolute;
    right: 0;
    top: 20px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

#apartmentPage .down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }

/************* Contact Us section***************/
.ContactUs-section input[type=email]{
	width:100%
}
#ContactUsForm{
	padding-left: 4%;
	padding-top: 15px;
}
.ContactUs-section {
  position: relative; }
.ContactUs-section p {
    margin-bottom: 0;
    padding-bottom: 0; }

 .ContactUs-section .feature-content {
    display: inline-block;
    width: 75%;
    padding-top: 20px }
 .contactUsFormBtn{
 text-align:center;
 }
/******************advantages section*******************/
.advantages-section{
	background:url('../images/pattern-small.png') no-repeat center center;
}
.advantages{
	height:110px;
	border: solid 1px #ccc;
	padding: 25px 0;
	margin: 0 50px 30px 0;
	text-align: center;
}
.advantages-icon{
	display: inline-block;
	width:10%;
	vertical-align:top;
	margin-right:15px;
}
.advantages-content{
	display: inline-block;
	width:80%;
	font-weight: 500;
	font-size: 18px;
	text-align: left;
}
#apartmentPage .advantages-content p{
	color:black;
	line-height:normal;
	padding-top:10px;
	}
	.applyBlue{
	color:#1185e8;
	}
	
	/*******************features for residents section********************/
	  .advantages-for-residents .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 20px 0 0 0;
    margin-right: 20px;
    width: 40px; }
  .advantages-for-residents .feature-content {
    display: inline-block;
    width: 75%;
    padding-top: 20px }
   .advantages-for-residents .feature-content {
    border-bottom: solid 2px #2181c8; }
     .advantages-for-residents .feature-item{
     margin:10px 0;
     }
     #apartmentPage .feature-content p{
     color:black;
     }
     /**************************  beta launcher section  *****************************/
     .betaLauncher-section{
     background:url('../images/pattern.png') no-repeat center center;
     }
     #betaLauncherDiv{
    min-height:200px;
	border: solid 1px #ccc;
	padding: 30px 30px;
	background:#fff;
     }
     #betaLauncherDiv p{
     color:#333;
     line-height: normal;
     padding-bottom: 8px;
     }
    #apartmentPage #blueInBetaLauncher{
     color:#1185e8;
     margin-bottom: 0;
     }
     
     /*Headings*/
#apartmentPage .headings{
	font-size: 32px;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 400;
}