@charset "utf-8";
/* CSS Document */	
@import 'bootstrap.min.css';
@import 'font-awesome.min.css';
/*@import 'star-rating.min.css'; */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700);
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese';

body { height:100%; font-family: 'Open Sans', sans-serif;  direction: ltr; overflow-y:auto;font-size:15px; line-height:22px; padding:0px; margin:0px; color:#5b5a5e; -webkit-font-smoothing: antialiased;
 /* added by aishwarya */
}
html, span, applet, object, iframe, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, i, center, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0px; padding:0px; }

/*footer,*/
footer, figure, aside { margin:0px; padding:0px; display:block;transition-property: none; }
#innerPageHeader{ margin:0px; padding:0px; display:block;transition-property: none; }
q:before, q:after { content:''; }
abbr, acronym { border:0; font-variant:normal; }
sup { vertical-align:text-top; }
sub { vertical-align:text-bottom; }
input, select, textarea, button { font-family: 'Open Sans', sans-serif; direction: ltr; color:#3e3e3e; font-size:13px; margin:0em; margin:0px; padding:4px 10px; border:1px solid #d2d2d2; /*box-shadow:1px 1px 2px #eeeeee inset;*/ -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; transition: all 0.4s ease-out; border-radius:0px; box-shadow:0px 1px 0px #ececec inset; }
input, button { overflow:visible; }
select option { padding-left:4px; }
p { margin:0px; padding-bottom:15px; }
input, textarea, a { outline:none; }
a { -webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
input[type=file] + input[type=file] { margin-left:5px; }
select + select, input[type=text] + input[type=text], input[type=password] + input[type=password] input[type=text] + select { margin-left:15px; }
input[type=text] + input[type=submit] { margin-left:10px; }
input[type=checkbox] { height:13px; width:13px; margin-right:5px; position:relative; top:1px; }
input[type=submit], input[type=button], input[type=reset], a, button { cursor:pointer; }
input[type=submit], input[type=button], input[type=reset], button { overflow:visible; }
input[type=submit] + input[type=submit], input[type=button] + input[type=button], input[type=reset] + input[type=reset], button + button, .btn + .btn, input[type=submit] + input[type=button], input[type=button] + input[type=submit] { margin-left:5px; }
input[type=radio] { margin-right:4px; position:relative; top:1px; }
input[type=radio] + abbr, input[type=checkbox] + abbr { padding-right:0px; }
abbr + select, abbr + input { margin-left:15px; }
select[class*=col-] { padding:7px 8px; }
a img, a:hover img, img, a:hover, a input { text-decoration:none; }
a img, img, input[type=checkbox], input[type=radio], iframe { border:none; }
ul { margin:0px; padding:20px 0px 12px 20px; }
del { visibility:hidden; }
textarea { width:100%; max-width:100%; min-height:40px; resize:none; }
input[type=file] { padding:4px 5px; display:inline; }
input[type=file] + input { margin-left:5px; }
input[type=text]:active, input[type=text]:focus, input[type=password]:active, input[type=password]:focus, textarea:active, textarea:focus, textarea.form-control:active, textarea.form-control:focus, select:active, select:focus { /*box-shadow:inset #e8e8e8 2px 2px 2px;*/ border:1px solid #66afe9; box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6); outline: 0 none; border-top:solid 1px #4d9ad3; border-bottom:solid 1px #4d9ad3;  }
a.btn:focus, html body .btn.active, html body a.btn:hover { color:#FFF; text-decoration:none; background-color:#3e3e3e; }
input, input:focus, input:active, .btn:focus, .btn:active:focus, .btn.active:focus { outline:none; }
a { color:#2181c8; }
a:hover { color:#3e3e3e; }
a:visited { text-decoration:none; }
a:hover, a:focus, a:active { color:#484848; text-decoration:none; outline:none; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; margin:0px; padding-bottom:15px; }
h5 { font-size:12px; font-weight:bold; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
del { text-decoration:line-through; }
table { border-collapse:collapse; border-spacing:0; }
td { vertical-align:top; }
select { max-width:255px; }
input[type=submit], input[type=button], input[type=reset], button, .btn { text-decoration:none; font-size:15px; color:#fff; padding:4px 22px 7px 22px; background-color:#2181c8; font-weight:400; border-radius:0px; text-align:center;  
}
input[type=submit]:hover, input[type=button]:hover, input[type=reset]:hover, button:hover, .btn:hover { /*background-color:#499ae1;*/ color:#FFF; }
img { max-height:100%; max-width:100%; border:0; -ms-interpolation-mode:bicubic; vertical-align:middle; }
{ opacity:0.5; filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; }
hr { color:#D0D0D0; }
address p { padding-bottom:5px; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
::-webkit-scrollbar { width:8px; }
::-webkit-scrollbar-button { width:8px; height:5px; }
::-webkit-scrollbar-track { background-color:#DDD; border: skinny plain lightgray; box-shadow: 0px 0px 3px #dfdfdf inset; }
::-webkit-scrollbar-thumb { background-color:#999; border: skinny plain gray; }
::-webkit-scrollbar-thumb:hover { background:#1b1e24; }
::-webkit-input-placeholder { font-family:Arial, Helvetica, sans-serif; direction: ltr; font-size:16px; color:#d2d2d2; }
::-moz-placeholder { font-family:Arial, Helvetica, sans-serif; direction: ltr; font-size:16px; color:#d2d2d2; opacity:1; }
:-ms-input-placeholder { font-family:Arial, Helvetica, sans-serif; direction: ltr; font-size:16px; color:#d2d2d2; opacity:1; }
input:-moz-placeholder { font-family:Arial, Helvetica, sans-serif; direction: ltr; font-size:16px; color:#d2d2d2; opacity:1; }
::selection { background-color:#b0b0b0; color:#FFF; }
::-moz-selection { background-color:#b0b0b0; color:#FFF; }
.container{ max-width:1280px; width:100%; }
h1{ font-size:36px; text-transform:uppercase; color:#838081; padding-bottom:15px;  }
h2{ font-size:45px; text-transform:none; font-family: 'Open Sans', sans-serif; color:#5b5a5e;
padding-bottom:15px; /* change by aishwarya*/
}
h3{ font-size:45px; font-family: 'Open Sans', sans-serif; color:#5b5a5e; padding-bottom:15px; }
/*-------------------------------------------------------------------------------------------RESET CSS CLOSE*/	
/*-------------------------------------------------------------------------------------------COMMON CSS START*/
#logo{
	padding:5px 0;
	display:inline-block;
	}
.header-bg{
	background:url(../images/banner-img.jpg) no-repeat center top;
	padding-bottom:17px;
	margin-bottom:30px;
	background-size:cover;
	}
.header-bg .container{
	position:relative;
	}	
ul.menu-login{
	float:right;
	font-size:15px;
	font-weight:700;
	padding:22px 0px 0px 0px;
	}
ul.menu-login li{
	display:inline-block;
	}
ul.menu-login li + li{
	padding-left:40px;
	}	
ul.menu-login li a{
	color:#FFF;
	}
.box-login{
	padding:15px;
	width:100%;
	max-width:276px;
	background-color:#FFF;
	margin:50px auto 35px auto;
	}
.box-login form input[type="text"]{
	width:100%;
	}			
.box-login label{
	font-size:13px;
	color:#5b5a5e;
	padding-bottom:2px;
	padding-left:5px;
	font-weight:normal;
	}
.box-login p{
	padding-bottom:7px;
	}
.box-login .btn{
	margin-top:8px;
	min-width:175px;
	}
.row-works{
	margin-top:22px;
	padding-left:85px;
	position:relative;
	line-height:1.3;
	}
.circle-no{
	width:62px;
	height:62px;
	left:0px;
	top:0px;
	text-align:center;
	line-height:62px;
	font-size:40px;
	color:#FFF;
	border-radius:50%;
	position:absolute;
	background-color:#5b5a5e;
	}				
.content-area{
	padding-bottom:50px;
	}
.testimonials-text{ font-style:italic; line-height:18px; padding-top:20px;}
.testimonials-box h5{ display:inline-block; margin-top:5px; padding:0px; font-weight:normal; font-size:14px; font-style:normal;}
.testimonials-box{ padding:20px 20px 20px 10px; border:1px solid #d8d8d8; box-shadow:0px 1px 7px #d8d8d8}  
.testimonials-img img{ border-radius:50%;}
ul.get-some-list{ padding:0px; width:100%; display:inline-block;}
ul.get-some-list li h4{ color:#fff; position:absolute; bottom:10px; text-align:center; width:100%; font-size:20px; z-index:1;}
ul.get-some-list li:after{ position:absolute; content:""; height:100%; width:100%; left:0px; top:0px; background-color:rgba(33,129,200,0.7)}
ul.get-some-list li{ float:left; width:16.666%; list-style:none; position:relative; border-left:2px solid #fff; overflow:hidden;} 
ul.get-some-list li img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
 }
ul.get-some-list li:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
 }
#myCarousel{ padding-bottom:50px;}
#myCarousel .carousel-indicators{ bottom:2px;}
#myCarousel .carousel-indicators li{ background-color:#3e3e3e; border-color:#3e3e3e;}
#myCarousel .carousel-indicators .active{ background-color:#2181c8; border-color:#2181c8;}
.btn-get{ display:block; text-align:center; font-size:32px; color:#FFF; background-color:#e27a14; padding:18px 18px 21px 18px;}
.btn-get:hover{ background-color:#3e3e3e; color:#FFF;}
.text-fpo{ position:absolute; top:140px; color:rgba(255,255,255,0.5); padding:0px; font-size:45px; left:109px; }

/*-------------------------------------------------------------------------------------------Dashboard CSS START*/
.dashboard-page{ font-size:15px;}
.dashboard-page #logo{ padding:0px;}
.dashboard-page .container{ max-width:1270px;}
html body .spacing-remove-bootom{ padding-bottom:0px;}
ul.navigation{
	float:right;
	font-size:15px;
	font-weight:700;
	padding:0px;
	}
ul.navigation li{
	float:left; 
	list-style:none;
	}
ul.navigation li + li{ margin-left:2px;}
ul.navigation li a{
	color:#2181c8;
	padding:16px 31px;
	display:block;
	font-weight:600;
	}
ul.navigation li a:hover, ul.navigation li.active{ background-color:#eeeeef;}
.dashboard-page ul.get-some-list li:after{ display:none;}
.user-img{ margin-right:5px; margin-top:-5px;}
.box-upcoming p + p{ padding:5px 10px 10px;}
.box-upcoming p{ padding:5px 10px; line-height:20px;}
.box-upcoming{ background-color:#fff2ab; padding:0px;}
.box-upcoming .dropdown{ width:100%; border-top:1px solid #fff; display:inline-block; padding:5px 10px;}
.box-upcoming .dropdown a{ float:right; color:#3e3e3e;}
.box-upcoming .dropdown-menu{ width:100%}
.btn-invite li a:hover{ background-color:#2181c8;}
.btn-invite li a{ padding:5px 20px; color:#fff; background-color:#e27a14; /*font-size: small; */}
.btn-invite li + li{margin-left:20px; /*margin-left:6px;*/}
.btn-invite li{ display:inline-block;}
.list-news-btn{float:right}
.list-news-btn li{ float:left; list-style:none; background-color:transparent;}
.list-news-btn li a{ padding:5px 15px; color:#3e3e3e;}
.list-news-btn li + li{ margin-left:15px;}
.list-news-btn li.going a{color:#00a651;}
.list-news-btn li.selectedRsvp a{ padding:5px 50px; background-color:#eee;} /*added by aishwarya*/
.list-news-btn li.not-going a{ color:#ed1c24;}
.list-news-btn li.maybe a{color:#e27a14}
ul.list-news-btn{ padding:8px 0px 0px;}
.list-news-btn li.share a{color:#2181c8;}
.list-news-btn li.share, ul.list-news-btn li.book{ float:right; }
.featured-btn, .news-btn{ border-top:2px solid #e3e3e3; width:100%; display:inline-block;}
ul.list-news-btn li.book a{background-color:#2181c8; color:#fff;}
.frow{ padding:10px 10px 5px; border:1px solid #eaeaea; box-shadow:0px 0px 8px #dddddd;}
.frow-box{ min-height:117px;}
.frow-img {float: left; margin:0px 10px 10px 0px; height:60px; width:60px;}
.frow-text{ margin-left:90px;}
.featured-btn .clear-rating.clear-rating-active{ display:none;}
.featured-btn .caption{ display:none !important;}
.frow + .frow{ margin-top:15px;}
html body .rating-container .star{ margin:0px 1px;}
html body .featured-btn .glyphicon{ font-size:16px; color:#c49a08;}
html body .rating-xs{ font-size:0px;}
ul.dashboard-header-img-list{ padding:0px; display:inline-block; width:100%; list-style: none;}
ul.dashboard-header-img-list img{ 
/*	width:100%; */
height:160px;
width:100%;
	}
ul.dashboard-header-img-list li{ float:left; width:12.5%;}
.dropdown-menu li{ width:100%; border-bottom:1px solid #ddd; text-align:left;}
.dropdown-menu li a{ width:100%; padding:12px 0px !important;}
ul.dropdown-menu{border-radius:0px; padding:0px;}
.box-featured-helpers p, .box-news-event p{ padding-bottom:10px;}
.box-featured-helpers, .box-news-event{ font-size:14px; line-height:19px; padding:0 10px 4%;}
.content-area.dashboard-header-img{ padding-bottom:10px;}
.content-area.area-orders{ padding-bottom:20px;}
.dashboard-page h2{ font-size:30px; padding-bottom:25px;}
ul.list-news-btn li a:hover{ color:#000;}
html body .btn-invite{ padding-left:0px;}
.navbar-right .dropdown-menu{ margin:0px; left:0px;}
ul.dropdown-menu li + li{ margin-left:0px;}
html body .dropdown-menu li a{ padding-left:12px !important;}











/*-------------------------------------------------------------------------------------------Dashboard CSS CLOSE*/	

.box-sing-up label {
    color:#5b5a5e;
    font-size:11px;
    font-weight: normal;
    padding-bottom:0px;
    padding-left:0px;
		font-family: open sans;
}
.box-sing-up form input[type="text"] {
    width: 100%;
				border:1px solid #d0d0d0;
				padding:5px;
}
.box-sing-up {
    background-color: #fff;
    margin:10px auto 0px;
    padding:5px 5px 15px;
    width: 100%;
			/*	max-width:411px; */
			max-width:450px;
}
.box-sing-up p {
    padding-bottom:5px;
		font-size:10px;
}
.box-sing-up p.name {
    float:left;
    width:50%;
}
.box-sing-up p.name + p.name {
    padding-left:2%;
}
.box-sing-up h2 {
    float:left;
    width:95%; 
		font-size:20px;
		position:relative;
		padding-bottom:29px;
}
.box-sing-up p span {
    color: #ed1c24;
}
.box-sing-up p.referral span{ color:#2181c8;}
.box-sing-up p.address {
    padding-top:15px;
}
.box-sing-up p.referral {
    padding-top:15px;
}
.box-sing-up h2::after {
    background-color: #ccc;
    bottom:15px;
    content: "";
    height: 1px;
    left:1px;
    position: absolute;
    width: 105%;
}
#popup-sing-up .close{ font-size:50px; margin-right:10px; font-weight:100;}
#popup-sing-up .modal-dialog{ z-index:1050;}
.box-sing-up .text-right .btn{ padding:3px 45px 5px; font-size:15px; background-color:#2181c8; margin-top:20px;}
.box-sing-up ::-moz-placeholder{ color:#666; font-size:13px;}
#popup-sing-up .modal-dialog{ /*width:450px;*/}
#popup-sing-up .modal-content{border-radius:0px;}
#popup-sing-up .box-sing-up{
	max-width:500px;
}
.for-help-right{
	list-style: outside none none;
    padding: 20px 40px 12px 30px;
	}
.for-help-right li{padding-bottom: 30px;}
.details-step-menu ul{ 
	display: inline-block;
    list-style: outside none none;
    padding:0px;
    width: 100%;
	}
.details-step-menu li{
	background: #fff none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    box-shadow: 3px 1px 1px 1px #ccc;
    display: inline-block;
    float: left;
    height: 12px;
    position: relative;
    width: 30%;
	}
.details-step-menu li.active-steup.full-line{background:#2181c8;}	
	
.details-step-menu li:last-child{
	 border: medium none;
    box-shadow: 0 0 0 0;
	}	
.details-step-menu span{
	background: #fff none repeat scroll 0 0;
    border: 3px solid #fff;
    border-radius: 50px;
    box-shadow: 0 0 3px 1px #ccc;
    color: #2181c8;
    display: inline-block;
    left: -3px;
    position: absolute;
    text-align: center;
    top: -6px;
    width: 28px;
	}
.active-steup span{
	background: #2181c8 none repeat scroll 0 0;
    color: #fff;
    position: absolute;
	}	
 .details-step-conainer{
 padding:10px 29px 10px 29px;
 /* padding:43px 40px 27px 40px;  */
 }
 .details-step-menu {
	 padding-bottom:20px;
	 }
.text-setup-blue{
	color: #2181c8;
    position: absolute;
    top: -35px;
	}
.step-container{ padding-top:50px;}	
.step-container .frow{ display:inline-block; width:100%;}
.help-details-input {
    min-height: 75px;
    color: #5b5a5e;
    font-size: 16px;
    padding: 0;
    font-weight:600;
}
.help-details-input input {
    border: 1px solid #ccc;
    color: #5b5a5e;
    font-size: 16px;
    padding: 0;
    width: 205px;
}
.help-details-input label{
	padding-right: 20px;
    vertical-align: top;
	}
.calendar-icon{
	float: none;
    margin-left: 25px;
    vertical-align: top;
    width: 22px;
	}
.help-details-input .start-time-input{
	width:50px;
	text-align:center;
	}
.am-pm{
	border: 1px solid #ccc;
    display: inline-block;
    list-style: outside none none;
    padding: 0;
    width: auto;
	margin-left: 15px;
	}
.am-pm li{
	display: inline-block;
	}
.am-pm li a{
	color: #999;
    display: inline-block;
    padding: 0px 15px;
	}	
.am-pm li.active a , .am-pm li:hover a{
	background:#eeeeef;
	}
.light-headding{
	color: #5b5a5e;
    font-weight: 300;
    padding: 10px 0 20px;
	}	
.additional-notes-textarea{
	height: 138px;
    text-align: left;
    width: 100%;
	}
.help-details-input select{width:100%;}
.help-details-input select.est-hours{
	width:55%;
	}
.step-footer-button-right{
	
	}	
.step-footer-button-right li{
	 float: right;
    padding: 30px 6px;
	}	
.list-news-btn li.next a {
    background-color: #2181c8;
    color: #fff;
    padding: 5px 70px;
}	
.needsMainDivDash{
	padding-bottom: 30px;
}
.step-1-testimonail{
	padding-top:30px;
	}
.suggested-list{
	list-style:none;
	padding:10px;
	}
.suggested-list li:first-child{ padding-top:0px;}	
.suggested-list li{
	 padding-top: 10px;
	}
.suggested-list li ul li{ padding-top:0px;}	
.suggested-list li ul.list-news-btn li.book a , .btn-border {
    background-color: #fff;
    border: 1px solid #2181c8;
    color: #2181c8;
    padding: 0 25px;
}	
.find-helper ul{
	list-style: outside none none;
    padding: 0;
	}
.find-helper ul li{
	background:#deecf7;
	padding:10px 10px 15px 10px ;
	}	
.find-helper ul li p{
	font-size: 19px;
    padding-left: 77px;
    padding-top: 14px;
    width: 91%;
	}
.img-small{
	 border-radius: 50px;
    float: left;
    width: 70px;
	}
.img-small img{width:55px;}
.clsoe-icon{ 
	float: right;
    position: absolute;
    right: 27px;
    top: 62px;
    vertical-align: top;
	}	
.clsoe-icon img{
	width:16px;
	
	}
.favorite-helper{
	
	}
ul.favorite-ligt{
	border: 1px solid #ccc;
    list-style: outside none none;
    padding: 0;
	}
ul.favorite-ligt li{
	border-bottom: 1px solid #ccc;
    padding: 10px;
	}
ul.favorite-ligt li:last-child{ border:none;}	
ul.favorite-ligt li .frow-img{
	
	}	
ul.favorite-ligt li .frow-img img{
	border-radius: 50px;
    width: 55px;
	}
ul.favorite-ligt li .frow-text {
    margin-left: 65px;
}	
ul.favorite-ligt .frow-box {
    min-height: 55px;
}
ul.favorite-ligt li .list-news-btn li{ border:none;}	
ul.favorite-ligt li p{ padding-bottom:0px;}
ul.favorite-ligt li .featured-btn, ul.favorite-ligt li  li .news-btn{
	border:none;
	}
ul.favorite-ligt li .list-news-btn li{ padding:0px;}	
.rating-star-orange{margin-top: -13px; float:right !important;}
.rating-star-orange a{ padding:0px !important;}
.rating-star-orange img{width:18px;}
.step-2-button-f .step-footer-button-right li {
    padding: 30px 0;
}
.card-row{
	padding-bottom:30px;
	}
.card-row input{
	border:1px solid #fff;
	box-shadow: 0 0 0 0;
	padding-top:0px;
	padding-bottom:0px;

}
.card-row p{ padding-bottom:5px;}
.security-code input[type="text"]{width:75px;}
.change-billing{ padding-left:20px;}
.your-community{
	padding-top: 30px;
    text-align: center;
	}
.your-community .list-headding{
	font-size: 19px;
    font-weight: 300;
	}
.profile-picture-box{ padding-top:40px;}	
.profile-picture-box .profile-image{padding-top: 30px;}
.profile-picture-box .profile-image img{ width: 100px;}
.upload-btn{ 
	border: 1px solid #2181c8;
    padding: 5px 20px;
	}
.upload-btn-box{padding: 30px 0 40px;}
.offer-list-type{
	padding-left: 0;
	}
.offer-list-type li{
	display: inline-block;
    text-align: center;
    float:left;
    width: 10%;
   
}
.helper-left {
    padding-top: 15px;
}
/*.helper-left .row-input .calendar-icon {
    float: right;
	}*/

.helper-left .row-input {
    padding-bottom: 20px;
}
.helper-left .row-input label{
	width: 185px;
	}
.helper-left .row-input label.offer-label-text{width:100%;}
.helper-left .row-input input[type="text"]{ 
	padding: 0 15px;
 /*   width: 230px; */
	}
.pro-description{width:100%;height:150px;font-size: 15px;}
.profile-picture-box .step-footer-button-right li.next{
	padding: 75px 6px 80px;
	}
.order-left-navitaion{}
.order-left-navitaion .nav-tabs{
	border-right: 1px solid #ccc;
    float: left;
    margin: -11px 0 -6px -11px;
	min-height: 520px;
    padding: 0;
    width: 280px;
	background:#F8F8F9;
	}
.order-left-navitaion .nav-tabs li{
	width: 100%;
	}
.order-left-navitaion .nav-tabs li a{
	background: #f8f8f9 none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 0;
    color: #555;
	border-right:none;
	width:100%;
	min-height: 63px;
	}
.order-left-navitaion .nav-tabs li.active a{
	background: #fff none repeat scroll 0 0;
    border-right: 1px solid #fff;
	width:101%;
	}
.order-left-navitaion .nav-tabs li a strong{
	display: inline-block;
    width: 100%;
	padding-top:5px;  /* change by aishwarya*/
	}	
.order-left-navitaion .tab-content{ padding-left:305px;}
.chat-with-helper{
	border: 1px solid #ccc;
    min-height: 355px;
    padding: 10px;
    overflow-y:auto;
	}
.chat-with-helper ul{
	list-style:none;
	padding:0px;
	margin:0px;
	}
.chat-with-helper ul li{}
.chat-with-helper ul li span{float: left;}
.chat-with-helper ul li span img{width:42px;}
.chat-with-helper ul li p{
	background: #eeeeef none repeat scroll 0 0;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    padding: 10px 10px 10px 52px;
	width:90%;
	}
	
.message-chat{
	background-color: #2181c8;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 4px 22px 7px;
    text-align: center;
    text-decoration: none;
	margin-top:20px;
	float:right;
	}
.order-details-center .help-details-input label {
    padding-right: 10px;
}
.help-details-input input {
    width: 57%;
}
.calendar-icon {
    margin-left: 10px;
}
.order-details-center{ padding:0px; margin-bottom:20px;}
.order-details-center .help-details-input {
    min-height: 45px;
}
.order-details-center .am-pm li a {
    padding: 0 5px;
}
.order-details-center .find-helper ul li {
    background: #deecf7 none repeat scroll 0 0;
    margin: 20px 0;
    padding: 5px 10px 0px;
}
.order-details-center  .find-helper ul li p {
    padding-top: 8px;
   }
.order-details-center .clsoe-icon {
    top: 31px;
 }
.order-details-center .help-details-input select {
   	border: medium none;
    box-shadow: 0 0 0 0 #fff;
    margin-top: 10px;
    width: 100%;
}
.order-details-center .help-details-input select.est-hours {
    width: 100%;
}
.order-details-center .additional-notes-textarea {
    height: 80px;
	margin-top:10px;
    width: 100%;
}
.estimated-cost {
    padding-top: 20px;
}
.estimated-cost .help-details-input input {
    width: 76%;
}
.order-details-center .img-small img {
    width: 42px;
}
.headding-order{
	padding-bottom:10px;
	}
	/*Code changed by Aishwarya*/
.oder-input-send-row{
	 padding: 10px 0;
	}	
/*.oder-input-send-row div{
	padding:0;
}*/
.oder-input-send-row input[type="text"]{
	/*padding: 3px 15px;*/
	height:33px;
    width: 90%;
	} 
	/* End of changes*/
.send-btn-order a.btn-border{
	display: inline-block;
    padding: 4px 25px;
	}	
.send-btn-order {
    display: inline-block;
    float: right;
}
.moblie-details-order{
	display:none;
	}
.details-oder-con{
	padding-top:0px !important;
	}	
.blue-no-text{
	color: #2181c8;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
	}
.this-month-text{
	color: #5b5a5e;
    font-size: 32px;
    font-weight: 300;
    line-height: 36px;
	}	
.community-manager-right{ padding:10px 20px 20px 20px;}
.commtnity-list-right{
	list-style:none;
	padding:0px;
	}	
.commtnity-list-right li{
	padding-bottom:20px;
	}
.commtnity-list-right li p{
	font-size:18px;
	font-weight:300;
	}	
.tab-no{
	 background: #2181c8 none repeat scroll 0 0;
    border-radius: 50px;
    color: #fff;
    height: 25px;
    padding-top: 1px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 22px;
    width: 25px;
	}		
.tab-left-navitaion li a{padding-top: 19px;}
.btn-row{
	padding-top:20px;
	}
.members-search-bar{
	padding-top: 20px;
	}
.members-search-bar ul{
	list-style: outside none none;
    margin-top: 0;
    padding-top: 0;
	}	
.members-search-bar ul li{padding-top: 20px;	}
.members-search-bar ul li span{ padding-right:10px;}	
.members-search-bar ul li img{	width: 34px;}
.members-search-bar ul li p{}
.search-bar-text{padding:10px 10px 0px 10px;}
.community-left-container{}
.community-right-container{}
.thanks-container{}
.thanks-container p{
	display: inline-block;
    font-size: 12px;
    padding-bottom: 30px;
    text-align: center;
    width: 100%;
	}
.box-sing-up h2.thanks-headding::after{
	background-color:#fff;
	}
h2.thanks-headding{
	font-size: 24px;
    padding-top: 30px;
    text-align: center;
    width: 100%;
	}
.thanks-container .btn{width:150px; }	
@media (max-width:1080px){
	ul.btn-invite{ padding-left:0px;}
	.this-month-text {
    font-size: 24px;
   }
.community-left-container .order-left-navitaion .nav-tabs {
    width: 35%;
}  
.community-left-container .disktop-tab-content{
    padding-left: 34% !important;
}
}
@media (max-width:1024px){		
	.btn-invite li + li{ margin-left:5px;}
	.additional-notes-textarea {
    width: 72.2%;
	}
	.help-details-input input {
    width: 57%;
	}
	.help-details-input select {
    width: 76%;
	}
	.help-details-input select.est-hours {
    width: 43%;
	}
	.am-pm li a {
    padding: 0 9px;
}
.helper-left .row-input input[type="text"] {
    padding: 0 5px;
    width: 120px;
}
.order-left-navitaion .tab-content {
    padding-left: 20%;
}
.order-left-navitaion .nav-tabs {
    width: 20%;
}
.chat-with-helper ul li p {
    font-size: 13px;
    width: 100%;
}
.message-chat {
    font-size: 12px;
}
.oder-input-send-row input[type="text"] {
    padding: 3px 15px;
    width: 65%;
}
.estimated-cost .help-details-input input {
    width: 72%;
}
.order-details-center .help-details-input label {
    padding-right: 0;
}
.order-details-center .am-pm {
    margin-left: 0;
}
}
@media (max-width:990px){
	.area-orders ul.btn-invite{ text-align:center;}
	.area-orders .row [class*="col-"]{ width:100%;}
	.navbar-collapse{ padding:0px;}
	.content-area.area-orders{ padding-bottom:30px;}
	.circle-no{ width:45px; height:45px; font-size:30px; line-height:45px;}
	.row-works{ padding-left:55px; margin-top:0px;}
	h2{ font-size:36px;}
	.content-area{ padding-bottom:30px;}
	ul.get-some-list li h4{ font-size:16px; padding:0px;} 
	.header-bg{ margin-bottom:30px;}
	.testimonials-text{ padding-top:0px;}
	.btn-get{ font-size:28px;} 
	.step-container h2 {
    font-size: 33px;
	}
	.details-step-conainer {
    padding: 43px 20px 27px;
}
.step-footer-button-right li {
    padding: 30px 6px 30px 11px;
}

.find-helper , .favorite-helper{width:100%;}
.favorite-helper{padding-top:20px;}
.step-2-button-f .step-footer-button-right li {
    padding: 30px 0 30px 11px;
}
.helper-left {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
}
.pro-description {
    width: 95%;
}
.order-details-center .am-pm li a {
    padding: 0 3px;
}
	}
@media (max-width:960px){
	ul.navigation li a{ padding:13px 25px;}
	ul.list-news-btn .signUp #signUpanchor{padding:8px 2px;}
	.dashboard-page h2{ font-size:30px;
    padding-bottom:15px; /* change by aishwarya */ }
	ul.btn-invite{ padding-left:0px}
	.list-news-btn li a{ padding:5px;}
	.step-right-box{ padding-top:30px;}
	
	}
@media (max-width:854px){
	ul.navigation li a{ font-size:13px; padding:13px 20px;}
	ul.get-some-list li{ width:33.3%; border-bottom:solid 2px #FFF;}
	ul.get-some-list li img{ width:100%;}
	.testimonials-box .row [class*="col-"]{ width:100%; text-align:center;}
	.testimonials-box .testimonials-img img{ width:60%;}
	.testimonials-img{ padding-bottom:15px;}
	.step-footer-button-right li {
    padding: 30px 25px 30px 11px;
}
.helper-left .row-input input[type="text"] {
    width: 175px;
}

.chat-container{display:none;}
.commtnity-list-right li p {
    font-size: 15px;
    
}
ul.dashboard-header-img-list img{ 
height:60px;
width:100%;
	}
	.uploadpic{
	padding-right:0;
	padding-left:0;
	}
	}
@media (max-width:800px){
		.content-area.area-orders{ padding-bottom:10px;}
	/* .frow-box{ min-height:inherit;} */
	.box-news-event{ padding-bottom:13px;}
	.box-news-event, .box-featured-helpers , .step-left-box , .step-right-box{ width:100%;}
	h2{ font-size:30px; padding-bottom:15px; /* change by aishwarya */ }
	.circle-no{ position:inherit; margin:0px auto 15px auto; display:inline-block;}
	.row-works{ padding-left:0px; text-align:center;}
	.additional-notes-textarea {
    width: 75.2%;
	}
	.help-details-input input {
    width: 180px;
	}
	.help-details-input select {
    width: 76%;
	}
	.help-details-input select.est-hours {
    width: 48%;
	}
	.order-left-navitaion .nav-tabs {
    width: 100%;
	margin:0px;
}
.disktop-tab-content{
	/*display:none; */
	}
	.moblie-details-order {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px;
    width: 100%;
	border-right:none;
	background:#fff;
}
.order-left-navitaion .nav-tabs li.active a {
    width: 100%;
}
.order-left-navitaion .nav-tabs li a.clsoe-icon{width:auto;
border:none;
background:none;
}
.help-details-input input {
    width: 59%;
}
.order-details-center {
    width: 100%;
}
.chat-container{
	width:100%;
	padding:0px;
	}
.order-details-center .am-pm li a {
    border: medium none !important;
    min-height: 22px;
    padding: 0 3px;
    width: auto;
}
.order-details-center .am-pm li {
    border: medium none;
    display: inline-block;
    width: auto !important;
}	
.type-row label , .est-row label{width:100%; }
.chat-with-helper {
    min-height: 200px;
   }
.community-left-container .order-left-navitaion .nav-tabs {
    width: 100%;
} 
.community-left-container , .community-right-container {
    width: 100%;
}
ul.dashboard-header-img-list img{ 
height:50px;
width:100%;
	}
	.uploadpic{
	padding-right:0;
	padding-left:0;
	}
	}
@media (max-width:773px){
	ul.navigation li a{ font-size:13px;}
	ul.dashboard-header-img-list img{ 
height:50px;
width:100%;
	}
	}
@media (max-width:768px){
	h2{ text-align:center;}
	.step-footer-button-right li {
    padding: 30px 18px 30px 11px;
    }   /* added by aishwarya */
	.moblie-details-order{
		background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 10px;
    width: 100%;
		}
		ul.dashboard-header-img-list img{ 
height:50px;
width:100%;
	}
}
		
@media (max-width:767px){
	.signUpListDiv .signUpsList{
	float: left;
	}
	ul.dropdown-menu li{ text-align:left; padding-left:20px;}
	ul.dropdown-menu{ margin:0px; width:100%;}
	ul.navigation li + li{ margin-left:0px; border-top:1px solid #ddd;}
	ul.navigation .dropdown-toggle .caret{ float:right; margin-top:12px;}
	ul.navigation{ margin-top:10px;}
	ul.navigation, ul.navigation li{ float:inherit; width:100%;}
	.topbar .navbar-header{ position: absolute; right: 15px; top: 2px;}
	.navbar-toggle .glyphicon{ left:-5px;}
	.navbar-toggle .icon-bar{ background-color:#fff;}
	.dashboard-page .navbar-toggle{ color:#fff; padding:9px 20px; border-radius:0px; border:1px solid #ddd; background-color:#2181c8; box-shadow:inherit; text-transform:uppercase;}
	.dashboard-page .topbar{ background-color:#fff;  border-bottom:1px solid #ddd; }
	.box-sing-up .text-right{ text-align:center;}
	#popup-sing-up .modal-dialog{ margin:0px auto;}
	.circle-no{ position:absolute; line-height:40px; font-size:24px; width:40px; height:40px; }
	.row-works{ text-align:left; padding-left:60px; margin-top:15px;}
	.testimonials-box .row .testimonials-img{ width:30%;}
	.testimonials-box .row .testimonials-text{ width:70%; text-align:left; padding-top:0px;}
	.testimonials-box .testimonials-img img{ width:100%;}
	.testimonials-box{ margin-bottom:20px;}
	ul.menu-login li + li{ padding-left:10px;}
	.topbar{ background-color:rgba(0, 0, 0, 0.5); padding:10px 0px;}
	#logo{ padding:0px;}
	ul.menu-login{ padding-top:15px;}
	.testimonials-img{ padding-bottom:0px;}
	.text-fpo{ left:20px; font-size:38px; top:150px;}
	.welcome-headding{text-align:center;}
	
	}
@media (max-width:640px){
	.btn-get{ font-size:24px; padding:12px 18px 16px;}
	.details-step-conainer {
    padding: 43px 0 27px;
}
.details-step-menu ul {
    padding: 0;
    width: 100%;
}
.details-step-menu li {
    width: 45%;
}
.details-step-menu li:last-child {
    width: 0;
}
.help-details-input input {
    width: 57%;
}
.additional-notes-textarea {
    width: 100%;
}
.additional-notes-textarea {
    width: 100%;
}
.help-details-input select {
    max-width: 100%;
    width: 100% !important;
}
.step-footer-button-right li {
   	padding: 0;
    text-align: center;
    width: 100% !important;
}
.help-details-input {
    min-height: 20px;
    padding-bottom: 20px;
}
.step-right-box{
	padding-top:30px;
	}
.for-help-right {
    padding: 0;
}	

.helper-left .row-input .calendar-icon {
    float: none;
}
.pro-description {
    width: 100%;
}
.profile-picture-box .step-footer-button-right li.next {
    padding: 7px 6px 30px;
}
	}
@media (max-width:567px){
	.box-sing-up p.name{ width:100%; float:inherit; display:inline-block;}
	.box-sing-up p.name + p.name{ padding-left:0px;}
	.helper-left .row-input label {
    width: 100%;
	}
	
	}
@media (max-width:480px){
	.btn-invite li a{ padding:5px 0px; width:100%; display:inline-block;}
	.btn-invite li + li{ margin-left:0px;}
	.frow-text{ margin-left:0px;}
	.frow-img{ float:inherit; width:100%; text-align:center;}
	.content-area.area-orders{ padding-bottom:0px;}
	.btn-invite li{ width:100%; padding:10px 0px;}
	.box-sing-up{ padding:0px 15px 15px;}
	#popup-sing-up .modal-dialog{ width:auto; max-width:100%; margin:0px 15px;}
	.text-fpo{ position:inherit; top:0px; left:0px; padding-top:15px;}
	.box-login{ margin-top:20px;}
	ul.favorite-ligt li .frow-text {
    margin-left:0px;
}
ul.favorite-ligt li p {
    text-align: center;
}
.estimated-cost .help-details-input input {
    width: 100%;
}
.oder-input-send-row input[type="text"] {
    margin-bottom: 15px;
    padding: 3px 15px;
    width: 100%;
}
.chat-with-helper ul li p {
    font-size: 10px;
    width: 100%;
}
.blue-no-text {
    font-size: 32px;
    line-height: 32px;
}
.this-month-text {
    font-size: 18px;
    line-height: 22px;
}
.offer-list-type li {
    text-align: left;
    width: 100%;
}
.uploadpic{
	padding-right:0;
	padding-left:0;
	}
	}	
@media (max-width:435px){
	.box-upcoming .dropdown{ padding:3px 10px 0px;}
	.box-sing-up h2{ float:inherit; padding-top:10px;}
	ul.get-some-list li{ width:50%;}
	.btn-get{ font-size:20px; padding:11px 10px 13px;}
	ul.favorite-ligt li .list-news-btn li.rating-star-orange{ 
	padding-top: 16px;
    width: 100%;
	}
	.uploadpic{
	padding-right:0;
	padding-left:0;
	}
.modal-content{
	padding:10px 10px;
}
#popup-event .box-sing-up .startTime,#popup-event .box-sing-up .endTime{
	padding-left:0;
	padding-right:0;
}
#popup-event #eventDates{
	background-size:contain;
}
#popup-event #eventDate{
	padding-right: 0;
}
#popup-event .clock{
		background-size: contain;
}
.navbar-foot{
	padding:10px 2%;
	}
	}
@media (max-width:435px){
	video{
	width:250px;
	}
	
	.list-news-btn{float:left;}
	.list-news-btn li.going a{ padding:0 10px;}
	.list-news-btn li.not-going a{ padding:5px 10px;}
	.list-news-btn li.maybe a{ padding:5px 10px;}
	#requestBtn{
	margin-top: 30px;
	}
}
@media (max-width:400px){
	ul.list-news-btn li.book a{ padding:5px 35px;}
	.testimonials-box .row .testimonials-img{ width:100%; margin-bottom:15px;}
	.testimonials-box .row .testimonials-text{ width:100%;}  
	.testimonials-box, .testimonials-box .row .testimonials-text{ text-align:center;}
	.testimonials-box .testimonials-img img{ width:60%;}
	
	}
@media (max-width:375px){
	.list-news-btn li + li{ margin-left:10px;}
	.topbar .navbar-header{ width:100%; position:inherit; margin:0px;}
	.dashboard-page .navbar-toggle{ margin:0px; width:100%;}
	#logo{ width:100%; text-align:center; margin-bottom:10px;}
	ul.menu-login{ text-align:center; width:100%; float:none; padding:0px}
	ul.get-some-list li h4{ font-size:14px;}
	.topbar{ padding:15px 0px;}
	.btn-get{ font-size:16px;}
	}
@media (max-width:360px){
	.list-news-btn{float:left;}
	.list-news-btn li + li{ margin-left:5px;}
	/*.list-news-btn li.going{ 
	width:100% !important;} */
	.featured-btn .list-news-btn li{ width:47%; text-align:center;}
	ul.list-news-btn li.book a{ width:100% !important; float:inherit; }
ul.list-news-btn li.book{ width:100% !important; margin-left:0px; margin-top:10px;}
.list-news-btn li{ width:31%; text-align:center;}
.list-news-btn .signUpNow{width:130%;}
.list-news-btn .signUp{width:130%;}
	.list-news-btn li.going a {float:inherit; margin-bottom:10px; text-align:center;}
}   /* added by Aishwarya */
@media (max-width:300px){
	.btn-get{ font-size:15px; padding:7px 5px 9px;}
	}

@media (max-width:281px){
	.list-news-btn li + li{ margin-left:0px;}
		.list-news-btn li{ width:37%;}
		.list-news-btn li.share{ width:20%;}
}
/* added by Aishwarya */
/* Code for Footer */
.push {
    min-height: 100px;
    }
.navbar-foot{
	border-color: #e7e7e7;
	background-color: #f2f2f2;
	min-height:150px;
	margin-bottom:0;
    left: 0;
    right: 0;
	color: #2181c8;
	font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    padding:30px 10%;
}
.navbar-foot .row{
	margin-top:40px;
    margin-left: 10%;
}
.footerCols .row{
	margin:0;
}
.footerCols {
	/*left: 10%; */
}
.social-iconsMain{
    text-align: right;
}
.social-icons .fa{
	margin: 8px;
	border: 2px solid #2181c8;
	border-radius:100px;
	padding: 5px;
}
.social-icons .fa.fa-facebook{
	padding-left:8px;
	padding-right:8px;
}
#copyright{
	margin: 20px 5px;
	font-family:Source Sans Pro, sans-serif;
}

.navbar-foot div{
    padding-left: 0;
    padding-right: 0;
}
/* End of footer code */
/* Code for open requests and request history */
.container .accepted-request{padding-top:50px; padding-bottom: 0} 
.worktype .fa{
	border: 1px solid #5b5a5e;
	border-radius:100px;
	padding: 7px;
	}
	.worktype img{
		height: 32px;
		width: 32px;
	border: 1px solid #5b5a5e;
	border-radius:100px;
	padding: 3px;
	}
	thead th,td{
		text-align: center;
	}
/*	#popup-request-details{
	margin-top:13%;
	margin-bottom:-25%;
} */
.openRequestsmodal{
	padding: 20px;
}
#popup-request-details .close{ width:15px; margin:7px 10px; color:#5b5a5e; opacity: 1;}
#popup-request-details .modal-dialog{ z-index:1050;}
.box-sing-up .text-right .btn{ padding:3px 45px 5px; font-size:15px; background-color:#2181c8; margin-top:20px;}
.box-sing-up ::-moz-placeholder{ color:#666; font-size:13px;}
#popup-request-details .modal-dialog{ width:250px; top:100px;} 
#popup-request-details .modal-content{border-radius:0px;}
	.clientModal p{
		padding-bottom: 0;
	}
	#requestModalBtn{
	margin-top: 15px; 
	text-align: center;
	}
	#requestModalBtn button{
		width: 130px;
	}
	.floatingHours{
        padding: 0 3%;
        border:1px solid #ccc;
        margin:0 7px;
    }
	.additionalWorkRequestDetails{
padding-top:10px;
}
#completedStatusBtn{
	border-radius:100px;
}
/* Code for my profile */
.headings-form{
	padding: 4%;
}
.myProfile input[type=text],.myProfile input[type=password],.myProfile input[type=email]{
	height:45px;
} 
#eventDates{
        background-image: url('../images/calendar.png');
		background-repeat: no-repeat;
		background-position: right;
		background-size: 18%;
		background-origin: content-box;
    }
#profdob{
        background-image: url('../images/calendar.png');
		background-repeat: no-repeat;
		background-position: right;
		background-size: 8%;
		background-origin: content-box;
    }
#securitynum{
        background-image: url('../images/question.png');
		background-repeat: no-repeat;
		background-position: right;
		background-size: 8%;
		background-origin: content-box;
    }
.uploadpic{
    background-color: Transparent;
    border: 1px solid #5198b7;
    cursor:pointer;
	color:#5198b7;
}
.uploadpic:hover{
	 background-color: #9bdefb;
}
#proffile{
/*	display:none; */
opacity:0;
width: 0;
}
#myProfileMainDiv #GI{
	padding-left: 0;
}
#myProfileMainDiv #GI label{
	padding-bottom: 10px;
	}
#editGeneralInformation #saveGnrlInfoBtn button{
	float:none;
		width: 170px;
		margin-top:2%; 
	}
	#editGeneralInformation #saveGnrlInfoBtn{
	text-align: center;
	margin-right: 15%
	}
	#profUploadBtn button{
		width: 150px;
		margin-top:3%; 
	}
	#editGeneralInformation input[type=text],#editGeneralInformation input[type=password],#editGeneralInformation input[type=email]{
	width:83%;
	}
	#displayGeneralInformation input[type=text],#displayGeneralInformation input[type=password],#displayGeneralInformation input[type=email]{
	width:83%;
	}
	#displayGeneralInformation #editGnrlInfoBtn{
	text-align: center;
	margin-right: 15%
	}
	#displayGeneralInformation input,#profemail{
	background: #eee;
	}
#saveGnrlInfoBtn button{
	float: right;
		width: 170px;
	/*	margin-top:43%; */
	}
	.genInfoProfilePic{
		text-align: center;
	}
	/* .myProfile p{
		padding: 4% 0;
	} */
	#editGnrlInfoBtn button{
	width:170px;
	}
	.myProfile div{
	padding-right:0;
	padding-bottom: 10px
}
.myprofileInputs{
	padding-left:40px
}
.displayGeneralInformationDiv{
	padding-left: 10%;
}
#billing-headings-form{
	padding-top:3%;
	padding-bottom: 5%;
	padding-left: 20px;
}
.myProfile.editBillInfoDiv div{
	padding-bottom: 1.5%;
}


#saveBillingInfoBtn{
	margin-left: 8%;
	margin-top:8% 
}

#displayBillInfoBtn button{
	float: right;
	width: 160px;
	margin-top:180%; 
	}
.bill-headings{
	padding: 3%;
}
.communities-img img{
	height: 100px;
	width: 100px;
	padding:7px 0;
	/*padding-left: 2.5%;
	padding-right: 2.5%; */
}
.communities-img div{
	padding: 0;
	text-align: center;
	margin-bottom:20px;
}
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:100%;
  height:350px;
}
.cropImageBtn{
	text-align: center;
	margin-top: 15px;
}
.ng-image-crop > #inputFile{
	background: #fff;
}
#popup-cropImage .modal-content{
	min-height: 420px;
}
	/*Code for accepted request screen */
	
  .home{
    width: 70px;
    height: 70px;
	text-align: center;
    border: 3px solid #5b5a5e;
    padding:5px 0;
    border-radius: 100%;
    margin-bottom: 25px;
}

.user-icon{
	 width: 70px;
    height: 70px;
	  margin-bottom: 25px;
}
.heading-requests{
	padding-top:5px;
	padding-bottom:40px;
	}
	.user-details-input{
text-align:center;
word-wrap:break-word;
 color: #5b5a5e;
    font-size: 16px;
    padding: 0;
    font-weight:600;
}
.additionalClientDetails{
	padding-top:30px;
}
.profileImg{
	height:150px;
	width:150px;
}
/*Code for myCommunity screen*/
#membersList{
	border: 1px solid #ccc;
	overflow-y:scroll;
	overflow-x: hidden;
	height: 300px;
}
.membersListDiv1{
	padding:5px 20px; 
	margin-bottom:7%;
}
#membersList hr{
  border: 0;
  clear:both;
  display:block;      
  background-color:#ddd;
  margin-bottom:0;
  height: 1px;
  width:100%;;
}
.member-img{
	width: 35px;
	/* border-radius:100px; */
	margin-right:5px;
}
.close-img{
	width: 12px;
	padding-top: 10px;
}

.commRefCodeVal{
	color: #2181c8;
	font-size: 30px;
	font-weight: 700;
	padding-top: 20px;
}
.commRefCodeText{
	font-size: 28px;
	padding-bottom: 30px;
}
#showPendingMembers button{
	margin-bottom: 20px;
}
#newsTabButtons{
	padding: 30px 0;
}
#showcommunityNews .frow{
margin: 0;
}
#settings button{
	margin-bottom: 30px;
}
#settings .bill-headings{
	padding:15px 0 0;
}
#settings{
	padding: 0 25px;
}
#communityUserCount{
	padding: 0;
	right: 30px;
	margin-top: 2.5%;
}
#communityUserCount .frow{
	margin-top: 52px;
}
#communityUserCount h3{
	font-size:38px
}
#communityUserCount b{
	color:#2181c8;
}
#saveSettingsBtn{
	padding-right: 6%;
	margin-top: 12%;
}
.selectedPage a{
	color:#ffffff;
	border-radius:100px;
    background-color: #2181c8;
    padding:6px 1.5px 6px 10px;
	}
.selectedPage{
	text-align:center;
}
#pageNumbers{
	padding:10px;
}
.arrows{
	color:#5b5a5e;
}
.disabled{
	cursor:not-allowed;
}
#paginationNums{
	margin: 20px 0 20px;
	min-height: 30px;
}
#newsBoardDescr{
	word-wrap:break-word;
}
#newsBoardDescr span{
	color:#5b5a5e
}
/* #showcommunityNews .frow-img{
	height:70px;
	width:70px;
} */
/*#popup-post{
	margin-top:8%;
	margin-bottom:-25%;
}*/
#popup-post .modal-dialog{ z-index:1050; /*width:450px;*/}
#popup-post .close{ width:15px; /*margin:7px 10px;*/ color:#5b5a5e; opacity: 1;}
#popup-post .postusername{
	margin-left:10px;
}
 /*#popup-event{
	 margin:5%;
	margin-bottom:-50%; 
} */
#popup-event .modal-dialog{ z-index:1050; /*width:450px;*/}
#popup-event .close{ width:15px; margin:7px 10px; color:#5b5a5e; opacity: 1;}

#dateDivsMyComm{
	padding-right:0;
}
#popup-event .box-sing-up div{
	padding:7px;
}

#popup-event .fa-2x{
	font-size:1.5em;
}
#cameraicon{
	color:#2181c8;
}
.clock{
	    background-image: url('../images/clock.png');
		background-repeat: no-repeat;
		background-position: right;
		background-size: 20%;
		background-origin: content-box;
}
.bootstrap-datetimepicker-widget table td span{
	width:40px;
	height:40px;
}
/* #popup-post .frow-img{
	height:70px;
	width:70px;
} */
#popup-post textarea{
	 border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#popup-post .frow-box{
min-height:90px;
}
#popup-post span{
	font-size:15px;
}

#popup-post .fa-2x{
	font-size:1.5em;
}
#postBtnDiv{
	margin-bottom:10px;
}
#postImgfile{
	/* display:none; */
	opacity:0;
	width: 0;  
}
/* code for chat block */
.chat-with-helper-req{
    border: 1px solid #ccc; 
    height: 300px;
    padding: 10px;
    overflow-y:auto;
    overflow-x:hidden;
	}
.message-chat-req-left{margin-top:5px;}
.message-chat-req-left span{float: left;}
/*.message-chat-req-left span img{width:42px;}
.message-chat-req-left span img{width:35px;position: absolute;margin-left: 10px;} */
.message-chat-req-left p{	
	background: #2181c8 none no-repeat fixed 0 0;
 /*   padding: 10px 10px 10px 30px; */
    padding:4px 22px 7px;
	word-wrap: break-word;
	width:80%;
	margin-left: 25px;
	color: #fff;
	}
.message-chat-req p{
	background-color: #eeeeef;
    font-size: 15px;
    font-weight: 400;
    padding: 4px 22px 7px;
	margin:5px 15px 0 5px;
	float:right;
	width: 80%;
	display: inline-block;
	word-wrap: break-word;
	}
.newsImage{
	max-height: 80%;
	max-width:80%;
}
/* Code for My Order screen */
.myOrdersDivs{
	padding-left:0;
	margin:8px 0;
}
.myorderinputs{
	width:100px;
	margin-left: 5px;
}
.myorderselects{
	width:100%;
}
.close-img-order{
	width:12px;	
}
.selected-helper{
	padding-left:0;
}
.selected-helper ul{
	list-style: outside none none;
    padding: 0;
	}
.selected-helper ul li{
	background:#deecf7;
	padding:0 10px;
	}	
.selected-helper ul li p{
	font-size: 15px;
    padding: 6px 0;
    width: 100%;
	}
.selected-helper span{
	margin-left:6px;
}
.removeDivPaddings{
	padding:0
}
/*#makePaymentBtn{
	margin:10px 0; 
} */
#costTextbox{
	width:70.5%;
	margin-left:4px;
}
.chatCount{
	font-size: 18px;
}
#rsvpList{
	border: 1px solid #ccc;
	overflow-y:scroll;
	overflow-x: hidden;
	height: 400px;
}
/*.box-news-event .frow-img{
	height:70px;
	width:70px;
} */

.activityLabel > input{
  visibility: hidden; 
  position: absolute; 
}
.activityLabel img{ 
  cursor:pointer;
 /*  margin-bottom: 7px;
   width:40px;
  height:40px; */
}
.dateDivs input{
	width:100%;
	
}
.dateDivs{
	padding-bottom:5px;
}
.step-left-box div{
	margin:15px 0 5px;
}
.step-left-box .offer-list-type li{
	display: inline-block;
    text-align: center;
    float:left;
    width: 11%;
    margin:0 10px;
   
}
.step-left-box .offer-list-type{
	padding-top:10px;
}
#estiHourDiv{
	padding:20px 15px;
}
/*Code for Invite to community modal */
#inviteToCommunity{
	padding-top:15%;
}
#inviteToCommunity .modal-dialog{ z-index:1050; /*width:450px;*/}
#inviteToCommunity .close{ /*width:15px; margin:7px 10px; */ color:#5b5a5e; opacity: 1;}
#inviteToCommunity input[type=email]{
	width: 100%;
	margin-bottom: 10px;
}
/* end */
#registerHelperBtn{
	margin-top: 20%;
	float:right;
}
#registerHelperBtn button{
	width:170px;
}
#proffile1,#proffile2,#proffile3,#proffile4,#proffile5,#proffile6,#proffile7{
	/* display:none; */
	opacity:0;
	width:0;
	margin-left: -8%;
}
#communityImgBtn{
	margin-top: 110%;
	width:120px;
}
/* Code for ask for help */
.step-container label{
	padding-bottom:5px;
}
.typeLabel{
	margin:25px 0;
}
#estimatedLabels1{
	padding-right:10px;
}
#estimatedLabels2{
	padding-right:10px;
}
.activityNames{
	font-size:7px;
	color:#2181c8;
}
.estmCost{
	color:#e27a14;
	font-size:25px;
}
[data-ng-cloak], .data-ng-cloak {
  display: none !important;
}
.helper-left .activityNames{
	font-size:6px;
	color:#2181c8;
}
.titles{
	font-size:16px;
	word-wrap:break-word; 
}
.eventTimings{
	font-size:12px
}
.providerDesr{
	margin-top:6px;
	word-wrap:break-word;
}
#fearuredHelperTitle{
	padding-top:5px;
}
#featuredHelperSeparator{
	margin-top:10px;
}
#newsSeparator{
	margin-top:10px;
}
#bookBtn{
	padding-left:0;
	padding-right: 10px
}
.wickedpicker{
	z-index:1282;
}

 .community-box{ 
  border:1px solid #ddd; 
  box-shadow:0px 0px 8px #dddddd;
  }
 .tab-content {
  display: none;
  width: 100%;
  max-height: 100%;

}
.tab-content.active { display: block; }
.tab.active { background: white;border-right:white; }
.tab, .tab-content { padding: 15px; } 
.tab {   
cursor:pointer;
display: block;
background: #F8F8F9;
border:1px solid #ddd;  
}
.tab p{
	padding:0;
}
@media (min-width: 992px) {
  .tab { width: 27% }
  .tab-content {
     width: 100%; 
  position: absolute; 
     top: 120px; 
    right: 0;
    width: 70%; 
    min-height: 100%;
  }
.tabHeightLeft{
	width:27%;
    border-right:1px solid #ddd;
    background: #F8F8F9;
}

} 
 .tabs-container { 
    min-height: 440px; 
  }
 @media (max-width: 992px) {
   .tab { width: 100%;}
  .tab-content {
    min-height: 100%;
    overflow-y: auto;
  }
 .tab.active { background: #F8F8F9 }
 }
 @media(width: 768px) {
  .community-box{
  margin-left:80px;
  }
} 
.commImgsBtn{
	text-align: center;
}
.commImgsBtn button{
	width:25%;
}
#myCommunityMainDiv .tab-content{
	padding:0 15px;
}
#myProfileMainDiv .tab-content{
	padding:0 15px;
	top:90px;
}
#myProfileMainDiv  .tabs-container{
min-height:120px;
}
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 5000;
	opacity:0.5;
	background: url('../images/loading.gif') 50% 50% no-repeat #000;
}
.modal-content{
	padding:20px 20px;
}
#popup-login .close{ font-size:50px; margin-right:10px; font-weight:100;}
#popup-login .modal-dialog{ z-index:1050;}
/********Featured helper's activities**********/
.featuredHelpersActiviesDash li{
	display: inline-block;
    float:left;
    width:10%;	
    text-align:center;
}
.featuredHelpersActiviesDash img{
width:65%;	
}
.featuredHelpersActiviesDash{
padding:0;	
}
/* #featuredBusinessHeading{
	padding-top:30px;
} */

.helpersMainDiv{
	padding-bottom: 30px;
}
/*******************Create a business page******************/
/* .businessFrow{
padding:15px 45px 5px;	
}
.businessFrow input{
	width:100%;
	height:40px;
}
.businessFrow label{
	padding-bottom:10px
}*/
#popup-business .row-input{
	padding-bottom:10px
}
#popup-business .box-sing-up{
	max-width:none;
}

#businessImage{
	max-width:75%
}
#popup-business .upload-btn-box{
	padding-top:0;
	margin-top:0;
}
#popup-business .profile-image{
	padding-top:12px;
}
.business-btn{
	padding-left:54px;
	padding-right:54px;
}
#businessDescription{
	margin-top: 0
}
#createBusinessBtn{
	text-align: center;
	margin:0
}
#businessImageDiv{
	text-align: center
}
.editBusiness{
	font-size:17px;
	padding-top:3px;
}
#busifile{
/*	display:none; */
opacity:0;
width: 0;
}
.contactIcons{
	border:solid 1px #333;
	border-radius:100%;
	text-align: center;
	padding: 3px 6px;
}
.businessInfo{
	margin:0 20px 0 7px;
	word-wrap:break-word; 
}


/*Code for rating modal*/
#popup-rating{
	padding-top:15%;
}
#popup-rating .modal-dialog{ z-index:1050; /*width:450px;*/}
#popup-rating .close{ /*width:15px; margin:7px 10px; */ color:#5b5a5e; opacity: 1;}
fieldset, label { margin: 0; padding: 0; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
  padding-bottom: 10px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.8em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
.ratingBtn{
	text-align: center;
}
.providerNameInRating{
	padding-bottom: 5px
}
/********Featured helper's star rating**********/
.starRatingForHelpers{
	list-style: none;
	padding:0;
}
.starRatingForHelpers li{
	display: inline-block;
}

.starRatingForHelpers img{
	height:22px;
	width:22px;
}
/**********************Dashboard invite buttons**********************/
.btnInviteMain{
	padding-left: 10px;
}
/*******************My profile nav*******************/
#myProfileDrodownMenu li a{
	width::100%;
	padding:12px 6px !important;
}
/****************** Helper Profile  *************************/
#helperProf .offer-list-type li{
	width:11%;
	margin:0 10px 7px;
}
#helperProf #saveGnrlInfoBtn{
	text-align: center;
}
#helperProf #saveGnrlInfoBtn button{
	float:none;
	}
#helperProf #editGnrlInfoBtn{
	text-align: center;
}
#displayHelperInformation .activityLabel img{
	cursor: default;
}
.closeImg{
	height:13px;
	width:13px;
}
#closeImgSpan{
	padding-right: 5px;
}

/********************* Sponsor images on dashboard *****************************/
.sponsorsUl{
	list-style: none;
	padding: 20px 0px 0px 0;
	text-align: center;
}

@media (max-width:800px){
	#sponsorImgsDash .frow-box{ min-height:70px;}
}

.sponsorsUl li{
	width:15%;
	display:inline-block;
/*	float: left; */
	margin:0 2.5%;
	height:90px;
}

/*********************Sponsor images under My Community*****************************/

input.fileinput-textbox {
    float: left;
    position: absolute;
    width: 50% !important;
    left: 10%;
    display: inline-block;
}

.file-button-wrapper {
    float: left;
    background-color: #2181c8;
    position:absolute;
    margin: 0;
    padding: 4px;
    width: 12%;
    left: 60.5%;
    color:#fff;
    display: inline-block;
    border:1px solid #2181c8;
    text-align: center;
    cursor: pointer;
}

.hide-file-input {
	visibility: hidden;
}

.browseImgDiv{
	margin-bottom: 10px;
}

/*********************Community needs under My Community*****************************/
#needsList{
	border: 1px solid #ccc;
	overflow-y:scroll;
	overflow-x: hidden;
	height: 300px;
}

#needsList hr{
  border: 0;
  clear:both;
  display:block;      
  background-color:#ddd;
  margin-bottom:0;
  height: 1px;
  width:100%;
}

.needsTitle{
	margin-top: 15px;
}
.logoNoteDiv{
	margin-bottom: 15px;
	margin-left: 8%;
}
.noteSymbol{
	color: #ed1c24;
}
/************************* Community needs on dashboard *******************************/
.slotAvailable{
	color:#2181c8;
	font-size:12px;
	font-weight:800;
}

.viewCompList{
	padding-top:10px;
	/* padding-left:30px;
	text-decoration: underline;
	font-weight:500;  */
}

ul.list-news-btn li.signUpNow{ float:right; }
ul.list-news-btn li.signUpNow a{background-color:#2181c8; color:#fff; padding:7px 7px;}

.needslistfrow{
	padding:10px 15px
}

.needslistdash{
	padding: 15px 0;
}

/* .newsandEventHeading{
	padding-top: 30px;
} */

/*************************** Needs page *************************/
ul.list-news-btn li.signUp a{background-color:#2181c8; color:#fff; padding:8px 7px;}

.needslistDiv{
	padding:25px 0;
	margin-bottom: 10px;
}

.member-img-needs{
	width:20px;
	margin-right: 10px;
}

.memberImginNeeds{
	display:inline-block;
}

.memberNameinNeeds{
	display: inline-block;
	vertical-align: top;
/*	margin-right: 35px;  */
	padding-top: 8px;
}

.signUpsList{
	margin-top:15px;
	padding:0;
}

.needComment{
	font-size: 13px;
}
.deleteinNeeds{
	display: inline-block;
	vertical-align: top;
}

.deleteinNeeds img{
	padding-top: 15px;
}

ul.list-news-btn li.signUp .disabled{
	background-color: #ccc;
}
.removePaddingLeft{
	padding-left: 0;
}
.removePaddings{
padding: 0;	
}

#signUpNeedsModal hr{
	margin-top: 5px;
}

.signUpBtnModal{
	text-align: center;
}

.needsMainDiv{
	border-right: 2px solid #eee;
}

.needsFrow{
	padding:20px 10px 20px;
}
.signUpListDiv{
	padding-bottom: 12px;
}
/********************** Settings tab under my community   ***********************/

.dashSectionsUl{
	list-style: none;
	padding:0
}

/* .dashSectionsUl i{
	padding-right: 5px;
	color:#499ae1;
	
} */
.communityTitlesDiv{
	
}

/*********************** Community members   ************************************/

.memberImgDiv {
  position: relative;
  padding: 10px 25px;
}

.commMemberImg {
  width: 100%;
  height: 220px;
}

.overlay {
  position: absolute;
  top: 4%;
  bottom: 4%;
  left: 9%;
  right: 9%;
  height: 92%;
  width: 82%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0,0,0,0.5);
}

.memberImgDiv:hover .overlay {
  opacity: 0.8;
}

.memberInfo {
  color: #FFFFFF;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
/*.flip-container
{
    position:relative;
    -webkit-perspective:1000;
    perspective:1000;
}
.flip-cards
{
    height:250px;
    position:relative;
    float:left;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


.flip-cards:hover
{
    transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
    -webkit-transform-origin: 140px 140px;
    -moz-transform-origin: 140px 140px;
    -ms-transform-origin: 140px 140px;
    -o-transform-origin: 140px 140px;
}

@media (max-width:1024px){
	.flip-cards:hover
{
    transform: rotateY( 180deg );
    -webkit-transform: rotateY(180deg);
    -webkit-transform-origin: 110px 110px;
    -ms-transform-origin:110px 110px;
    -o-transform-origin: 110px 110px;
}
}
.flip-cards span
{
    width:92%;
    position:absolute;
    border-radius:15px;    
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.front-card
{
    z-index: 2;
}

.reverse-card
{
  -webkit-transform: rotateY(180deg);
  transform: rotateY( 180deg );
  padding:10px;
  background: #ccc;
  height:240px;
}
.commMemberImg1{
	 width: 100%;
  height: 250px;
  padding-bottom: 10px;
} */

/************************ Forum *************************/
.forumButtons{
	margin-bottom: 15px;
}
.replyTitle{
	font-size: 22px;
	padding: 20px 0;
	font-weight: 500;
}
.topicsListFrow p{
	padding-bottom: 1px;
}
#createForumTopic .row{
	padding: 5px 0;
}
.close-image-reply{
	width:16px;
}
.forumTopicHeading{
	font-size: 30px;
	padding-bottom: 15px;
	color: #5b5a5e;
	font-weight: 500;
}

.featuredBusinessesMainDiv{
	padding-bottom: 30px;
}
.featuredBusinessesMainDiv .providerDesr{
	padding-bottom: 15px;
}
.businessEmailDiv{
	padding-bottom: 10px;	
}
.tempHeightDiv{
	min-height: 400px;
}
.eventCalendarFrow{
	padding:30px 25px;
}
#eventcalendar .fc-left h2{
	font-size:30px;
}
#eventcalendar .fc-content{
	padding:3px 0;
}
#eventcalendar .fc-day-header{
	background:#539fdc;
	padding: 10px;
	color:#fff;
}
#eventcalendar .fc-title{
	font-size:15px;
}
#eventcalendar{
	margin-top: 20px;
}
.rsvpinCalendar{
	display: inline-block;
	padding-right: 10px
}
.colorBoxes{
	display: inline-block;
	width:40px;
	height:30px;
	vertical-align: middle;
	border-radius:8px;
}
.goingBox{
	background: #00a651;
}
.notgoingBox{
	background: #ed1c24;
}
.maybeBox{
	background: #e27a14;
}
.norsvpBox{
	background: #3a87ad;
}
#popup-calendarevent .box-sing-up p{
	font-size: 13px;
}