@media screen and (min-width:1201px) {
	 
}
@media screen and (max-width:1200px) {
	#indexPage header {
		width: 90%;
		margin: 0 auto;
	}

	#indexPage .intro-content {
		display: inline-block;
		width: 70%;
	}

	#indexPage .hero .hero-content {
		padding-top: 28%;
	}

}

@media screen and (max-width:1047px) {
	.featureNumbersLeft{
	left: 2.5%;
	top: 20%;
	}
	.featureNumbersRight{
	left: 2.5%;
	bottom: 62%;
	}
	.PlanCheckContent{
	padding-left: 1px;
	}
	 #indexPage .landingJoinBtn{
   padding:20px 0;
   }
}
@media screen and (min-width:992px) {
	#indexPage .allCommunititesJoin{
	width:30%;
	}
}
/* Responsive nav kicks in */
@media screen and (max-width:992px) {
	
	.pricingCards{
	margin-left: 8%;
	}
	.featureNumbersLeft{
	left: 1.2%;
	top: 15%;
	}
	.featureNumbersRight{
	left: 1.5%;
	bottom: 66%;
	}
	
			#slider1{
	margin-left:0;
}
	#slider2{
	margin-left:0;
}
#slider3{
	margin-left:0;
}
.founder-image{
	width:initial;
	text-align: center;
	display: block;
}
.founder-content{
	width:initial;
	display: block;
}
.about-us-content{
	margin-left: 4%;
}
	#indexPage header {
		width: 90%;
		padding-left: 25px;
	}

	#indexPage .hero .hero-content {
		padding-top: 32%;
	}

	#indexPage .header-nav {
		position: fixed;
		background-color: #000;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 99999;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
		transition: opacity 0.5s, visibility 0s 0.5s;
	}

	#indexPage ul.member-actions {
		position: static;
	}

	#indexPage .navicon {
		visibility: visible;
	}

	#indexPage header .nav-wrapper {
		display: absolute;
	}

	#indexPage header nav {
		position: relative;
		top: 45%;
		-moz-transform: translatey(-45%);
		-ms-transform: translatey(-45%);
		-o-transform: translatey(-45%);
		-webkit-transform: translatey(-45%);
		transform: translatey(-45%);
	}

	#indexPage nav ul li a {
		color: #fff;
		font-size: 25px;
		text-transform: uppercase;
		font-weight: 600;
		-moz-transition: all 300ms ease-in-out;
		-o-transition: all 300ms ease-in-out;
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out
	}

	#indexPage nav ul li {
		margin-bottom: 25px
	}

	#indexPage nav ul.primary-nav li {
		display: block;
	}

	#indexPage nav ul.member-actions li {
		display: block;
	}

	#indexPage nav a.login {
		margin-right: 0px;
	}

	#indexPage nav ul.primary-nav {
		margin: 0;
		padding: 0;
		text-align: center;
	}

	#indexPage nav ul.primary-nav li a {
		padding-right: 0;
	}

	#indexPage nav .member-actions {
		position: static;
		padding: 0;
		text-align: center;
	}

	#indexPage nav ul.primary-nav li,
	#indexPage nav ul.member-actions li {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
		filter: alpha(opacity=0);
		opacity: 0;
		-moz-transform: translate3d(0, -80px, 0);
		-ms-transform: translate3d(0, -80px, 0);
		-o-transform: translate3d(0, -80px, 0);
		-webkit-transform: translate3d(0, -80px, 0);
		transform: translate3d(0, -80px, 0);
		-moz-transition: -moz-transform 0.5s, opacity 0.5s;
		-o-transition: -o-transform 0.5s, opacity 0.5s;
		-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
		transition: transform 0.5s, opacity 0.5s;
		-moz-transition: -moz-transform 0.5s, opacity 0.5s;
		-o-transition: -o-transform 0.5s, opacity 0.5s;
		-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
		transition: transform 0.5s, opacity 0.5s
	}

	#indexPage header .header-nav.open ul.primary-nav li,
	#indexPage header .header-nav.open ul.member-actions li {
		-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
		filter: alpha(opacity=100);
		opacity: 1;
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0)
	}

	#indexPage nav ul.primary-nav li:first-child {
		-moz-transition-delay: 0.05s;
		-o-transition-delay: 0.05s;
		-webkit-transition-delay: 0.05s;
		transition-delay: 0.05s
	}

	#indexPage nav ul.primary-nav li:nth-child(2) {
		-moz-transition-delay: 0.1s;
		-o-transition-delay: 0.1s;
		-webkit-transition-delay: 0.1s;
		transition-delay: 0.1s
	}

	#indexPage nav ul.primary-nav li:nth-child(3) {
		-moz-transition-delay: 0.15s;
		-o-transition-delay: 0.15s;
		-webkit-transition-delay: 0.15s;
		transition-delay: 0.15s
	}

	#indexPage nav ul.primary-nav li:nth-child(4) {
		-moz-transition-delay: 0.2s;
		-o-transition-delay: 0.2s;
		-webkit-transition-delay: 0.2s;
		transition-delay: 0.2s
	}

	#indexPage nav ul.member-actions li:first-child {
		-moz-transition-delay: 0.25s;
		-o-transition-delay: 0.25s;
		-webkit-transition-delay: 0.25s;
		transition-delay: 0.25s
	}

	#indexPage nav ul.member-actions li:nth-child(2) {
		-moz-transition-delay: 0.30s;
		-o-transition-delay: 0.30s;
		-webkit-transition-delay: 0.30s;
		transition-delay: 0.30s
	}

	#indexPage .intro-content {
		display: inline-block;
		width: 75%;
		margin-bottom: 30px;
	}

	#indexPage .last {
		margin: 0;
	}

	#indexPage .features {
		padding-bottom: 0;
	}

	#indexPage .features .device-showcase,
	#indexPage .features-extra .macbook-wrap {
		display: none;
	}

	#indexPage .features .responsive-feature-img,
	#indexPage .features-extra .responsive-feature-img {
		display: block;
		width: 85%;
		margin: 15% auto 0;
	}

	#indexPage .features .responsive-feature-img img,
	#indexPage .features-extra .responsive-feature-img img {
		width: 100%;
	}

	#indexPage .hero-strip {
		margin-top: 0;
	}

	#indexPage .blog-intro .leftcol {
		padding: 0 15px;
		margin-bottom: 15px;
		border-right: none;
	}

	#indexPage .blog-intro .rightcol {
		padding: 0 20px;
	}

	footer .social-share {
		display: none;
	}

	footer .footer-links {
		margin: 120px 0 120px 0;
	}
}
@media screen and (max-width:800px) {
	.priceBoxes{
	margin-left: 25%;
	}
.featureNumbersLeft{
	left: 0;
	top: 15%;
	}
	.featureNumbersRight{
	left: 0%;
	bottom: 54%;
	}
#indexPage .howitworksdiv .lastIcon{
	padding-left:0;
}
#indexPage .howitworksleft{
	border-right: 3px solid transparent;
}
#indexPage .howitworksdiv{
	margin-left:0;
}
#indexPage #aboutUsPage .hero-content{
	padding-top: 30%;
}
	}
@media screen and (max-width:750px) {
	#indexPage .featuresDivManager .cornerTop,#indexPage .featuresDivManager .cornerBottom{
	max-width: 8%;
}
	.priceBoxes{
	margin-left: 20%;
	}
}
	@media screen and (max-width:640px) {
	.featureNumbersLeft{
	left: 0;
	top: 10%;
	}
	#indexPage .testimonial-slider h2{
	margin: 30px 0;
	}
.featured-helpers{
	min-height:130px;
	margin:0 0 30px 0;
}
		footer ul.footer-group {
			border-top: none;
		}

		footer ul.footer-group li a {
			font-size: 13px;
			text-transform: uppercase;
			padding: 20px 0;
			display: block;
			border-bottom: dashed 1px #4E566C;
		}

		footer ul.footer-group li {
			display: block;
		}

		footer .footer-links {
			margin: 50px 0 50px 0;
		}

	}

	@media screen and (max-width:480px) {
	.featureNumbersLeft{
	left: -2.5%;
	top:7%;
	}
	.featureNumbersRight{
	left: -4%;
	bottom: 60%;
	}
		#indexPage .hero .hero-content {
			padding-top: 41%;
		}

		#indexPage .hero .btn {
			display: block;
			width: 80%;
			margin: 0 auto;
		}

		#indexPage .hero .btn:first-of-type {
			margin-bottom: 20px;
		}

		#indexPage .hero h1 {
			font-size: 40px;
		}

		#indexPage .btn-margin-right {
			margin-right: 0px;
		}

		#indexPage .features .device-showcase-left {
			position: absolute;
			bottom: -392px;
			left: 41%;
			right: auto;
			transform: translateX(-50%);
		}

		#indexPage .features .ipad-wrap {
			width: 706px;
			height: 1002px;
			background: url("../img/ipad-device.png") no-repeat center center;
			z-index: 1;
			background-size: 40%;
		}

		#indexPage .features .iphone-wrap {
			width: 304px;
			height: 617px;
			background: url("../img/iphone6.png") no-repeat center center;
			position: absolute;
			left: 350px;
			bottom: 129px;
			z-index: 2;
			background-size: 40%;
		}

		#indexPage .features {
			padding-bottom: 0;
		}

		#indexPage .down-arrow {
			display: none;
		}
	#indexPage .featured-helpers-content h5{
	width:57%;
	}
	
	}

	@media screen and (max-width:400px) {
		.featureNumbersLeft{
	left: -4%;
	top:0;
	}
	#indexPage .featured-helpers-content h5{
	width:45%;
	}
	}