@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,300,400italic,300italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Nunito:400,300,700);
/* ==========================================================================
Typography
========================================================================== */
#indexPage p {
  font-size: 15px;
  line-height: 29px;
  color: rgba(28, 54, 83, 0.6);
  padding-bottom: 20px; }

#indexPage h1 {
  font-size: 60px; }

#indexPage h2 {
  font-size: 40px;
  font-weight: 300;
  color: #3D4351; 
  float: none;
  }

#indexPage h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #3D4351; }

#indexPage h4 {
  font-size: 18px; }

#indexPage h5 {
  font-size: 15px;
  color: #3D4351;
  text-transform: uppercase;
  font-weight: 500; }

#indexPage .btn {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
  background-color:transparent;
  text-transform: uppercase; }

#indexPage .btn:hover, .btn:focus {
  color: #fff;
  border-color: #FF5274;
  background-color: #FF5274; }

#indexPage .btn-white {
  font-size: 13px;
  border: solid 2px;
  border-radius: 40px;
  display: inline-block;
 /* border-color: #f28015; */ }
#indexPage .fixed .btn-white{
	border-color: #f28015;
}

#indexPage .btn-white:hover, .btn-white:focus {
  color: #f28015;
  border-color: #f28015; }

#indexPage .btn-fill {
  color: #fff;
  border: solid 2px #f28015;
  border-radius: 40px;
  display: inline-block;
  text-transform: uppercase;
  background-color: #f28015; 
  margin-top: 10px;
  }

#indexPage .btn-fill:hover,#indexPage .btn-fill:focus {
  color: #fff;
  background-color: #f28015;
  border-color: #f28015; }

#indexPage .btn-small {
  padding: 10px 20px; }

#indexPage .btn-large {
  padding: 12px 25px; }

#indexPage .btn-margin-right {
  margin-right: 20px; }

#indexPage section.features-extra,#indexPage section.sign-up {
  background: #fff; }

#indexPage section.features,#indexPage section.blog-intro,#indexPage section.blog {
  background: #fbfbfb; }

#indexPage .joinCommunityNote{
line-height: 22px;
margin-bottom: 12px;
color: #333;
font-weight: 400;
  }

/* ==========================================================================
Global Styles
========================================================================== */
#indexPage .group:after {
  content: "";
  display: table;
  clear: both; }

#indexPage .no-padding {
  padding: 0; }

#indexPage .no-margin {
  margin: 0; }

#indexPage a {
  color: #FF5274;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color; }

#indexPage a:hover,#indexPage a:focus {
  color: #D7405D;
  text-decoration: none; }

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: rgba(28, 54, 83, 0.6);
  -webkit-text-size-adjust: 100%; }

#indexPage ul,#indexPage ol {
  margin: 0;
  padding: 0; }

#indexPage ul li {
  list-style: none; }

#indexPage .section-padding {
  padding: 90px 0; }

#indexPage .tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.4;
  visibility: visible;
  filter: alpha(opacity=0);
  opacity: 0; }

#indexPage .tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9; }

#indexPage .tooltip.top {
  padding: 5px 0;
  margin-top: -3px; }

#indexPage .tooltip.right {
  padding: 0 5px;
  margin-left: 3px; }

#indexPage .tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px; }

#indexPage .tooltip.left {
  padding: 0 5px;
  margin-left: -3px; }

#indexPage .tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  background-color: #000;
  border-radius: 4px; }

/* ==========================================================================
Animations
========================================================================== */
.pulse2 {
  -webkit-animation-name: pulse2;
          animation-name: pulse2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear; }

@-webkit-keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes pulse2 {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1); } }
.floating-arrow {
  -webkit-animation-name: floating-arrow;
          animation-name: floating-arrow;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-arrow {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  65% {
    -webkit-transform: translate(-50%, 15px);
            transform: translate(-50%, 15px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
.floating-logo {
  -webkit-animation-name: floating-logo;
          animation-name: floating-logo;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out; }

@-webkit-keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }

@keyframes floating-logo {
  from {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
  50% {
    -webkit-transform: translate(-50%, 10px);
            transform: translate(-50%, 10px); }
  to {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); } }
/* ==========================================================================
Waypoinsts
========================================================================== */
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6, .wp7, .wp8, .wp9 {
  visibility: hidden; }

.wp2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible; }

/* ==========================================================================
Navigation
========================================================================== */
#indexPage .header-nav.open {
  visibility: visible;
  opacity: 0.9;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s; }

#indexPage .nav-toggle {
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 999999;
  padding: 10px 35px 16px 0;
  cursor: pointer; }

#indexPage .nav-toggle:focus {
  outline: none; }

#indexPage .nav-toggle span,#indexPage .nav-toggle span:before,#indexPage .nav-toggle span:after {
  content: "";
  position: absolute;
  display: block;
  width: 35px;
  height: 3px;
  border-radius: 1px;
  background: #fff;
  cursor: pointer; }

#indexPage .nav-toggle span:before {
  top: -10px; }

#indexPage .nav-toggle span:after {
  bottom: -10px; }
  #indexPage .fixed .nav-toggle span:before{
  background:black;
  }
    #indexPage .fixed .nav-toggle span:after{
  background:black;
  }

#indexPage .nav-toggle span,#indexPage .nav-toggle span:before,#indexPage .nav-toggle span:after {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }

#indexPage .nav-toggle.active span {
  background-color: transparent; }

#indexPage .nav-toggle.active span:before,#indexPage .nav-toggle.active span:after {
  top: 0; }

#indexPage .nav-toggle.active span:before {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

#indexPage .nav-toggle.active span:after {
  top: 10px;
  -ms-transform: translatey(-10px) rotate(-45deg);
  -webkit-transform: translatey(-10px) rotate(-45deg);
  transform: translatey(-10px) rotate(-45deg); }

#indexPage .navicon {
  position: absolute;
  height: 26px;
  right: 10px;
  top: 48px;
  visibility: hidden;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }


/* ==========================================================================
Hero
========================================================================== */
.hero {
  min-height: 750px;
  background: url("../images/hero-section.png") center center;
  background-size: cover;
  position: relative; }
  .hero .down-arrow a {
    color: #fff; }
  .hero h1 {
    color: #fff;
    text-transform:none;
    margin-bottom: 10px; }
  .hero p.intro {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 80px; }
  .hero .hero-content {
    padding-top: 21%; }
#indexPage .introduction{
	font-size:32px;
	color:#fff;
	margin-bottom:10px;
	line-height: 37px;
	width:90%;
	word-wrap:break-word; 
}
#indexPage .navigation {
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 999; }

#indexPage .fixed {
  position: fixed;
  background-color: #fff;
  z-index: 999;
  width: 100%;
  height:90px; }

#indexPage header {
  padding: 20px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
  position: relative;
  width: 1170px;
  margin: 0 auto;
  -webkit-transition: padding 300ms ease-in-out;
          transition: padding 300ms ease-in-out; }
#indexPage header a {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px; }
#indexPage header a.login {
      margin-right: 20px; }
#indexPage header .logo {
    display: inline-block;
     }
     #indexPage .logo img{
     height:45px;
     }
#indexPage header ul.primary-nav {
    margin: 0 0 0 75px;
    padding: 0; }
#indexPage header ul.primary-nav li {
      display: inline; }
      #indexPage header ul.primary-nav li a {
        color: #fff;
        padding-right: 25px; }
        #indexPage header ul.primary-nav li a:hover {
          color: #f28105; }
      #indexPage header ul.primary-nav li:last-child a {
        padding-right: 0px; }
  #indexPage header ul.member-actions li {
    display: inline; }
    #indexPage header ul.member-actions li a {
      color: #fff; }
      #indexPage header ul.member-actions li a:hover {
        color: #f28105; }
  #indexPage header .header-nav {
    display: inline-block; }
  #indexPage .member-actions {
    position: absolute;
    right: 0;
    top: 20px;
    -webkit-transition: all 300ms ease-in-out;
            transition: all 300ms ease-in-out; }

#indexPage .down-arrow {
  color: #fff;
  font-size: 30px;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%); }
          #slider1{
	margin-left:40px;
}
#slider2{
	margin-left:10px;
	margin-bottom:10px;
}
#slider3{
	margin-left:2px;
}
#herosection1{
	background: url("../images/hero-section.png") center center;
}
#herosection2{
	background: url("../images/hero-section1.jpg") center center;
}
#herosection3{
	background: url("../images/hero-section2.jpg") center center;
}

/* ==========================================================================
Intro
========================================================================== */
.intro{
	background: url('../images/pattern-small.png') no-repeat center center;
}
.intro span.icon {
  font-size: 40px;
  color: #FF5274;
  font-weight: bold; }

.intro-icon {
  display: inline-block;
 /* vertical-align: top;
   padding: 6px 0 10px 0; */
  vertical-align:bottom;
  padding: 0 0 10px 0;
  margin-right: 8px;
 }
.intro-icon img{
	height:120px;
   width:120px;
  /* height:90px;
   width:90px; */
}
.intro-content {
  display: inline-block;
  /*width: 80%; */
  width:60% ;
  text-align: left;
  }
.intro-content h6{
font-weight:600;
	font-size:18px;
/*	font-weight:700;
	font-size:15px; */
}
#indexPage .intro-content p{
color:#3D4351;
font-size: 16px;
/* font-size: 14px; */
line-height: 20px;
font-weight: 400;
}
#indexPage .howitworksdiv{
	margin-left: 50px;
}
.howitworksdiv .intro-feature{
	padding: 0;
}
#indexPage .howitworksdiv .last{
	padding-bottom: 43px;
	width:68%;
	padding-left: 5px;
}
#indexPage .howitworksdiv .lastIcon{
	padding-left: 40px;
}
#indexPage .howitworksleft{
	border-right: 3px solid #ddd;
}
#indexPage #howitworksdiv1{
	margin-bottom: 50px
}
/* ==========================================================================
Features-stack
========================================================================== */
#indexPage .features.section-padding{
	padding-bottom: 0;
}
.features {
  position: relative; }
  .features p {
    margin-bottom: 0;
    padding-bottom: 0; }
  .features h3 {
    margin: 0 0 20px 0; }
  .features span.icon {
    font-size: 35px;
    color: #FF5274;
    font-weight: bold; }
  .features .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 8px 0 0 0;
    margin-right: 25px;
    width: 60px; }
  .features .feature-content {
    display: inline-block;
    width: 75%;
    padding-top: 12px }
  .features .intro-icon {
    display: inline-block;
    vertical-align: top;
    padding: 6px 0 0 0;
    margin-right: 20px; }
  .features .intro-content {
    display: inline-block;
    width: 80%; }
  .features ul.features-stack {
    margin-top: 50px; }
  .features ul.features-stack li {
    margin-top: 5px;
    padding:5px;
    border-bottom: solid 1px #E6E9EA; }
  .features ul.features-stack li:last-child {
    padding-bottom: 0px;
    border-bottom: none; }
  .features .ipad-wrap {
    width: 706px;
    height: 1002px;
    background: url("../images/laptop.png") no-repeat center center;
    z-index: 1; }
 /* .features .iphone-wrap {
    width: 304px;
    height: 620px;
    background: url("../img/iphone6.png") no-repeat center center;
    position: absolute;
    left: 530px;
    bottom: 129px;
    z-index: 2; } */
  .features .device-showcase {
    position: absolute;
    bottom: -365px;
    right: 61%; }

.features .responsive-feature-img, .features-extra .responsive-feature-img {
  display: none; }

.devices {
  position: relative; }
#indexPage .feature-content h5{
	color:#2181c8;
	font-weight:700;
	padding-bottom:5px;
	text-transform: none;
}
#indexPage .feature-content p{
color:#3D4351;
line-height: 20px;
font-weight: 400;}

#indexPage .feature-content-new{
	padding: 6% 5%;
	position: relative;
}
#indexPage .feature-content-new h5{
	color:#2181c8;
	font-weight:700;
	padding-bottom:7px;
	text-transform: none;
	font-size: 24px;
}
#indexPage .feature-content-new p{
color:#3D4351;
line-height: 20px;
font-weight: 400;
font-size: 16px;
}

.featuresDiv{
	padding: 20px 0 30px 0;
}
.featuresDivManager{
	padding: 0 0 20px 0;
}
#indexPage .featuresDivManager .feature-content-new{
	padding: 6% 5% 1%;
}

#indexPage .feature-content-new{
	position: relative;
}
.featureNumbers{
	position: relative;
}
.featureNumbers{
	 border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 50px;
    height: 50px;
    padding: 10px 8px 8px 8px;  
    border: 2px solid #ddd;
    color: #ddd;
    text-align: center; 
    font-size: 32px;
	position: absolute;
	font-weight: 600;
}
.featureNumbersLeft{
	left: 4%;
/*	bottom: 57.5%; */
    top:19%;
}
.featuresDivManager .featureNumbersLeft{
	bottom: 44%;
}
.featureNumbersRight{
	left: 4%;
	bottom: 57%;
}

#indexPage .cornerTop{
	position: absolute;
	top: -9.5px;
	right: 2%;
	max-width: 8%;
}
#indexPage .cornerBottom{
	position: absolute;
	bottom: -7px;
	left: 2%;
	max-width: 8%;
}
#indexPage .featuresDivManager .cornerTop,#indexPage .featuresDivManager .cornerBottom{
	max-width: 5%;
}
.featureContentDiv{
	z-index: 99;
	position: relative;
}
/* ==========================================================================
.testimonial-slider
========================================================================== */
.testimonial-slider {
  background: url("../images/testimonials.png") no-repeat center center;
  background-size: cover; }
  .testimonial-slider .avatar {
    width: 82px;
    height: 82px;
    margin: 0 auto;
    vertical-align: middle;
    overflow: hidden;
    border-radius: 50%;
    border: solid 3px #fff;
    background-color: #fff; }
    .testimonial-slider .avatar img {
      width: 82px;
      height: auto; }
  #indexPage .testimonial-slider h2 {
    color: #fff;
    font-size: 25px;
    font-weight: 300;
    font-style: italic;
    margin: 30px 40px; 
    width:90%;
    word-wrap:break-word;
    }
  #indexPage .testimonial-slider p {
    color: #ACB1B4;
    text-transform: uppercase;
    letter-spacing: 2px; }

/* ==========================================================================
To top
========================================================================== */
.to-top {
  height: 60px;
  background-color: #495061; }
  #indexPage .to-top a{
  color:#ffffff;
  }
  .to-top .to-top-wrap {
    height: 60px;
    width: 70px;
    position: absolute;
    right: 0;
    text-align: center; }
    .to-top .to-top-wrap a {
      display: block;
      width: 100%;
      height: 100%;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.15); }
    .to-top .to-top-wrap a:hover, .to-top .to-top-wrap a:focus {
      background-color: rgba(0, 0, 0, 0.4); }
    .to-top .to-top-wrap i {
      font-size: 30px;
      line-height: 55px; }
  .to-top .row {
    position: relative; }

/* ==========================================================================
Footer
========================================================================== */
footer {
  background-color: #3D4351;
  position: relative; }
  footer p {
    color: #ACB1B4;
    font-size: 13px; }
  footer a {
    color: #fff; }
  footer a:hover {
    color: #FF5274; }
  footer ul.footer-group {
    border-top: solid 1px #ccc;
    padding-top: 25px;
    margin-bottom: 45px; }
  footer ul.footer-group li {
    display: inline-block; }
  footer ul.footer-group li a {
    font-size: 10px;
    text-transform: uppercase; 
        color: #fff;}   
  footer ul.footer-group li a:hover {
    color: #FF5274; }
  footer ul.footer-group li {
    margin-right: 30px; }
  footer ul.footer-group li:last-child {
    margin-right: 0; }
  footer span.fa-heart {
    color: #ff415c;
    font-size: 15px;
    margin: 0 2px; }
  footer .social-share {
    position: absolute;
    background-color: #373D4A;
    right: 0;
    width: 40%;
    height: 100%;
    padding: 40px 0 0 70px; }
    footer .social-share p {
      color: #fff;
      text-transform: uppercase;
      padding-bottom: 10px; }
    footer .social-share a.twitter-share {
      height: 60px;
      width: 60px;
      background-color: #1AB4EF;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center;
      margin-right: 20px; }
    footer .social-share a.twitter-share:hover, footer .social-share a.twitter-share:focus {
      background-color: #1590BF; }
    footer .social-share a.facebook-share:hover, footer .social-share a.facebook-share:focus {
      background-color: #324C85; }
    footer .social-share a.facebook-share {
      height: 60px;
      width: 60px;
      background-color: #3B5898;
      border-radius: 3px;
      font-size: 22px;
      display: inline-block;
      text-align: center; }
    footer .social-share a {
      color: #fff; }
    footer .social-share a:hover {
      color: #fff; }
    footer .social-share a i {
      margin-top: 20px; }
  footer .footer-links {
    margin: 80px 0 80px 0; }
footer .social-share img{
	max-height: 50px;
}
/* ==========================================================================
Icon font (http://www.elegantthemes.com/blog/freebie-of-the-week/free-line-style-icons)
========================================================================== */
@font-face {
  font-family: 'et-line';
  src: url("../fonts/et-line.eot");
  src: url("../fonts/et-line.eot?#iefix") format("embedded-opentype"), url("../fonts/et-line.woff") format("woff"), url("../fonts/et-line.ttf") format("truetype"), url("../fonts/et-line.svg#et-line") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'et-line';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-mobile, .icon-laptop, .icon-desktop, .icon-tablet, .icon-phone, .icon-document, .icon-documents, .icon-search, .icon-clipboard, .icon-newspaper, .icon-notebook, .icon-book-open, .icon-browser, .icon-calendar, .icon-presentation, .icon-picture, .icon-pictures, .icon-video, .icon-camera, .icon-printer, .icon-toolbox, .icon-briefcase, .icon-wallet, .icon-gift, .icon-bargraph, .icon-grid, .icon-expand, .icon-focus, .icon-edit, .icon-adjustments, .icon-ribbon, .icon-hourglass, .icon-lock, .icon-megaphone, .icon-shield, .icon-trophy, .icon-flag, .icon-map, .icon-puzzle, .icon-basket, .icon-envelope, .icon-streetsign, .icon-telescope, .icon-gears, .icon-key, .icon-paperclip, .icon-attachment, .icon-pricetags, .icon-lightbulb, .icon-layers, .icon-pencil, .icon-tools, .icon-tools-2, .icon-scissors, .icon-paintbrush, .icon-magnifying-glass, .icon-circle-compass, .icon-linegraph, .icon-mic, .icon-strategy, .icon-beaker, .icon-caution, .icon-recycle, .icon-anchor, .icon-profile-male, .icon-profile-female, .icon-bike, .icon-wine, .icon-hotairballoon, .icon-globe, .icon-genius, .icon-map-pin, .icon-dial, .icon-chat, .icon-heart, .icon-cloud, .icon-upload, .icon-download, .icon-target, .icon-hazardous, .icon-piechart, .icon-speedometer, .icon-global, .icon-compass, .icon-lifesaver, .icon-clock, .icon-aperture, .icon-quote, .icon-scope, .icon-alarmclock, .icon-refresh, .icon-happy, .icon-sad, .icon-facebook, .icon-twitter, .icon-googleplus, .icon-rss, .icon-tumblr, .icon-linkedin, .icon-dribbble {
  font-family: 'et-line';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block; }

.icon-mobile:before {
  content: "\e000"; }

.icon-laptop:before {
  content: "\e001"; }

.icon-desktop:before {
  content: "\e002"; }

.icon-tablet:before {
  content: "\e003"; }

.icon-phone:before {
  content: "\e004"; }

.icon-document:before {
  content: "\e005"; }

.icon-documents:before {
  content: "\e006"; }

.icon-search:before {
  content: "\e007"; }

.icon-clipboard:before {
  content: "\e008"; }

.icon-newspaper:before {
  content: "\e009"; }

.icon-notebook:before {
  content: "\e00a"; }

.icon-book-open:before {
  content: "\e00b"; }

.icon-browser:before {
  content: "\e00c"; }

.icon-calendar:before {
  content: "\e00d"; }

.icon-presentation:before {
  content: "\e00e"; }

.icon-picture:before {
  content: "\e00f"; }

.icon-pictures:before {
  content: "\e010"; }

.icon-video:before {
  content: "\e011"; }

.icon-camera:before {
  content: "\e012"; }

.icon-printer:before {
  content: "\e013"; }

.icon-toolbox:before {
  content: "\e014"; }

.icon-briefcase:before {
  content: "\e015"; }

.icon-wallet:before {
  content: "\e016"; }

.icon-gift:before {
  content: "\e017"; }

.icon-bargraph:before {
  content: "\e018"; }

.icon-grid:before {
  content: "\e019"; }

.icon-expand:before {
  content: "\e01a"; }

.icon-focus:before {
  content: "\e01b"; }

.icon-edit:before {
  content: "\e01c"; }

.icon-adjustments:before {
  content: "\e01d"; }

.icon-ribbon:before {
  content: "\e01e"; }

.icon-hourglass:before {
  content: "\e01f"; }

.icon-lock:before {
  content: "\e020"; }

.icon-megaphone:before {
  content: "\e021"; }

.icon-shield:before {
  content: "\e022"; }

.icon-trophy:before {
  content: "\e023"; }

.icon-flag:before {
  content: "\e024"; }

.icon-map:before {
  content: "\e025"; }

.icon-puzzle:before {
  content: "\e026"; }

.icon-basket:before {
  content: "\e027"; }

.icon-envelope:before {
  content: "\e028"; }

.icon-streetsign:before {
  content: "\e029"; }

.icon-telescope:before {
  content: "\e02a"; }

.icon-gears:before {
  content: "\e02b"; }

.icon-key:before {
  content: "\e02c"; }

.icon-paperclip:before {
  content: "\e02d"; }

.icon-attachment:before {
  content: "\e02e"; }

.icon-pricetags:before {
  content: "\e02f"; }

.icon-lightbulb:before {
  content: "\e030"; }

.icon-layers:before {
  content: "\e031"; }

.icon-pencil:before {
  content: "\e032"; }

.icon-tools:before {
  content: "\e033"; }

.icon-tools-2:before {
  content: "\e034"; }

.icon-scissors:before {
  content: "\e035"; }

.icon-paintbrush:before {
  content: "\e036"; }

.icon-magnifying-glass:before {
  content: "\e037"; }

.icon-circle-compass:before {
  content: "\e038"; }

.icon-linegraph:before {
  content: "\e039"; }

.icon-mic:before {
  content: "\e03a"; }

.icon-strategy:before {
  content: "\e03b"; }

.icon-beaker:before {
  content: "\e03c"; }

.icon-caution:before {
  content: "\e03d"; }

.icon-recycle:before {
  content: "\e03e"; }

.icon-anchor:before {
  content: "\e03f"; }

.icon-profile-male:before {
  content: "\e040"; }

.icon-profile-female:before {
  content: "\e041"; }

.icon-bike:before {
  content: "\e042"; }

.icon-wine:before {
  content: "\e043"; }

.icon-hotairballoon:before {
  content: "\e044"; }

.icon-globe:before {
  content: "\e045"; }

.icon-genius:before {
  content: "\e046"; }

.icon-map-pin:before {
  content: "\e047"; }

.icon-dial:before {
  content: "\e048"; }

.icon-chat:before {
  content: "\e049"; }

.icon-heart:before {
  content: "\e04a"; }

.icon-cloud:before {
  content: "\e04b"; }

.icon-upload:before {
  content: "\e04c"; }

.icon-download:before {
  content: "\e04d"; }

.icon-target:before {
  content: "\e04e"; }

.icon-hazardous:before {
  content: "\e04f"; }

.icon-piechart:before {
  content: "\e050"; }

.icon-speedometer:before {
  content: "\e051"; }

.icon-global:before {
  content: "\e052"; }

.icon-compass:before {
  content: "\e053"; }

.icon-lifesaver:before {
  content: "\e054"; }

.icon-clock:before {
  content: "\e055"; }

.icon-aperture:before {
  content: "\e056"; }

.icon-quote:before {
  content: "\e057"; }

.icon-scope:before {
  content: "\e058"; }

.icon-alarmclock:before {
  content: "\e059"; }

.icon-refresh:before {
  content: "\e05a"; }

.icon-happy:before {
  content: "\e05b"; }

.icon-sad:before {
  content: "\e05c"; }

.icon-facebook:before {
  content: "\e05d"; }

.icon-twitter:before {
  content: "\e05e"; }

.icon-googleplus:before {
  content: "\e05f"; }

.icon-rss:before {
  content: "\e060"; }

.icon-tumblr:before {
  content: "\e061"; }

.icon-linkedin:before {
  content: "\e062"; }

.icon-dribbble:before {
  content: "\e063"; }
/*Headings*/
#indexPage .headings{
	font-size: 32px;
	text-align: center;
	padding-bottom: 30px;
	font-weight: 400;
}
/*How it works section */
.intro-feature{
	text-align:center;
}
/* .howItWorks{
	margin-left: 7%;
}
.howItWorks div:nth-child(2){
	margin-left: 10px;
	margin-right: 10px;
} /*
/*Login form*/
#indexPage .box-sing-up form input[type="password"],#indexPage .box-sing-up form input[type="email"]{
	width:100%
}
/*featured-helpers section*/
.featured-helpers-section{
	background:url('../images/pattern-small.png') no-repeat center center;
	}
 #indexPage .featured-helpers{
	min-height:160px;
	border: solid 1px #ccc;
	padding: 10px 25px 0;
	margin: 0 30px 30px 0;
	
}
.featured-helpers-icon{
	display: inline-block;
	width:30%;
	vertical-align:top;
	margin-right:15px;
}
.featured-helpers-icon img{
	margin-top: 7px;
	max-height:140px;
}

.featured-helpers-content{
	display: inline-block;
	width:60%;
	padding-top: 12%;
}
#indexPage .featured-helpers-content p{
line-height: 17px;	
color:#30333a;
font-size: small;
display: inline-block;
width: 25%;
}
#indexPage .featured-helpers-content h4{
	color:#2181c8;
	font-size: 22px;
	padding-bottom: 10px;
	}
	#indexPage .featured-helpers-content h5{
font-weight:400;
text-transform: none;
padding-bottom: 10px;
display: inline-block;
width:73%;
font-size: 16px;
	}
	#youTheHelper{
	border:none;
	}
	
	/*services-offered-section*/
	#servicesOfferedDiv{
	text-align: center;
	}
	.services-offered-section .servicesOffered{
	position: relative; 
	display: inline-block;
	margin:0 15px;
	
	}
	.servicesOffered img{
	max-height:270px;
	max-width:270px;
	}
	#indexPage .servicesOffered h4{ 
   position: absolute; 
   top: 60px; 
   left: 20px; 
    color:#ffffff;
   width: 80%; 
   text-align: center;
   border-bottom: solid 1px #ccc;
   font-size: 24px;
}
.servicesOffered h6{ 
   position: absolute; 
   top: 110px; 
   left: 20px; 
    color:#ffffff;
   width: 80%; 
   text-align: center;
   font-size: 16px;
   line-height: 18px;
}
#servicesoffered{
	padding:70px 0 90px;
}
/************* Contact Us section***************/
.ContactUs-section input[type=email]{
	width:100%
}
#ContactUsForm{
	padding-left: 4%;
	padding-top: 15px;
}
.ContactUs-section {
  position: relative; }
.ContactUs-section p {
    margin-bottom: 0;
    padding-bottom: 0; }
  .ContactUs-section .feature-icon {
    display: inline-block;
    vertical-align: top;
    padding: 12px 0 0 0;
    margin-right: 25px;
    width: 55px; }
 .ContactUs-section .feature-content {
    display: inline-block;
    width: 75%;
    padding-top: 20px }
 .contactUsFormBtn{
 text-align:center;
 }
 .contactusemail{
 width:70%;
 background:#2181c8;
 text-align: center;
 border:1px solid #2181c8;
 border-radius:30px;
 color: #fff;
 padding: 10px 0;
 margin-bottom: 20px;
 }

  /* About us page */
  .about-us-footer-section{
  background: url("../images/pattern-small.png") no-repeat center center;
  }
 #indexPage #aboutUsPage {
  min-height: 400px;
  background: url("../images/about-us-photo.jpg") center center;
  background-size: cover;
  position: relative; }
   #indexPage #aboutUsPage h2{
   color:#fff;
   padding-left: 45px;
   }
   #indexPage #aboutUsPage .introduction{
   font-size:30px;
   padding-left: 40px;
   }
   #indexPage .whatwedo{
   color:#333;
   line-height:24px;
   }
   #indexPage #aboutUsPage .hero-content{
   padding-top: 15%;
   }
  .founder-image{
  vertical-align:bottom;
   display:inline-block;
   width:15%;
   line-height: 24px;
   margin-right:25px;
   }
   .founder-image img{
 border-radius:100%;
   }
   .founder-content{
   color:#333;
   display:inline-block;
   width:81%;
   line-height:24px;
   }
   .aboutusheadings{
   text-align: center;
   font-size: 20px;
   font-weight: 600;
   padding-bottom: 10px;
   }
   .about-us-content{
   margin-left:12%;
   }
   .aboutusdiv{
   margin-bottom: 20px;
   }
   
   [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

     /**************************  beta launcher section  *****************************/
     .betaLauncher-section{
     background:url('../images/pattern-small.png') no-repeat center center;
     }
     #betaLauncherDiv{
    min-height:200px;
	border: solid 1px #ccc;
	padding: 30px 30px 20px 30px;
	background:#fff;
     }
     #betaLauncherDiv p{
     color:#333;
     line-height: normal;
     padding-bottom: 8px;
     }
    #indexPage #blueInBetaLauncher{
     color:#2181c8;
     margin-bottom: 0;
     }
   #indexPage .joinNowBetaLaunch{
   text-align: center;
   }
   /***************************  Plans and pricing  **********************************/
   #indexPage #plansandpricingpage{
   min-height: 60px;
   background: #fff;
   }
   #indexPage #plansandpricingpage ul.member-actions li a{
   color: #333;
   border-color: #f28015;
   }
   #indexPage #plansandpricingpage header{
 
   box-shadow:0 3px 2px -2px #eee;
   }
   #indexPage .priceBoxes{
   border: 2px solid #eee;
   margin: 2% 1%;
   padding: 2% 0;
   min-height: 560px;
   }
   .priceBoxes .fa{
    border-radius: 50%;
    behavior: url(PIE.htc); /* remove if you don't care about IE8 */
    width: 20px;
    height: 20px;
    padding: 3px 3px 3px 2px;  
    border: 2px solid #ddd;
    color: #ddd;
    text-align: center; 
    font-size: 11px;
    display: initial;
   }
   .PlanCheckContent{
   font-size: 12px;
   padding-left: 6px;
   color: #3D4351;
   width: 210px;
   display: inline-flex;
   line-height: 18px;
   text-align: left;
   }
   
   .pricingCards{
   text-align: center;
   }
   
   #indexPage .btn-select-plan{
   background-color: #2181c8;
   color: #fff;
   border-radius:20px;
   padding:7px 15px;
   }
   
   #indexPage .btn-select-plan:hover{
   color: #fff;
   }
   #indexPage .planName{
   text-transform: none;
   color: #2181c8;
   font-weight: 700;
   font-size: 16px;
   padding-bottom: 8px;
   }
   #indexPage .price{
   color: #f28015;
   font-weight: 600;
   padding-bottom: 0;
   text-transform: none;;
   }
   #indexPage .plans{
   padding: 0 0 0 10px;
   line-height: 25px;
   float: left;
   }
   #indexPage .plansDiv{
   min-height: 370px;
   padding-top: 10px;
   }
  
  #indexPage .recommendedPlan{
  border: 2px solid #f28015;
  }
  #indexPage .pricingInfo{
  min-height: 110px;
  }
   #indexPage .pricingInfoPremiumPlus{
  min-height: 90px;
  }
  /*************/
  #indexPage #popup-login p, #indexPage #popup-sing-up p{
  padding-bottom: 5px;
  }
  #indexPage .forgotPasswordLink a{
  color: #2181c8;
  }
    #indexPage .forgotPasswordLink a:hover{
  text-decoration: underline;
  }
  /*************/
  #popup-joinnow p{
  padding-bottom: 0;
  }
  /*************/
  #popup-basicPlan .priceBoxes{
  border: none;
  min-height: 50px;
  }
  
  .okBtn{
  text-align: center;
  }
  
  #popup-premiumPlan .priceBoxes{
  border: none;
  min-height: 90px;
  }
  
  /***************** Community landing pages  *****************/
  #communityLandingHero{
    background: url("../images/kids.png") center center;
  }
  .btn-join{
    background-color: #2181c8;
    color: #fff;
    border: solid 2px #2181c8;
    padding: 2px 20px;
    border-radius: 40px;
  }
  #indexPage .allCommunititesJoin{
    border: 1.5px solid #d7d7d7;
    padding: 0;
    padding-right:5px;
    margin-right:20px;
    margin-bottom: 10px;
  }
   .allCommunititesJoin div{
   padding:5px;
   }
   .allCommunititesJoin img{
   height: 65px;
   width: 65px;
   }
   #indexPage .landingCommunityName{
   padding:20px 5px;
   line-height:18px;
   }
   #indexPage .landingJoinBtn{
   padding:20px 0 20px 12px;
   }
   #indexPage .btn-join{
   color: #fff;
   background:#2181c8;
   border:1px solid;
   border-color:#2181c8;
   /* padding:1px 20px 3px  20px; */
   padding: 5px 30px 5px  30px;
   }
    #indexPage .sponsorsUl li{
  width:14%;
   } 
   #indexPage .sponsorsUl{
   padding: 20px 0px 0px 0;
   }
   #indexPage .landingSignUpBtn{
   color: #fff;
   background:#333333;
   border:2px solid;
   border-color:#fff;
   padding:4px 20px 6px  20px;
   border-radius:40px;
   text-transform: Uppercase;
   }
    #communityLandingHero .member-actions{
   margin: 10px;
   }
    #indexPage .landingContactusBtn{
   color: #fff;
   background:#333333;
   padding:6px 23px 9px  23px;
   border-radius:30px;
   font-size:13px;
   text-transform: Uppercase;
   }
    #indexPage #ContactUs p{
       padding-bottom:8px;
    }
   #indexPage #ContactUs hr{
   margin-top:0;
   margin-bottom:10px;
   }
   #indexPage .landingJoinNow{
   color: #fff;
   background:#2180ba;
   padding:12px 32px 13px  32px;
   border-radius:30px;
   font-size:11px;
   text-transform: Uppercase;
   }
   #indexPage #sponsorImgsDash{
   background:#fff;
   }
   #indexPage a:hover{
   color:#e27a14;
   }
   
   
   